.black_friday_products {
	background-color: #000;
	.products_grid {
		width: 100%;
		// display: grid;
		// grid-template-columns: repeat(auto-fill, minmax(325px, 375px));
		// grid-template-rows: auto;
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-wrap: wrap;
		gap: 24px;
		padding: 24px;
		@include mq(575) {
			padding: 24px 12px;
		}
		.product_item {
			border-radius: 16px;
			padding: 24px;
			background-color: white;
			max-width: 360px;
			min-width: 360px;
			@include mq(575) {
				max-width: 310px;
				min-width: 310px;
			}
			@include mq(420) {
				max-width: unset;
				min-width: unset;
				width: 100%;
			}
			margin: 0;
			.series {
				margin: 12px 0;
				font-size: 30px;
				color: #202020;
				line-height: 36px;
				font-weight: bold;
			}
			.sale_limit {
				color: gray;
				font-weight: 600;
				font-size: 16px;
				line-height: 27px;
			}
			.title {
				margin: 0 0 12px 0;
				font-size: 22px;
				font-weight: 400;
				color: #202020;
				&.mb-25 {
					margin-bottom: 120px;
				}
			}
			.types {
				width: 100%;
				p {
					margin: 6px 0;
					color: #202020;
					font-weight: 400;
					font-size: 14px;
					line-height: 24px;
				}
				.types_list {
					display: flex;
					flex-flow: row nowrap;
					justify-content: center;
					align-items: center;
					align-self: center;
					margin-bottom: 12px;
					width: 100%;
					@include mq(420){
						flex-wrap: wrap;
					}
					button {
						border: 1px solid #404040;
						height: 40px;
						min-width: 40px;
						line-height: 40px;
						border-radius: 4px;
						margin: 12px;
						text-align: center;
						color: #202020;
						background-color: #fff;
						&.active {
							color: white;
							background-color: gray;
						}
					}
				}
			}
			.new_price {
				font-size: 24px;
				color: #00cccc;
				line-height: 28px;
				direction: ltr;
			}
			.sale {
				margin-left: 12px;
				font-size: 20px;
				line-height: 24px;
				color: #202020;
			}
			.old_price {
				color: #202020;
			}
			.img_container {
				position: relative;
				width: 85%;
				padding-top: 65%;
				&.vertical {
					width: 50%;
					padding-top: 100%;
				}
				> div {
					position: absolute !important;
					left: 50%;
					top: 0;
					transform: translateX(-50%);
					width: 100%;
					height: 100%;
				}
				@include mq(768) {
					width: 100%;
				}
			}
		}
		.retailers_dialog {
			display: block;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100vh;
			z-index: 1001;
			.backdrop {
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.75);
			}
			.dialog_body {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				max-width: 620px;
				width: 100%;
				padding: 24px;
				height: fit-content;
				max-height: 720px;
				background-color: #fff;
				@include mq(768) {
					width: 85%;
				}
				.content {
					overflow: auto;
					max-height: 670px;
				}
				.close_button {
					position: absolute;
					right: 0;
					top: 0;
					transform: translate(50%, -50%);
					display: block;
					width: 30px;
					height: 30px;
					line-height: 30px;
					color: #fff;
					border-radius: 50%;
					background: #000;
				}
				p {
					width: 100%;
					color: #202020;
					font-size: 18px;
					font-weight: 500;
					margin-bottom: 30px;
				}
				img {
					object-fit: contain;
				}
			}
		}
	}
	.note {
		margin: 0 auto;
		padding: 10px 0 40px;
		max-width: 78.5%;
		* {
			font-size: 12px;
			color: #ffffff !important;
			text-align: center;
			line-height: 30px;
		}
	}
}
