.color-feature {
  .block-video {
    position: relative;

    video {
      object-fit: cover;
    }

    .video-content {
      position: absolute;
      bottom: 5%;
      left: 9%;
    }
  }

  @include mqm(1200) {
    .top_text {
      p {
        max-width: 790px;
        font-size: 24px !important;
      }
    }
  }
}
