.l-nine-g-faqs {
	.question-wrapper {
		width: 100%;
		border-bottom: 1px solid #d4d4d4;
		.question {
			width: 100%;
			cursor: pointer;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			span {
				font-weight: 400;
				font-size: 18px;
				line-height: 26px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			svg {
				padding: 0 0 0 8px;
				transform: rotate(0deg);
				transition: transform 0.3s 300ms ease-in-out;
			}
		}

		.answer {
			background-color: #e6e6e6;
			max-height: 0px;
			overflow: hidden;
			border-left: 1px solid #e6e6e6;
			border-right: 1px solid #e6e6e6;
			transition: all 0.8s ease-in;
			span {
				font-size: 18px;
				line-height: 26px;
				font-weight: 300;
			}
		}
		&.open {
			.question {
				span {
					white-space: normal;
				}
				svg {
					transform: rotate(180deg);
					padding: 0 8px 0 0;
				}
			}
			.answer {
				max-height: 500px;
			}
		}
	}
}

@media (max-width: 1400px) {
	.l-nine-g-faqs {
		.question-wrapper {
			.question {
				padding: 24px;
				span {
					font-size: 16px;
					line-height: 24px;
				}
			}
			.answer {
				span {
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.l-nine-g-faqs {
		.question-wrapper {
			.question {
				span {
					white-space: normal;
					text-overflow: unset;
					overflow: unset;
				}
			}
		}
	}
}