.fine-touches {
    .device-video-container {
        max-width: 1080px;
        margin: 0 auto;
        display: block;
        .device-video {
            width: 100%;
            max-height: 700px;
            object-fit: cover;
            vertical-align: middle;
        }
    }
}