.specs-l-nine-g {
	padding: 100px 30px;
	&.black-banner {
		// background: #1e1e1e;
	}
	.specs-btn {
		border: 1px solid #7e7e7e !important;
		&:hover,
		&:focus {
			border-color: #fff !important;
			background: transparent;
			color: #fff;
			box-shadow: none;
		}
		&:focus {
			border: 1px solid #7e7e7e !important;
		}
		&:focus:hover {
			border-color: #fff !important;
		}
	}
	.specs-container {
		.title {
			padding-top: 120px;
			color: #fff;
			font-size: 24px;
			font-weight: 300;
			margin-bottom: 4px;
		}
		.specs-table {
			display: flex;
			flex-flow: column wrap;
			justify-content: flex-start;
			border-top: 1px solid #a19db4;
			max-width: 100%;
			max-height: 1330px;
			.spec-block {
				width: 50%;
				flex: 0 1 auto;
				border-right: 1px solid #a19db4;
				border-left: 1px solid #a19db4;
				display: flex;
				flex-flow: column nowrap;
				justify-content: flex-start;
				align-items: stretch;
				.block-title {
					font-size: 18px;
					text-align: center;
					padding: 15px;
					font-weight: 300;
					margin: 0;
					color: #fff;
					border-bottom: 1px solid #a19db4;
				}
				.block-content {
					width: 100%;
					dl {
						padding: 0 !important;
						border-bottom: 1px solid #a19db4;
						&:nth-child(odd) {
							background-color: #2f2f2f;
						}
					}
					dt {
						border-right: 1px solid #a19db4;
					}
					dl,
					dt,
					dd {
						flex: 1 1 50%;
						font-size: 14px;
						font-weight: 300;
						color: #a8a8a8;
						line-height: 22px;
						margin: 0;
						padding: 6px 6px 6px 24px;
						display: flex;
						justify-content: flex-start;
						align-items: center;
					}
				}
			}
		}
	}
}
.specs-table {
	.specs {
		.specs-container {
			max-height: 0;
			overflow-y: hidden;
			transition: max-height 0.8s ease-out;
		}
		h3 {
			font-weight: 700;
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 35px;
			padding: 5px;
		}
		.discription-list {
			dt {
				display: none;
				visibility: hidden;
				pointer-events: none;
				text-indent: 0;
				width: 100%;
			}
			dd {
				font-size: 15px;
				line-height: 30px;
				margin: 0;
				padding: 5px;
				color: #292929;
				&::before {
					content: attr(data-label);
					font-weight: 700;
					font-size: 15px;
					line-height: 30px;
					color: #000000;
					display: block;
				}
			}
		}
	}
}
@media (max-width: 575px) {
	.specs-table {
		.specs .discription-list dd {
			font-size: 15px;

			&::before {
				font-weight: 600;
				font-size: 13px;
			}
		}
	}
}
