/* contact info */
.contact-info {
	h2 {
		text-align: center;
		font-size: 42px;
		line-height: 48px;
		text-transform: uppercase;
		color: #292929;
		margin-bottom: 48px;
	}
	ul {
		list-style: none;

		&:last-child {
			margin-top: 30px;
		}

		li {
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			text-decoration: none;
			a {
				font-weight: 400;
				font-size: 18px;
				line-height: 30px;
				text-decoration: none;
			}
		}
	}
}

@media (max-width: 575px) {
	.contact-info ul {
		padding: 0 20%;
	}
}
