/* contact info */
.contact-info {
	h2 {
		text-align: center;
		font-size: 42px;
		line-height: 48px;
		text-transform: uppercase;
		color: #292929;
		margin-bottom: 48px;
	}
	ul {
		list-style: none;

		&:last-child {
			margin-top: 30px;
		}

		li {
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			text-decoration: none;
			a {
				font-weight: 400;
				font-size: 18px;
				line-height: 30px;
				text-decoration: none;
			}
		}
	}

	> div {
		&:nth-child(n + 2) {
			border-left: 1px solid #000;
			p {
				&::after {
					content: '';
					display: block;
					width: 100%;
					height: 4px;
					background-color: var(--primary-color);
					position: relative;
				}
			}
		}
		img {
			max-width: 80px;
		}
	}
}

@media (max-width: 575px) {
	.contact-info ul {
		padding: 0 20%;
	}
}

.contact-us-new-form input.form-container-inner-input {
	background: none;
	padding-right: 12px;
}

.support-type-contact-us {
	background: #fff;
	padding: 45px 0;
	text-align: center;
	color: #000;
	border: 1px solid #000;
	transition: all 0.2s ease;
	cursor: pointer;
	&:hover {
		background: var(--primary-color);
		color: #fff;
		border: 1px solid var(--primary-color);
	}
}

.tab-btn-contact-us {
	&::after {
		bottom: -22px !important;
		height: 3px !important;
	}
}

@media (max-width: 768px) {
	.contact-info > div:nth-child(n + 2) {
		border-left: none;
	}
}
.heading-contact-us {
	img {
		max-height: 450px;
		object-fit: cover;
	}
	h3 {
		font-size: 42px;
	}
}
