.day-100 {
	.bg-eggplant {
		background: #220237;
	}
	.bg-purple {
		background: #441353;
	}
	.bg-gradient-blush {
		background: linear-gradient(180deg, #ffd1fc 50%, #fad0c6bb 100%);
	}
	.bg-grey {
		background: #e6e6e6;
	}
	.star {
		position: absolute;
		top: -17px;
		left: 50%;
		transform: translateX(-50%);
	}
	.header-banner-text {
		right: 0%;
		left: 0;
		bottom: 0;
	}
	.header-100-day {
		a {
			&:first-child {
				img {
					border-left: none !important;
				}
			}
		}
	}
	.warranty-adv {
		border-radius: 30px;
		background-color: #511865;
		text-align: center;
		padding: 80px 40px;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		&:hover {
			background-color: #00a6a5;
		}
		h2 {
			font-size: 42px;
			font-weight: bold;
			color: #fffefe;
			margin-bottom: 50px;
		}
		p {
			font-size: 18px;
			font-weight: bold;
			color: #ffbbf3;
			margin: 0;
		}
	}
	.guarantee-details {
		color: #bfbfbf;
		font-size: 20px;
		text-align: center;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: none;
				color: #ffbbf3;
			}
		}
	}
	.expert-adv {
		text-align: center;
		h2 {
			color: #3b1855;
			font-size: 42px;
			text-transform: uppercase;
			margin: 0;
		}
	}
	.feature-badge {
		h3 {
			position: relative;
			z-index: 10;
			color: #33124d;
		}
		.double-quote {
			color: transparent;
			-webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
			position: absolute;
		}
	}
	.eligble-models {
		.text-purple {
			text-decoration: none;
			&:hover {
				color: #885aa4;
			}
		}
		.btn-primary {
			background-color: #00a6a5 !important;
			border-color: #00a6a5 !important;
		}
		.item {
			width: 400px;
			background-color: #fff;
			border-radius: 15px;
			padding: 25px;
			.text-primary {
				color: #62b7c7 !important;
			}
			.item-size {
				font-size: 16px;
				font-weight: 500;
				color: #6f6e6e;
			}
			.item-series {
				font-size: 25px;
				font-weight: 500;
				color: #2b0a42;
				margin-bottom: 15px;
			}
			.item-features {
				ul {
					list-style: none !important;
					padding: 0;
					li {
						text-align: center;
						font-size: 15px;
						font-weight: normal;
						color: #6f6e6e;
						padding: 7px 0;
						border-bottom: solid 1px #6f6e6e;
						&:last-child {
							border-bottom: none;
						}
					}
				}
			}
			.infill-overlay {
				position: absolute;
				left: 50%;
				top: 50%;
				font-size: 36px;
				width: 95%;
				padding: 10px;
				transform: translate(-50%, -50%);
				background-color: #ffcf6a;
				color: #ff0101;
			}
		}
	}
}

@media (max-width: 768px) {
	.day-100 {
		.warranty-adv {
			border-radius: 20px;
			padding: 50px 20px;

			h2 {
				font-size: 26px;
			}
			p {
				font-size: 16px;
			}
		}
		.guarantee-details {
			font-size: 16px;
		}
		.star {
			display: none;
		}
		.header-secondary {
			padding: 60% 0;
			position: relative;
			.logos {
				position: absolute;
				left: 50%;
				bottom: 0;
				width: 100%;
				text-align: center;
				transform: translate(-50%, -30%);
				img {
					position: relative;
				}
			}
		}
	}
	.under-line {
		&::after {
			display: none;
		}
		p {
			font-size: 20px !important;
		}
	}
}
