.product_support_support_box {
	.support-time {
		max-width: 180px;
	}
	.download-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-decoration: none !important;
		* {
			transition: all 0.2s ease-in;
		}

		&:hover {
			background: #f7f7f7;
			.text-muted {
				color: #292929 !important;
			}
			.text-light {
				color: var(--primary-color) !important;
			}
		}
	}
}
.product-support-head {
	.image-container {
		position: relative;
		padding-top: 80%;
		height: 0;
		text-align: center;
		> div {
			position: absolute !important;
			top: 45%;
			width: 100%;
			height: 100%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		// img{
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 50%;
		// 	transform: translate(-50%, -50%);
		// 	height: 80%;
		// 	width: auto;
		// 	max-width: 100%;
		// }
	}
	.download-able-item {
		padding: 25px;
		border-radius: 25px;
		border: 1px solid #000;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #000;
		text-decoration: none;
		transition: all 0.3s ease-in;
		height: 100%;
		word-break: break-all;
		svg {
			width: 20px;
			height: 20px;
		}

		&:hover {
			background-color: #f2f2f2;
		}
	}
}
.product_support_head_image {
	// width: unset !important;
	max-width: 464px;

	img {
		object-fit: contain !important;
	}
}
.videos-container-product-support {
	overflow-y: auto;
	max-height: 650px;
}

.product-support-accordion {
	.accordion-item {
		border-top: 2px solid #ccc;
		padding: 15px 0;

		&:last-child {
			border-bottom: 2px solid #ccc;
		}
	}
	.accordion-body {
		font-size: 14px;
		font-weight: 300;
	}
	.accordion-button {
		font-weight: 400;
		&:not(.collapsed) {
			color: #000 !important;
			background-color: #fff !important;
			box-shadow: none !important;
			&::after {
				transform: rotate(45deg) !important;
			}
		}

		&:focus {
			box-shadow: none !important;
		}

		&::after {
			background-image: none !important;
			content: '\2b' !important;
			color: var(--primary-color);
			font-size: 35px;
			width: 40px !important;
		}
	}
	.accordion-button,
	.accordion-body {
		padding-left: 0;
		padding-right: 0;
	}
}
.product_support_video_gallery {
	max-width: 1248px;
	margin: 0 auto;
	padding: 75px 16px 87px;
	@include mq(768) {
		padding: 50px 16px 42px;
	}
	.title {
		margin-bottom: 73px !important;
		text-align: center;
		@include mq(768) {
			margin-bottom: 32px !important;
		}
		margin: 0;
		font-size: 34px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.1; /* 135% */
		letter-spacing: -0.68px;
		color: #000;
		@include mq(768) {
			font-size: 20px;
			letter-spacing: -0.4px;
		}
	}
	.videos {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 32px 16px;
		flex-wrap: wrap;
		height: auto !important;
		overflow: unset !important;
		.video_wrapper {
			&.hold_1 {
				width: 100%;
				max-width: 800px;
				margin: 0 auto;
				@include mq(768) {
					max-width: unset;
				}
			}
			&.hold_2 {
				width: 100%;
				max-width: calc(50% - 8px);
				@include mq(768) {
					max-width: unset;
				}
			}
			&.hold_3 {
				width: 100%;
				max-width: calc(33.33% - 11px);
				@include mq(768) {
					max-width: unset;
				}
			}
			section {
				border-radius: 25px;
				overflow: hidden;

				.video_feature {
					.button_group {
						gap: 16px;
						@include mq(991) {
							padding: 16px;
						}
						@include mq(768) {
							padding: 32px;
						}
						@include mq(575) {
							padding: 16px;
						}
						button {
							padding: 4px;
							img {
								width: 22px;
								height: auto;
								@include mq(768) {
									width: 17px;
								}
							}
						}
					}
				}
			}

			.info {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: row;

				padding: 16px 32px 0;
				flex-wrap: wrap;
				@include mq(768) {
					flex-direction: column;
					justify-content: center;
					gap: 16px;
				}
				.title {
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 18.9px; /* 135% */
					letter-spacing: -0.28px;
					color: #000;
					margin: 0 !important;
				}
				.caption {
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 16.2px; /* 135% */
					color: #000;
					margin: 0 !important;
				}
			}
		}
	}
}

.product_support_nav_container {
	z-index: 99999;
	position: sticky;
	top: 0;

	.product_support_nav {
		background: #232323;
		padding: 28px 16px;
		@include mq(768) {
			padding: 16px;
		}
		.container_nav {
			max-width: 1110px;
			margin: 0 auto;
			.items {
				padding: 0;
				margin: 0;
				list-style: none;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 16px;
				&.vertical {
					flex-direction: column;
					align-items: flex-start;
					gap: 0;
					li {
						padding: 16px 0;
						width: 100%;
						border-bottom: 1px solid #525454;
						&:first-child {
							padding-top: 0;
						}
						&:last-child {
							padding-bottom: 12px;
							border-bottom: none;
						}
					}
				}
				.model {
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 21.6px; /* 135% */
					letter-spacing: -0.32px;
					color: #00aaa6;
				}
				.link {
					color: #fff;
					text-decoration: none;
					span {
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 18.9px; /* 135% */
						&:hover {
							&::after {
								width: 100%;
							}
						}
					}
				}
				.menu_btn {
					border: none;
					padding: 0px;
					background: transparent;
				}
			}
		}
	}
}

.firmware_banner {
	width: 100%;
	position: relative;
	height: 0;
	padding-top: 46%;
	@include mq(768) {
		padding-top: 0;
		height: 500px;
	}
	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			object-fit: cover;
		}
	}
	.content {
		position: absolute;
		top: 43%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
		text-align: center;
		padding: 12px;
		z-index: 2;
		.title {
			margin-bottom: 64px;
			* {
				margin: 0;
				font-weight: 400;
				font-size: 60px;
				line-height: 68px;
				text-align: center;
				letter-spacing: -0.02em;
				color: #ffffff;
				@include mq(768) {
					font-size: 34px;
					line-height: 42px;
				}
			}
		}
		.search_container {
			background: #383838;
			border-radius: 1000px;
			width: 100%;
			max-width: 560px;
			margin: 0 auto 16px;
			padding: 16px 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			input {
				background-color: transparent;
				caret-color: #00aaa6;
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				color: #fff;
				width: 100%;
				border: none;
				outline: none;
				padding-right: 8px;
				&:focus {
					background-color: transparent !important;
					box-shadow: none !important;
				}
				&::placeholder {
					font-weight: 400;
					font-size: 16px;
					line-height: 22px;
					color: #8c8f8f;
				}
			}
		}
	}
}

.firmware_modal_content {
	@include mq(1440) {
		max-width: 50vw !important;
	}
	.small_article {
		overflow-y: auto;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			text-align: center;
			font-size: 28px !important;
			line-height: 36px !important;
		}
		p {
			text-align: start;
			font-size: 16px !important;
			line-height: 22px !important;
		}
	}
}

.label_on_date_input {
	position: absolute;
	top: 0;
	left: 12px;
	width: fit-content;
	pointer-events: none;
	height: 39px;
	background-color: #fff !important;
	font-size: 15px;
	line-height: 30px;
	color: #202020;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	&.focused {
		opacity: 0;
	}
}

.product_support_register_form {
	padding: 64px 16px;
	background-color: #fff;
	.content {
		max-width: 968px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 32px;
		text-align: center;
		.label_on_date_input {
			top: 14px;
		}

		.title {
			font-size: 34px;
			font-weight: 400;
			line-height: 1.1; /* 135% */
			letter-spacing: -0.68px;
			color: #000;
			margin-bottom: 28px;
			@include mq(768) {
				font-size: 20px;
				letter-spacing: -0.4px;
			}
		}
		.subtitle {
			font-size: 16px;
			font-weight: 400;
			line-height: 1.05; /* 135% */
			letter-spacing: -0.32px;
			color: #000;
			margin: 0;
		}
		.news_checkbox {
			padding: 32px 0;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 16px;
			text-align: start;
			@include mq(768) {
				align-items: flex-start;
			}
			p {
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 12px; /* 135% */
				@include mq(768) {
					line-height: 16px; /* 135% */
				}
				color: #000;
				margin: 0;
			}
			button {
				border: 1px solid #000;
				background-color: #fff;
				width: 21px;
				height: 21px;
				min-width: 21px;
				padding: 2px;
				border-radius: 1px;
				@include mq(768) {
					border-radius: 50%;
					width: 20px;
					height: 20px;
					min-width: 20px;
				}
				span {
					display: block;
					width: 15px;
					height: 15px;
					min-width: 15px;
					background-color: #00aaa6;
					border-radius: 1px;
					@include mq(768) {
						border-radius: 50%;
						width: 14px;
						height: 14px;
						min-width: 14px;
					}
				}
			}
		}
		.n-btn.primary {
			background: #00aaa6 !important;
			font-weight: 400;
			line-height: 18.9px; /* 135% */
			letter-spacing: 0.75px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.forms {
			.submission_error {
				color: #d83a49;
			}
			.card_layout {
				border: 1px solid #c7c7c9;
				border-radius: 25px;
				padding: 32px 16px;
				margin-bottom: 32px;
				&:last-child {
					margin-bottom: 0;
				}
				.modal_btn {
					border-radius: 1000px;
					border: 1px solid #000;
					color: #000;
					display: flex;
					padding: 16px;
					justify-content: center;
					align-items: center;
					gap: 8px;
					font-size: 10px;
					font-style: normal;
					font-weight: 400;
					line-height: 120%; /* 12px */
					background-color: #fff;
					svg {
						padding: 0;
						path {
							fill: #00aaa6;
						}
					}
				}
				.title {
					text-align: start;
					font-size: 20px;
					font-weight: 400;
					line-height: 25px; /* 125% */
					color: #000000;
					margin: 0;
				}
				.laser_label {
					margin-bottom: 10px;
					font-weight: 400;
					font-size: 16px;
					line-height: 22px;
					letter-spacing: -0.02em;
					color: #000000;
				}
				.tip {
					margin-top: 10px;
					* {
						font-weight: 400;
						font-size: 12px;
						line-height: 16px;
						color: #000000;
					}
				}
				.error {
					margin-top: 10px;
					* {
						font-weight: 400;
						font-size: 12px;
						line-height: 16px;
						color: #d83a49;
					}
				}
				.date_input {
					input {
						min-width: 100%;
					}
				}
				.value {
					position: absolute !important;
					left: 0 !important;
					top: 12px !important;
					background: white !important;
					padding: 6px 16px !important;
				}
				.error {
					color: #d83a49;
					font-size: 12px;
					font-weight: 400;
				}
				.form_text_field {
					width: 100%;
					input {
						width: 100%;
						padding: 16px;
						border: 0;
						border-bottom: 1px solid #000000;
						font-size: 16px;
						font-weight: 400;
						line-height: 21.6px; /* 135% */
						letter-spacing: -0.32px;
						color: #000000;
						&::placeholder {
							font-size: 16px;
							font-weight: 400;
							line-height: 21.6px; /* 135% */
							letter-spacing: -0.32px;
							color: #000000;
						}
						&:focus {
							box-shadow: none !important;
						}
					}
				}
				.form_select_field {
					width: 100%;
					position: relative;
					&.z-1 {
						z-index: 1;
					}
					&.z-2 {
						z-index: 2;
					}
					&.z-3 {
						z-index: 3;
					}
					&.z-4 {
						z-index: 4;
					}
					.dropdown-select-box {
						position: relative;
						z-index: 1;
						border-radius: 1000px;
						min-width: 200px;
						width: 100%;
						border: none !important;
						background-color: #fff;

						button {
							padding: 16px;
							border: 1px solid #000000;
							font-weight: 400;
							font-size: 16px;
							border-radius: 400px;
							line-height: 22px;
							letter-spacing: -0.02em;
							color: #000000;
							background-color: #fff;
						}
						.dropdown-select-box-options {
							background-color: #fff;
							border: 1px solid #000000;
							padding: 8px 16px;
							li {
								font-weight: 400;
								font-size: 16px;
								line-height: 22px;
								letter-spacing: -0.02em;
								color: #000000;
							}
						}
						&.show .dropdown-select-box-button {
							border-radius: 34px 34px 0 0;
						}
						.dropdown-select-box-options {
							border-radius: 0 0 34px 34px;
						}
					}
				}
				.file-upload {
					span {
						font-size: 12px;
						font-weight: 300;
						color: #202020;
						display: block;
						margin-bottom: 5px;
					}
					input {
						cursor: pointer;
					}
					img {
						object-fit: cover;
					}
					.remove_image_button {
						position: absolute;
						top: 10px;
						right: 25px;
						background-color: #fff;
						border: none;
						width: 30px;
						height: 30px;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 100%;
						z-index: 2;
						-webkit-border-radius: 100%;
						-moz-border-radius: 100%;
						-ms-border-radius: 100%;
						-o-border-radius: 100%;
					}
					.file-upload-box {
						position: relative;
						width: 100%;
						margin: 0;
						height: 85px;
						padding: 16px 0;
						border-radius: 0.5em;
						overflow: hidden;
						border: 2px dashed #ddd;
						text-align: center;
						@include mq(575) {
							height: 100px;
						}
						.remove_img {
							position: absolute;
							top: 10px;
							right: 10px;
							width: 25px;
							height: 25px;
							background-color: #fff;
							border-radius: 100%;
							-webkit-border-radius: 100%;
							-moz-border-radius: 100%;
							-ms-border-radius: 100%;
							-o-border-radius: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							z-index: 2;
							border: none;
						}
						.image_loading {
							position: absolute;
							top: 0;
							right: 0;
							width: 100%;
							height: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							background-color: rgba($color: #000000, $alpha: 0.5);
							z-index: 2;

							#loading-spinner {
								margin-bottom: 0 !important;
							}
						}
						img {
							position: absolute;
							top: 0;
							right: 0;
							width: 100%;
							object-fit: cover;
							height: 100%;
						}
						div {
							color: #ddd;
							font-size: 26px !important;
							line-height: 1.625em;
							margin-bottom: 40px;
						}
						p {
							color: #444;
							font-size: 14px;
							line-height: 24px;
							margin: 0;
						}
						input {
							cursor: pointer;
						}
						article {
							position: absolute;
							top: 50%;
							left: 0;
							width: 100%;
							transform: translateY(-50%);
						}
					}
				}
				.button_group {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					flex-wrap: wrap;
					button {
						padding: 16px 24px;
						display: flex;
						justify-content: center;
						align-items: center;
						border: 1px solid #000000;
						border-radius: 1000px;
						font-weight: 400;
						font-size: 14px;
						line-height: 19px;
						text-align: center;
						color: #000000;
						background-color: #fff;
						transition: all 0.3s ease-in-out;
						span {
							margin-right: 16px;
							background: #c7c7c9;
							display: block;
							width: 20px;
							height: 20px;
							border-radius: 50%;
							transition: all 0.3s ease-in-out;
						}
						&.active {
							color: #fff;
							background-color: #000;
							span {
								background: #00aaa6;
							}
						}
					}
				}
				.form_field {
					width: calc(50% - 8px);
					@include mq(768) {
						width: calc(100% - 8px);
					}
				}
			}
		}
		.submit_btn {
			font-size: 14px !important;
			line-height: 18.9px !important; /* 135% */
			padding: 16px 16px 15px !important;
		}
	}
}

.product_support_new_head {
	padding: 96px 0;
	@include mq(768) {
		padding: 10px 0 0;
	}
	.content {
		padding: 16px;
		max-width: 1115px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 32px;
		flex-wrap: nowrap;
		@include mq(768) {
			justify-content: center;
			flex-wrap: wrap;
		}
		.image_wrapper {
			order: 1;
			position: relative;
			width: 400px;
			padding-top: 400px;
			height: 0;
			@include mq(768) {
				order: 2;
				width: 287px;
				padding-top: 287px;
			}
			img {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				object-fit: contain;
			}
		}
		.info {
			order: 2;
			max-width: 520px;
			width: 100%;
			margin: 0 0 0 auto;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: flex-start;
			gap: 64px;
			@include mq(768) {
				order: 1;
				margin: 0 auto 0 0;
				gap: 32px;
			}
			.series {
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 1;
				letter-spacing: -0.32px;
				color: #00aaa6;
				margin: 0;
				@include mq(768) {
					display: none;
				}
			}
			.model {
				font-size: 24px;
				font-style: normal;
				font-weight: 400;
				line-height: 1;
				letter-spacing: -0.48px;
				color: #000;
				margin: 0;
				@include mq(768) {
					font-size: 20px;
					line-height: 1;
					letter-spacing: -0.4px;
				}
			}
			.title {
				font-size: 48px;
				font-style: normal;
				font-weight: 400;
				line-height: 1.1;
				letter-spacing: -0.96px;
				color: #000;
				margin: 0;
				@include mq(768) {
					font-size: 34px;
					line-height: 1.1;
					letter-spacing: -0.68px;
				}
			}
			.model_number {
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 1; /* 135% */
				color: #00aaa6;
				margin: 0;
			}
		}
	}
}

.downloads_section {
	padding: 64px 16px;
	border-bottom: 1px solid #c7c7c9;
	@include mq(768) {
		padding: 32px 15px;
	}
	.text_box {
		text-align: center;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		gap: 30px;
		margin-bottom: 30px;
		.title {
			margin: 0;
			* {
				margin: 0;
				font-size: 34px;
				font-weight: 400;
				line-height: 1.1;
				letter-spacing: -0.68px;
				color: #000;
				@include mq(768) {
					font-size: 20px;
					letter-spacing: -0.4px;
				}
			}
		}
		.subtitle {
			margin: 0;
			* {
				margin: 0;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
				line-height: 1.2;
				letter-spacing: -0.32px;
				color: #000;
			}
			@include mq(768) {
				padding: 0 32px;
				* {
					font-size: 14px;
					line-height: 1.1;
					letter-spacing: -0.28px;
				}
			}
		}
		.description {
			margin: 0;
			* {
				margin: 0;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 1.2;
				color: #000;
			}
			@include mq(768) {
				padding: 0 32px;
				* {
					font-size: 14px;
					line-height: 1.1;
					letter-spacing: -0.28px;
				}
			}
		}
	}
	.table_wrapper {
		padding: 32px 0;
		max-width: 885px;
		width: 100%;
		margin: 0 auto;
		@include mq(768) {
			padding: 0;
		}
		.files_table {
			border: 1px solid #f0f2f2;
			border-radius: 25px;
			overflow: hidden;
			@include mq(768) {
				border-radius: 12px;
			}
			.table_row {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: repeat(auto-fill, 1fr);
				justify-content: center;
				align-items: center;
				align-content: center;
				gap: 8px;
				padding: 32px;
				border-bottom: 1px solid #f0f2f2;
				.icon {
					transition: all 300ms ease-in;
				}
				&.open {
					.icon {
						transform: rotate(90deg);
					}
				}
				&:last-child {
					border-bottom: none;
				}
				@include mq(768) {
					overflow: hidden;
					display: block;
					padding: 16px 15px;
					gap: 0;
					transition: all 300ms ease-in;
				}
				&:first-child {
					background: #f0f2f2;
					padding: 32px;
					@include mq(768) {
						padding: 24px 16px;
					}
					* {
						font-size: 16px !important;
						font-weight: 400;
						line-height: 21.6px !important; /* 135% */
						letter-spacing: -0.32px !important;
						color: #000;
						@include mq(768) {
							font-size: 14px;
							line-height: 18.9px; /* 135% */
							letter-spacing: -0.28px;
						}
					}
				}
				> *:nth-child(n + 2) {
					text-align: center;
					margin: 0 auto;
				}
				.file_title {
					font-size: 20px;
					font-weight: 400;
					line-height: 25px; /* 125% */
					letter-spacing: -0.4px;
					color: #000;
					@include mq(768) {
						font-size: 14px;
						line-height: 18.9px; /* 135% */
						letter-spacing: -0.28px;
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-bottom: 24px;
						gap: 8px;
						svg {
							font-size: 24px;
						}
					}
				}
				.size {
					font-size: 12px;
					font-weight: 400;
					line-height: 16.2px; /* 135% */
					color: #000;
				}
				.file_type {
					border-radius: 6px;
					background: #50b7c0;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 8px;
					padding: 8px;
					width: fit-content;
					height: fit-content;

					span {
						font-size: 12px;
						font-weight: 400;
						line-height: 21px; /* 135% */
						margin-bottom: -2px;
						vertical-align: middle;
						color: #fff;
					}

					@include mq(768) {
						margin-right: 0;
					}
				}
				.info {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 24px;
					text-align: start;
					gap: 8px;
					.size_title {
						font-size: 14px;
						font-weight: 400;
						line-height: 18.9px; /* 135% */
						letter-spacing: -0.28px;
						color: #000;
					}
				}
				.download_item {
					border-radius: 1000px;
					border: 1px solid #000;
					background: #000;
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 16px;
					width: 100%;
					margin: 0 auto;
					text-decoration: none;
					span {
						text-align: start;
						font-size: 14px;
						font-weight: 400;
						line-height: 18.9px; /* 135% */
						color: #fff;
						margin-bottom: -5px;
					}
				}
			}
		}
	}
	&.firmware {
		.boxes {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			gap: 32px;
			padding: 32px 0;
			@include mq(768) {
				gap: 16px;
			}
			.info_box {
				border-radius: 25px;
				background: #f0f2f2;
				padding: 32px;
				max-width: 564px;
				margin: 0 auto;
				text-align: center;
				@include mq(768) {
					svg {
						width: 32px;
						height: 32px;
					}
				}
				.description {
					margin-top: 24px;
					* {
						color: #383838;
						font-size: 12px;
						font-weight: 400;
						line-height: 16.2px; /* 135% */
						margin: 0;
					}
				}
			}
			.guide_box {
				border-radius: 25px;
				background: #103a42;
				padding: 32px;
				width: 100%;
				max-width: 885px;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 16px;
				@include mq(768) {
					flex-direction: column;
				}
				.title {
					font-size: 20px;
					font-style: normal;
					font-weight: 400;
					line-height: 25px; /* 125% */
					letter-spacing: -0.4px;
					color: #fff;
					margin: 0;
					padding: 0 16px;
					@include mq(768) {
						text-align: center;
						font-size: 16px;
						font-weight: 400;
						line-height: 21.6px; /* 135% */
						letter-spacing: -0.32px;
					}
				}
				.n-btn {
					padding: 14px 16px;
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 16px;
					@include mq(768) {
						font-size: 10px;
						line-height: 120%; /* 12px */
					}
					svg path {
						transition: all 300ms ease-in;
					}
					&:hover {
						svg path {
							fill: #000;
							transition: all 300ms ease-in;
						}
					}
				}
			}
			.table_wrapper {
				padding: 0;
				.files_table {
					.button_row {
						grid-template-columns: 1fr 1fr 25px !important;
						grid-template-rows: 1fr !important;
						display: grid;
						align-items: center;
						align-content: flex-start;
						justify-content: center;
						.icon {
							transition: all 300ms ease-in;
						}
						&.open {
							.icon {
								transform: rotate(90deg);
							}
						}
						svg {
							font-size: 24px;
						}
					}
					.table_row {
						grid-template-columns: repeat(3, 1fr);
						align-items: flex-start;
						gap: 8px;
						@include mq(768) {
							overflow: hidden;
							display: grid;
							align-content: flex-start;
							align-items: center;
							grid-template-columns: 1fr;
							padding: 16px 15px;
							gap: 24px;

							> *:nth-child(n + 4) {
								grid-column: 1/4;
							}
						}
						&:first-child {
							padding: 32px 24px;
							@include mq(768) {
								padding: 24px 32px;
							}
						}
						> * {
							text-align: start;
							&:nth-child(n + 3) {
								text-align: center;
							}
						}
						.file_type {
							margin: auto auto auto 0;
							text-transform: capitalize;
							span {
								line-height: 10px; /* 135% */
								margin-bottom: -2px;
								vertical-align: middle;
							}
							@include mq(768) {
								margin-right: 0;
							}
						}
						.info {
							align-items: flex-start;
							margin-bottom: 24px;
							gap: 24px;
							flex-direction: column;
							.size_title {
								margin-bottom: 16px;
							}
						}
					}
				}
			}
		}
	}
}

.firmware_disclaimer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 16px;
	background: linear-gradient(
		180deg,
		rgba(34, 31, 32, 0) 0%,
		rgba(34, 31, 32, 0.9) 100%
	);
	z-index: 100000;
	.box {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: 600px;
		width: calc(100% - 32px);
		border-radius: 25px;
		background: #fff;
		box-shadow: 0px 10px 16px 0px rgba(20, 37, 63, 0.06);
		padding: 64px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 32px;
		flex-direction: column;
		text-align: center;
		@include mq(768) {
			padding: 64px 32px;
		}
		.title {
			margin: 0;
			* {
				color: #383838;
				font-style: normal;
				font-weight: 400;
				font-size: 34px;
				line-height: 1.1; /* 135% */
				letter-spacing: -0.68px;
				margin: 0;
				@include mq(768) {
					font-size: 20px;
					line-height: 1.1; /* 135% */
				}
			}
		}
		.text {
			margin: 0;
			* {
				color: #383838;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 19px; /* 135% */
				margin: 0;
			}
		}
		.n-btn {
			line-height: 1; /* 135% */
			background-color: transparent;
			padding: 11px 16px 8px;
		}
	}
}
