.category-products {
	display: flex;
	overflow: hidden;

	.result-box {
		margin: 16px 30px;
		padding: 16px;
		background: #dcecf0;
		border-radius: 16px;
		font-size: 16px;
		line-height: 27px;
		color: #565656;

		button {
			font-size: 16px;
			line-height: 27px;
			color: #00aaa6;
			margin-left: 8px;
		}
	}

	.products-container {
		.item {
			background: #f1f1f2;

			&:nth-child(8n-7),
			&:nth-child(8n-5),
			&:nth-child(8n-2),
			&:nth-child(8n) {
				background: #fafafa;
			}

			.product-mini-link {
				&:hover {
					border-color: #00aaa6 !important;
					color: #00aaa6 !important;
				}
			}

			.product-mini-link-active {
				border-color: #00aaa6 !important;
			}
		}
	}

	.result_box__product_container {
		width: 100%;

		button {
			background-color: transparent;
			border: none;
			color: var();
		}
	}

	.accordion-btn {
		font-size: 14px;
		line-height: 27px;
		text-decoration-line: underline;
		color: #808080;
		text-align: center;
		border: none;
		background: transparent;
		margin: 18px 0;
		display: none;
	}

	.filters-container {
		padding: 0 16px;
		min-width: 230px;

		> div {
			border-bottom: 1px solid #5a5b75;
			padding: 20px 0;

			h4 {
				font-size: 16px;
				line-height: 24px;
				color: #5a5b75;
			}
		}

		.filter-list {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 14px;
				line-height: 16px;
				text-align: right;
				color: #5a5b75;
				padding: 4px 4px 4px 0;

				> div {
					display: flex;
					justify-content: flex-start;

					label {
						display: inline-block;
						margin-left: 5px;
						width: 80%;
						white-space: nowrap;
						overflow: hidden !important;
						text-overflow: ellipsis;
					}
				}
			}
		}

		.clear-fields button {
			font-size: 12px;
			line-height: 27px;
			color: #808080;
			padding: 0;
			margin-top: 8px;
			border: none;
		}
	}
}

.grid_v2_top_box {
	padding-left: 163px;
	@include mq(768) {
		padding: 32px 16px;
	}

	h2,
	u {
		margin: 0;
		color: #383838;
		font-size: 48px;
		font-style: normal;
		font-weight: 400;
		line-height: 55.86px; /* 116.375% */
		letter-spacing: -0.96px;
		@include mq(768) {
			font-size: 34px;
			line-height: 45.9px; /* 135% */
		}
	}
	u {
		color: #00aaa6 !important;
	}
}

.products-v2 {
	.products-sorting {
		.dropdown-select-box {
			background-color: #f0f2f2;
			border: none;
			margin: 0 0 54px auto;
		}
	}

	.spinner_height {
		height: 100vh;
		@include mq(768) {
			height: 100vh;
		}
	}

	.products-grid {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 160px;
		@include mq(768) {
			gap: 0;
		}

		.products-filtering {
			width: 176px;

			.products-filtering-button {
				padding: 0 16px;
				font-size: 14px;
				font-weight: 400;
				border: 1px solid #00aaa6 !important;
				color: #00aaa6;
				&:hover {
					background-color: #00aaa6 !important;
					color: #fff !important;
				}
			}

			.filter-group-container {
				.filter-group-wrapper {
					display: block;
					.filter-group {
						margin-bottom: 40px;

						.filter-list {
							list-style: none;
							padding: 0 5px;
							margin: 0;
							height: 0;
							overflow: hidden;
							transition: all 0.3s ease-in;

							li {
								padding: 8px 0;

								.custom-checkbox {
									border-radius: 3px;
									border: 1px solid #383838;
									display: flex;
									justify-content: center;
									align-items: center;
									overflow: hidden;
									&.square.checked {
										border: none;
										background-color: #00aaa6;
									}
								}
								.filter-label {
									font-size: 12px;
									font-style: normal;
									font-weight: 400;
									line-height: 16.2px; /* 135% */
									color: #383838;
								}
							}
						}

						.filter-btn {
							display: flex;
							justify-content: space-between;
							align-items: center;
							width: 100%;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 18.9px; /* 135% */
							letter-spacing: -0.28px;
							text-align: left;
							color: #383838;

							svg {
								transform: rotate(90deg);
								transform-origin: center;
								transition: all 0.2s ease-in;
							}
						}

						&.open {
							.filter-btn {
								svg {
									transform: rotate(0deg);
								}
							}

							.filter-list {
								height: 100%;
							}
						}
					}
				}
			}
		}

		.products {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(306px, 1fr));
			grid-template-rows: auto;
			justify-content: center;
			align-items: stretch;
			flex-wrap: wrap;
			gap: 16px;
			@include mq(768) {
				width: 100%;
			}

			&.filter_show {
				width: calc(100% - 336px);
			}

			.product-item-v2 {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				background: #ffffff;
				border: 1px solid #dbddde;
				border-radius: 50px;
				box-shadow: none;
				transition: all 0.3s ease-in;
				padding: 30px 22px;
				img {
					object-fit: contain !important;
				}

				&:hover {
					box-shadow: 0px 10px 16px rgba(20, 37, 63, 0.06);
				}

				.product-item-v2-content {
					color: #221f20;
					.disabled_btn:disabled {
						background: #ababb0 !important;
						border: 1px solid #ababb0 !important;
						color: white !important;
					}
					> div {
						div:first-child {
							color: #a6a8ac;
						}
					}

					div:last-child {
						color: #a6a8ac;
					}
				}

				.product-mini-link-active {
					background-color: #000 !important;
					color: #fff !important;
				}

				.compare-btn {
					font-size: 10px;
					line-height: 14px;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					text-decoration: none;
				}
			}

			.box-group-link {
				display: block;
				text-decoration: none;
				cursor: pointer;
				height: 100%;
				&:hover {
					.n-btn.medium.outline-black {
						color: #fff !important;
						background-color: #000 !important;
					}
					.n-btn.medium.outline-white {
						color: #000 !important;
						background-color: #fff !important;
					}
				}
			}

			.no-pointer-event {
				pointer-events: none !important;
			}

			.pointer-event-auto {
				pointer-events: auto !important;
			}

			.product_item_v2 {
				padding: 0px;
				// max-width: 290px;
				width: 100%;
				border-radius: 12px;
				border: 1px solid #f0f2f2;
				background: #fff;
				box-shadow: none;
				transition: all 0.3s ease-in;
				text-align: start;
				position: relative;
				overflow: hidden;
				// @include mq(768) {
				// 	padding: 16px 24px;
				// }
				&:hover {
					box-shadow: 0px 10px 16px rgba(20, 37, 63, 0.06);
				}
				.product-group-content {
					height: 100%;
					padding: 32px 0;

					.new_item {
						width: fit-content;
						height: fit-content;
						position: absolute;
						padding: 10px;
						margin: 0;
						top: 0;
						right: 0;
						border-radius: 0 0 0 12px;
						background: #d83a49;
						span {
							display: block;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 12px; /* 135% */
							letter-spacing: -0.28px;
							color: #fff;
							margin-bottom: -3px;
						}
					}
				}
				.product_item_v2_content {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: start;
					gap: 16px;
					.first_content {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: center;
						padding: 0 16px;
						.image_wrapper {
							position: relative;
							width: calc(100% - 72px);
							margin: 0 auto 16px;
							height: 0;
							padding-top: calc(100% - 72px);
							.image {
								position: absolute !important;
								left: 0;
								top: 0;
								width: 100%;
								height: 100%;
								object-fit: contain;
							}
						}
						.model {
							font-size: 14px;
							font-weight: 400;
							line-height: 10px; /* 135% */
							letter-spacing: -0.28px;
							color: #8c8f8f;
							width: 100%;
							margin: 0 0 14px;
						}

						.title {
							font-size: 20px;
							font-style: normal;
							font-weight: 500; // Changed to 500 because FIGMA 400 font-weight tends to look like 500 font-weight in reality
							margin: 0;
							width: 100%;
							line-height: 25px; /* 125% */
							letter-spacing: -0.4px;
							color: #000;
						}
					}
					.details_list {
						width: 100%;
						padding: 4px 0;
						ul {
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: start;
							margin: 0;
							padding: 0 0 0 24px;
							li {
								font-size: 16px;
								font-style: normal;
								font-weight: 400;
								line-height: 21.6px;
								color: #000;
							}
						}
					}
					.sale {
						border-radius: 6px;
						background: #d83a49;
						padding: 9px 8px 7px;
						div {
							font-size: 12px;
							font-weight: 400;
							line-height: 8px; /* 135% */
							color: #fff;
						}
					}
					.price_row {
						display: flex;
						align-items: flex-end;
						gap: 16px;
						justify-content: start;
						div:first-child {
							font-size: 34px;
							font-weight: 500;
							line-height: 24px; /* 135% */
							letter-spacing: -0.68px;
							color: #000;
						}
						div:last-child {
							font-size: 16px;
							font-weight: 400;
							line-height: 11px; /* 135% */
							color: #000;
						}
					}
					.btns_gp {
						width: 100%;
						padding: 0 16px;
						.view_product_button {
							display: flex;
							min-width: 80px;
							padding: 9px 16px 9.5px;
							justify-content: center;
							align-items: center;
							border-radius: 1000px;
							border: 1px solid #008885;
							background: #fff;
							text-decoration: none;
							transition: all 0.3s ease;
							span {
								color: #008885;
								font-size: 14px;
								line-height: 100%; /* 14px */
								margin-bottom: -3px;
								transition: all 0.3s ease;
							}
							&:hover {
								border-color: #006664;
								background: #006664;
								span {
									color: #fff;
								}
							}
							&:active {
								border-color: #008885;
								background: #008885;
								span {
									color: #fff;
								}
							}
						}
						.channel_advisor_button,
						.price_spider_button {
							display: flex;
							min-width: 80px;
							padding: 9px 16px 9.5px;
							justify-content: center;
							align-items: center;
							border-radius: 1000px;
							border: 1px solid #008885;
							background: #008885;
							transition: all 0.3s ease;

							div,
							.ps-button-label {
								color: #fff;
								font-size: 14px;
								line-height: 100%; /* 14px */
								margin-bottom: -2px;
								transition: all 0.3s ease;
								display: block;
							}
							&:hover {
								border-color: #006664;
								background: #006664;
							}
							&:active {
								border-color: #000;
								background: #000;
							}
						}
						.price_spider_button {
							display: none !important;
							&.ps-enabled,
							&.ps-disabled {
								display: flex !important;
							}
							&.ps-disabled {
								display: flex !important;
								flex-direction: column;
								border: 1px solid #333;
								background: #333;
								.ps-button-label {
									color: #fff;
									font-size: 14px;
									line-height: 100%; /* 14px */
									margin-bottom: -2px;
									transition: all 0.3s ease;
									display: block;
								}
								small {
									// font-size: 10px;
									// line-height: 100%; /* 14px */
									display: none;
								}
								&:hover {
									border-color: #333;
									background: #333;
								}
								&:active {
									border-color: #333;
									background: #333;
								}
							}
						}
					}
					.n-btn.compare-btn {
						font-size: 10px !important;
						line-height: 120% !important;
						padding: 8px 8px 8px 26px;
						font-weight: 500 !important;
						letter-spacing: 0.125rem;
						border-radius: 0;
					}
					.serie_selector {
						position: relative;
						width: 100%;
						z-index: 10;
						margin: 4px 0 0;
						&___label {
							padding: 0 16px;
							font-size: 14px;
							font-weight: 400;
							line-height: 14px; /* 135% */
							color: #000;
						}
						&___slider {
							width: 100%;
							padding: 5px 16px 0;
							.swiper-wrapper {
								align-items: center;
							}
							&___item {
								display: flex;
								width: fit-content;
								padding: 9px 12px 9.5px;
								justify-content: center;
								align-items: center;
								border: 1px solid #c7c7c9;
								background: white;
								transition: all 0.3s ease;
								border-radius: 8px;
								box-shadow: none;
								margin-bottom: 10px;
								div {
									color: #000;
									font-size: 14px;
									line-height: 100%; /* 14px */
									margin-bottom: -3px;
									transition: all 0.3s ease;
								}
								&:hover {
									mix-blend-mode: darken;
									background-color: #f0f2f2;
									box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
								}
								&:active {
									background: #c7c7c9;
								}
								&.active {
									border-color: #000;
									background: #000;
									div {
										color: #fff;
									}
									&:hover {
										box-shadow: none;
									}
								}
							}
							.swiper-button-prev {
								left: -1px;
								border-radius: 4px 0 0 4px;
							}
							.swiper-button-next {
								right: 0px;
								border-radius: 0px 4px 4px 0px;
							}
							.swiper-button-prev,
							.swiper-button-next {
								background: #f0f2f2;
								width: 16px;
								height: 44px;
								top: 0px;
								margin-top: 0;
								transition: all 0.3s ease;
								&::after {
									font-size: 12px;
									font-weight: bold;
									color: #ababb0;
									transition: all 0.3s ease;
								}
								&.swiper-button-disabled {
									background: #c7c7c9;
									opacity: 1;
								}
								&:hover {
									background: #c7c7c9;
								}
								&:active {
									background: #525454;
									&::after {
										color: #fff;
									}
								}
							}
						}
					}
					.description {
						list-style: none;
						padding: 0;
						width: calc(100% - 48px);
						// max-width: 210px;
						margin: 0 auto;
						li {
							font-size: 14px;
							line-height: 18.9px; /* 135% */
							color: #000;
							font-style: normal;
							font-weight: 300;
							@include mq(768) {
								font-size: 10px;
								line-height: 120%;
							}
						}
					}
				}
			}
		}
	}
}

.product_banner_v2 {
	.heading-text {
		.title {
			.ql-size-large {
				font-size: 67.5px !important;
				line-height: 75px !important;
				@include mq(1920) {
					font-size: 56px !important;
					line-height: 64px !important;
				}
				@include mq(768) {
					font-size: 42px !important;
					line-height: 52px !important;
				}
			}
		}
		.text {
			max-width: 760px;
			margin: 0 auto;
		}
	}
}

@media (max-width: 1400px) {
	.category-products {
		.products-container {
			.item {
				&:nth-child(6n-5),
				&:nth-child(6n-3),
				&:nth-child(6n-1) {
					background: #fafafa;
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	.category-products {
		.products-container {
			.item {
				&:nth-child(6n-5),
				&:nth-child(6n-3),
				&:nth-child(6n-1) {
					background: #fafafa;
				}

				&:nth-child(4n-3),
				&:nth-child(4n) {
					background: #f1f1f2;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.category-products {
		.products-container {
			.item {
				&:nth-child(4n-3),
				&:nth-child(4n),
				&:nth-child(2n-1) {
					background: #f1f1f2;
				}
			}
		}
	}
	.products-v2 {
		.products-sorting {
			.dropdown-select-box {
				background-color: #fbfbfb;
				border: none;
				margin: 0 0 54px auto;
			}
		}

		.products-grid {
			flex-wrap: wrap;
			overflow: unset !important;

			.products-filtering {
				width: 100%;

				.filter-group-container {
					width: 100%;
					z-index: 100;
					position: relative;
					.filter-group-wrapper {
						display: flex;
						justify-content: space-evenly;
						align-items: center;
						flex-wrap: wrap;
						.filter-group {
							margin-bottom: 0px;
							margin: 8px;
							position: relative;
							width: fit-content;

							.filter-list {
								padding: 0;
								margin: 0;
								height: 0;
								position: absolute;
								left: 0;
								top: 100%;
								width: 100%;
								height: 0;
								overflow: auto;
								z-index: 1;
								background-color: #fff;
								border-radius: 0 0 20px 20px;
								transition: none;
							}

							.filter-btn {
								display: flex;
								justify-content: space-between;
								align-items: center;
								white-space: nowrap;
								width: 100%;
								font-weight: 400;
								font-size: 14px;
								color: #221f20;
								border: 1px solid #221f20 !important;
								padding: 8px 16px !important;
								transition: none;
							}

							&.open {
								// position: absolute;
								.filter-btn {
									border-radius: 20px 20px 0 0;
									border-bottom: none !important;

									svg {
										transform: rotate(180deg);
									}
								}

								.filter-list {
									max-height: 400px;
									height: 500%;
									border: 1px solid #221f20 !important;
									border-top: none !important;
									padding: 24px 28px;
								}
							}
						}
					}
				}

				.mobile-filter-line {
					position: relative;
					margin-bottom: 24px;

					&::after {
						content: '';
						display: block;
						position: absolute;
						bottom: -8px !important;
						left: -12px;
						width: calc(100% + 24px);
						border-bottom: 1px solid #dbddde;
					}
				}
			}

			.products {
				grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
				// grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
			}
		}
	}
}

@media (max-width: 600px) {
	.category-products {
		flex-wrap: wrap;
		justify-content: center;

		.filters-container {
			width: 100%;
			max-height: 0;
			overflow: hidden;
			transition: all 0.3s ease;

			&.open {
				max-height: 2000px;
			}
		}

		.accordion-btn {
			display: block;
		}
	}
}

// .product_news_item_small_title {
// 	font-size: 18px !important;
// 	font-weight: 500 !important;
// }
