.product_support_support_box {
	.support-time {
		max-width: 180px;
	}
	.download-links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-decoration: none !important;
		* {
			transition: all 0.2s ease-in;
		}

		&:hover {
			background: #f7f7f7;
			.text-muted {
				color: #292929 !important;
			}
			.text-light {
				color: var(--primary-color) !important;
			}
		}
	}
}
.product-support-head {
	.image-container {
		position: relative;
		padding-top: 80%;
		height: 0;
		text-align: center;
		> div {
			position: absolute !important;
			top: 45%;
			width: 100%;
			height: 100%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		// img{
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 50%;
		// 	transform: translate(-50%, -50%);
		// 	height: 80%;
		// 	width: auto;
		// 	max-width: 100%;
		// }
	}
	.download-able-item {
		padding: 25px;
		border-radius: 25px;
		border: 1px solid #000;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #000;
		text-decoration: none;
		transition: all 0.3s ease-in;
		height: 100%;
		word-break: break-all;
		svg {
			width: 20px;
			height: 20px;
		}

		&:hover {
			background-color: #f2f2f2;
		}
	}
}
.product_support_head_image {
	// width: unset !important;
	max-width: 464px;

	img {
		object-fit: contain !important;
	}
}
.videos-container-product-support {
	overflow-y: auto;
	max-height: 650px;
}

.product-support-accordion {
	.accordion-item {
		border-top: 2px solid #ccc;
		padding: 15px 0;

		&:last-child {
			border-bottom: 2px solid #ccc;
		}
	}
	.accordion-body {
		font-size: 14px;
		font-weight: 300;
	}
	.accordion-button {
		font-weight: 400;
		&:not(.collapsed) {
			color: #000 !important;
			background-color: #fff !important;
			box-shadow: none !important;
			&::after {
				transform: rotate(45deg) !important;
			}
		}

		&:focus {
			box-shadow: none !important;
		}

		&::after {
			background-image: none !important;
			content: '\2b' !important;
			color: var(--primary-color);
			font-size: 35px;
			width: 40px !important;
		}
	}
	.accordion-button,
	.accordion-body {
		padding-left: 0;
		padding-right: 0;
	}
}
.product_support_video_gallery {
	max-width: 1200px;
	padding: 100px 12px;

	.title {
		margin-bottom: 20px !important;

		* {
			font-size: 1.75rem;
			font-weight: 400px;
			line-height: 120%;
		}
	}

	.videos {
		height: 64vh;
		overflow-y: auto;

		.video_container {
			height: 0;
			padding-top: 77%;
			position: relative;
			background-color: #ccc;

			&.full_size {
				padding-top: 50%;
			}

			&.half {
				padding-top: 76%;
			}

			@include mq(768) {
				padding-top: 50% !important;
			}

			@include mq(575) {
				padding-top: 70% !important;
			}

			iframe {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.firmware_banner {
	width: 100%;
	position: relative;
	height: 0;
	padding-top: 46%;
	@include mq(768) {
		padding-top: 0;
		height: 500px;
	}
	.background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			object-fit: cover;
		}
	}
	.content {
		position: absolute;
		top: 43%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
		text-align: center;
		padding: 12px;
		z-index: 2;
		.title {
			margin-bottom: 64px;
			* {
				margin: 0;
				font-weight: 400;
				font-size: 60px;
				line-height: 68px;
				text-align: center;
				letter-spacing: -0.02em;
				color: #ffffff;
				@include mq(768) {
					font-size: 34px;
					line-height: 42px;
				}
			}
		}
		.search_container {
			background: #383838;
			border-radius: 1000px;
			width: 100%;
			max-width: 560px;
			margin: 0 auto 16px;
			padding: 16px 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			input {
				background-color: transparent;
				caret-color: #00aaa6;
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				color: #fff;
				width: 100%;
				border: none;
				outline: none;
				padding-right: 8px;
				&:focus {
					background-color: transparent !important;
					box-shadow: none !important;
				}
				&::placeholder {
					font-weight: 400;
					font-size: 16px;
					line-height: 22px;
					color: #8c8f8f;
				}
			}
		}
	}
}
.firmware_modal_content {
	@include mq(1440) {
		max-width: 50vw !important;
	}
	.small_article {
		overflow-y: auto;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			text-align: center;
			font-size: 28px !important;
			line-height: 36px !important;
		}
		p {
			text-align: start;
			font-size: 16px !important;
			line-height: 22px !important;
		}
	}
}

.label_on_date_input {
	position: absolute;
	top: 0;
	left: 12px;
	width: fit-content;
	pointer-events: none;
	height: 39px;
	background-color: #fff !important;
	font-size: 15px;
	line-height: 30px;
	color: #202020;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	&.focused {
		opacity: 0;
	}
}

.product_support_new_head {
	max-width: 962px;
	margin: 0 auto;
	padding: 40px 0;
	@include mq(768) {
		padding: 0;
	}
	&___content {
		padding: 28px 16px 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 80px;
		@include mq(768) {
			flex-direction: column;
			gap: 32px;
		}
		&___image {
			order: 1;
			height: 400px;
			width: 100%;
			max-width: 400px;
			position: relative;
			@include mq(768) {
				order: 2;
				height: 287px;
				max-width: 287px;
			}
			img {
				object-fit: contain;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		&___texts {
			order: 2;
			display: flex;
			justify-content: center;
			align-items: start;
			gap: 20px;
			flex-direction: column;
			text-align: left;
			@include mq(768) {
				order: 1;
			}
			&___title {
				margin: 0;
				color: #212529;
				font-size: 34px;
				font-weight: 400;
				line-height: 42.5px; /* 125% */
				letter-spacing: -0.68px;
				@include mq(768) {
					font-size: 28px;
					line-height: 42.5px; /* 151.786% */
					letter-spacing: -0.68px;
				}
			}
			&___model {
				color: #8c8f8f;
				margin: 0 0 -4px;
				font-size: 28px;
				font-weight: 400;
				line-height: 20px; /* 42px */
				letter-spacing: -0.56px;
			}
		}
	}
}

.support-replacement-container {
	position: relative;
	width: 100%;
	margin: 40px auto;
	padding-left: 16px;
	padding-right: 16px;
	text-align: center;

	.support-replacement-inner-container {
		position: relative;
		max-width: 1113px;
		margin: 0 auto;
		padding-top: 118.5px;
		padding-bottom: 118.5px;
		border-radius: 50px;
		@include mq(768) {
			padding-top: 32px;
			padding-bottom: 32px;
		}

		.support-replacement-content {
			position: relative;
			max-width: 80%;
			margin: 0 auto;
			@include mq(768) {
				max-width: 90%;
			}
	
			.support-replacement-image-container {
				position: relative;
				max-width: 64px;
				max-height: 64px;
				aspect-ratio: 1/1;
				margin: 0 auto;
				@include mq(768) {
					max-width: 32px;
					max-height: 32px;
				}
	
				.support-replacement-image {
					width: 100%;
					height: 100%;
				}
			}
	
			.support-replacement-text-container {
				position: relative;
				width: 100%;
				text-align: center;
	
				.support-replacement-title {
					font-weight: 500;
					font-size: 48px;
					line-height: 55.86px;
					letter-spacing: -2%;
					margin: 0;
					padding-top: 32px;
					color: white;
					@include mq(768) {
						font-size: 24px;
						padding-top: 0px;
					}
				}
	
				.support-replacement-subtitle {
					font-weight: 400;
					font-size: 16px;
					line-height: 21.6px;
					letter-spacing: -2%;
					margin: 0;
					padding-top: 16px;
					padding-bottom: 32px;
					color: white;
					@include mq(768) {
						font-size: 14px;
						padding-top: 0px;
						padding-bottom: 16px;
					}
				}
	
				.support-replacement-button {
					font-weight: 400 !important;
					font-size: 14px !important;
					line-height: 14px !important;
				}
	
			}
	
		}
	}



}
.pdp-support-page{
	.product-support-section{
		.form-container{
			p{
				&.fs-5{
					font-size:20px;
					line-height: 25px;
					color: #ABABB0;
				}
			}
			.form-container-inner{
				.modal-btn {
					margin-top: 5px;
					display: block;
					font-size: 10px;
					line-height: 13px;
					text-transform: uppercase;
					color: #8C8F8F;
					letter-spacing: 2px;

					svg{
						width: 13px;
  					height: 13px;
						path{
							fill:#00AAA6;
						}
					}
				}
				.input-label{
					color:#ABABB0;
					margin-bottom: 10px;
				}
				.custom-select-box{
					.select-box-list {
						border: 1px solid #C7C7C9;
						margin-top: 0;
						z-index: 99;
						border-top:none;
						li{
							label{
								&.option{
									padding: 5px 10px;
									color: #8C8F8F;
								}
							}
						}
					}
				}
			}
			.date-placeholder{
				padding: 10px;
				top: 5px;
				left: 5px;
				font-size: 16px;
  			color: #8C8F8F;
			}
			.form-container-inner-input{
				border:none;
				min-height:54px;
				border: 1px solid #C7C7C9;
				border-radius: 12px	;
				&.select-container{
					&:focus{
						border-color: #00AAA6;
						border-radius:12px 12px 0px 0px;
					}
				}
				.select-box-item {
					height: 54px;
					.search_box__arrow{
						p{
							font-size: 16px;
  						color: #8C8F8F;
							margin-bottom: 0;
  						padding: 5px;
						}
					}
				}
			}
			input.form-container-inner-input {
				background:#fff;
				border:1px solid #C7C7C9;
				border-radius: 12px;
				padding:12px;
				min-height:54px;
	
				&::placeholder{
					color:#8C8F8F;
				}
				&:focus{
					box-shadow:none;
					border:1px solid #00AAA6;
				}
			}
			.file-upload{
				.file-upload-box {
					height:169px;
					padding:30px;
					border-radius:12px;
					border: 2px dotted #ddd;
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;

					div{
						margin-bottom: 0;
						h6{
							font-size: 24px;
							line-height: 45.9px;
							color:#8C8F8F;
							margin-bottom:0;
						}
						p{
							font-size: 12px;
							line-height: 16.2px;
							color:#8C8F8F;
						}
					}
				}
			}
			.news-check {
				justify-content: center;
				margin-bottom: 10px !important;
				&.active{
					span{
						color:#00AAA6;
						border-color: #00AAA6;
					}
				}
				span{
					&:hover {
						border-color:#00AAA6;
					}
				}
				.form-checkbox-span {
					border: 1px solid #e2e2e2;
					width: 13px;
					height: 13px;
				}
				label{
					font-size: 12px;
					line-height: 16px;
				}
			}
			.n-btn.outline-black {
				background-color: #00AAA6 !important;
				border-color: #00AAA6;
				width: 100%;
				max-width: 300px;
				margin: 0px auto;
					margin-right: auto;
					margin-left: auto;
				text-align: center;
				justify-content: center;
				padding: 15px 15px !important;

				span{
					font-size: 24px;
					color: #fff;
				}
			}
		}
	}
}

