.sponsor-ship-bg {
	background: #161613;
	.text-secondary {
		color: #00aaa6 !important;
	}
	.btn-secondary {
		background-color: #00aaa6 !important;
		color: #fff !important;
		border: 1px solid #00aaa6 !important;

		&:hover {
			background-color: #039693 !important;
			border: 1px solid #039693 !important;
		}
	}
	.floating-text {
		/* top: 30%; */
		margin-left: -125px;
		width: 120%;
		left: -20%;
	}
	.floating-line {
		border: 1px solid rgba(255, 255, 255, 0.3);
		width: 50%;
		position: absolute;
		top: 20%;
		z-index: 0;
		+ * {
			position: relative;
			z-index: 1;
		}
	}
}
.gradient-texts {
	width: 80%;
	font-weight: 700;
	font-size: 80px;
	> div {
		background-size: 100%;
		background-repeat: repeat;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
	}

	.first-text {
		background-image: linear-gradient(45deg, #f94a4a, #b4d881);
	}
	.second-text {
		background-image: linear-gradient(45deg, #b4d881, #02a7a6);
	}
	.third-text {
		background-image: linear-gradient(45deg, #02a7a6,#984bb5, #b6bfc1);
	}
}

.sponsor-ship-border-light {
	border-color: rgba(255, 255, 255, 0.3) !important;
}

@media (max-width: 1200px) {
	.sponsor-ship-bg .gradient-texts img {
		width: 80%;
	}
}
@media (max-width: 991px) {
	.sponsor-ship-bg .floating-text {
		position: relative;
		width: 100%;
		left: 0;
	}
}
