.support-product-category {
	.products {
		> div {
			text-align: center;
			background: #fff;
			transition: all 300ms ease;
			color: rgba(41, 41, 41, 0.5);
			padding: 24px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&:hover {
				color: #292929;
				background: #f7f7f7;
				box-shadow: 0 6px 20px 0 rgb(0 0 0 / 19%), 0 8px 17px 0 rgb(0 0 0 / 20%);
				z-index: 3;
				-webkit-transform: scale(1.0625);
				transform: scale(1.04);
				img {
					transform: scale(0.7);
					opacity: 1;
				}
			}
			.img_box {
				width: 64px;
				height: 64px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 20px;
				img {
					opacity: 0.5;
					transition: inherit;
				}
			}

			p {
				margin-bottom: 0;
			}
		}
	}
}

.support-product-category-new {
	.products {
		> div {
			color: rgba(41, 41, 41, 0.925);
			padding: 20px 5px;
			display: flex;
			flex-direction: column;
			align-items: center;
			&:hover,
			&.active {
				color: #fff;
				background: var(--primary-color);
				box-shadow: none !important;
				-webkit-transform: scale(1);
				transform: scale(1);
			}
			.img_box {
				width: 50px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 20px;

				img {
					transform: scale(0.7);
					opacity: 1;
					-webkit-transform: scale(0.7);
					-moz-transform: scale(0.7);
					-ms-transform: scale(0.7);
					-o-transform: scale(0.7);
				}
			}

			p {
				margin-bottom: 0;
				font-weight: 400;
				font-size: 12px;
			}
		}
	}
}

.custom-select-support {
	max-width: 480px;
	width: 100%;
	.search-products-btn {
		border: none;
		border-bottom: 2px solid #c6c6c6;
		background-color: transparent;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 400;
		padding: 0 20px;
		padding: 10px;
	}
	.search-products-list {
		.search {
			display: block;
			width: 100%;
			padding: 10px;
			border: 0;
			border-bottom: 1px solid rgba(0, 0, 0, 0.16);
			background-color: #fff;
			margin: 0;
			font-size: 15px;
			line-height: 1;

			&:focus,
			&:focus-visible {
				outline: none;
				box-shadow: none;
			}
		}

		.list {
			max-height: 300px;
			overflow-y: auto;
			position: relative;
			padding: 0;
			li {
				background-color: #fff;
				position: relative;
				padding: 24px 12px;
				font-size: 15px;
				line-height: 1;
				transition: all 300ms ease;
				display: block;
				text-align: left;
				width: 100%;
				max-width: 100%;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				a {
					color: #202020 !important;
					text-decoration: none;
				}

				&:hover {
					background-color: #f2f2f2;
				}
			}
		}
	}
}

.custom-select-support-new {
	.search-products-btn {
		border: 1px solid #000;
		justify-content: start;
		padding: 18px;
		font-size: 12px;
		font-weight: 400;
		i {
			color: #ccc;
		}
	}
}

.supports-new > div:nth-child(n + 2) {
	border-left: 1px solid #000;
}

.support-products {
	padding: 74px 24px 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 64px;
	@include mq(1200) {
		gap: 20px;
	}
	&.dropdown_container {
		gap: 20px;
		.support-products___texts {
			margin-bottom: 20px;
		}
		.support-search-container {
			max-width: 600px;
		}
	}
	&___texts {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 32px;
		text-align: center;
		@include mq(1200) {
			margin-bottom: 20px;
		}
		&___title {
			font-size: 60px;
			font-weight: 500;
			line-height: 68.4px; /* 114% */
			letter-spacing: -1.2px;
			color: #000;
			margin: 0;
			* {
				font-size: 60px;
				font-weight: 500;
				line-height: 68.4px; /* 114% */
				letter-spacing: -1.2px;
				color: #000;
			}
			@include mq(768) {
				font-size: 34px;
				line-height: 45.9px; /* 135% */
				letter-spacing: -0.68px;
				* {
					font-size: 34px;
					line-height: 45.9px; /* 135% */
					letter-spacing: -0.68px;
				}
			}
		}
		&___subtitle {
			font-size: 20px;
			font-weight: 400;
			line-height: 25px; /* 125% */
			letter-spacing: -0.4px;
			color: #ababb0;
			margin: 0;
			* {
				font-size: 20px;
				font-weight: 400;
				line-height: 25px; /* 125% */
				letter-spacing: -0.4px;
				color: #ababb0;
			}
			@include mq(768) {
				font-size: 16px;
				line-height: 25px; /* 156.25% */
				letter-spacing: -0.32px;
				* {
					font-size: 16px;
					line-height: 25px; /* 156.25% */
					letter-spacing: -0.32px;
				}
			}
		}
	}

	.support-category-row-container {
		display: grid;
		width: 100%;
		max-width: 1372px;
		height: auto;
		gap: 16px;
		margin: auto;
		text-align: center;
		justify-content: start;
		overflow-x: auto;

		.slider-item {
			height: 100%;
			border: 1px solid #dbddde;
			max-width: 177px;
			width: 177px;
			height: 100%;
			padding: 16px 8px;
			border-radius: 25px;
			text-align: center;

			.slider-image {
				max-height: 100px;
				width: 100%;
				max-width: 100px;
				margin: 0 auto;
				object-fit: contain;
			}

			.slider-item-text {
				font-size: 14px;
				font-weight: 500;
				line-height: 18.9px; /* 135% */
				color: black;
				padding-top: 16px;
			}
		}

		.slider-item-inner-button {
			background: none;
		}

		.support-selected {
			background: #ababaf;
			border: 3px solid #c6c6c8;

			.slider-image {
				filter: brightness(0) invert(1);
			}

			.slider-item-text {
				color: white;
			}
		}
	}

	.support-search-container {
		display: flex;
		position: relative;
		flex-direction: column;
		max-width: 300px;
		width: 100%;
		@include mq(1200) {
			max-width: 600px;
		}
		&.bigger_container {
			max-width: 600px;
		}
		&___backdrop {
			position: fixed;
			z-index: 3;
			left: 0;
			top: 0;
			transform: translate(-50%, -50%);
			width: 200vw;
			height: 200vh;
		}
		svg {
			position: absolute;
			top: 16px;
			left: 20px;
			right: auto;
			bottom: auto;
			width: 20px;
			height: 20px;
		}

		.support-loading-spinner {
			position: relative;
			width: 100%;

			svg {
				position: absolute;
				top: 0 !important;
				left: 0 !important;
				right: 0 !important;
				bottom: 0 !important;
				margin: auto auto !important;
			}
		}

		input {
			width: 100% !important;
			height: 54px;
			padding: 20px 16px !important;
			font-size: 16px;
			font-weight: 300;
			border: 1px solid #f0f2f2 !important;
			border-radius: 12px;
			text-indent: 44px;
		}
		input::placeholder {
			color: #8c8f8f;
		}
		input:focus {
			border-color: black;
		}

		.search-is-active {
			border-color: black !important;
			border-radius: 12px 12px 0px 0px !important;
		}
		.search-is-active:focus {
			border: 1px solid #00aaa6 !important;
		}

		.search-is-error {
			border-color: #f05b71 !important;
			border-radius: 12px 12px 0px 0px !important;
		}

		ul {
			position: absolute;
			z-index: 4;
			top: 54px;
			left: 0;
			right: 0;
			padding: 20px 16px !important;
			border: 1px solid #c7c7c9 !important;
			border-radius: 0px 0px 12px 12px;
			background-color: white !important;

			.support-search-prelist-text {
				font-size: 12px;
				font-weight: 400;
				color: black;
				line-height: 16.2px;
			}

			.search-is-error-text {
				font-size: 16px;
				font-weight: 400;
				line-height: 21.6px;
				color: #8c8f8f;
			}

			.view-all-top-border {
				position: absolute;
				bottom: 40px;
				left: 0;
				right: 0;
				width: 100%;
				height: 1px;
				margin: auto 0;
				background-color: #c7c7c9;
			}

			// .view-all-button {
			// 	position: absolute;
			// 	width: 100%;
			// 	bottom: 0px;
			// 	left: 0px;
			// 	right: auto;
			// 	padding: 7.5px 0px;
			// 	background: white;
			// 	border: none;
			// 	text-align: left;
			// 	text-indent: 10px;
			// 	border-top: 1px solid #C7C7C9;
			// }
		}

		ul > li {
			display: inline-flex;
			flex-direction: row;
			align-items: center;
			padding: 3px 0px 3px 20px;
			background-color: white !important;
			border-radius: 10px;
			&:hover {
				background-color: #F0F2F2 !important;
				a,
				span,
				a > span,
				.searched,
				.support-dropdown-list-text,
				.support-dropdown-list-text > span,
				.support-dropdown-list-text > strong {
					color: #008885 !important;
				}
			}
		}

		ul > li > a > span {
			display: inline-flex !important;
			flex-direction: row;
			align-items: center;
		}

		ul > li > a,
		ul > li > a > span {
			font-weight: 400;
		}

		ul > li > a,
		ul > li > a > span,
		ul > li > a > span > strong {
			display: inline-block;
			text-decoration: none;
			font-size: 16px;
			line-height: 21.6px;
			color: black !important;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		ul > li > a > .support-dropdown-list-text {
			font-size: 16px;
			font-weight: 400;
			line-height: 21.6px;
			color: black;
			text-overflow: ellipsis;
			&.searched {
				color: #8c8f8f !important;
			}
			strong {
				color: black;
			}
		}

		ul > li:hover {
			a > .searched{
				color: #008885 !important;
			}
		}

		.view-all-button {
			position: absolute;
			z-index: 10;
			width: 100%;
			top: auto;
			// bottom: -300px;
			left: 0px;
			right: auto;
			padding: 7.5px 0px;
			background: white;
			border: none;
			text-align: left;
			text-indent: 10px;
			border: 1px solid #c7c7c9;
			border-radius: 0px 0px 12px 12px;
		}
	}

	.support-products-slider {
		.swiper-wrapper {
			justify-content: space-between;
		}
		.swiper-button-prev,
		.swiper-button-next {
			background: #00a29c;
			width: 75px;
			height: 75px;
			border-radius: 50%;
			opacity: 0.3;
			transition: all 0.3s ease-in;
			@include mq(768) {
				width: 50px;
				height: 50px;
			}
			&::after {
				@include mq(768) {
					font-size: 24px;
				}
				color: #fff;
				font-size: 30px;
				font-weight: 900;
			}

			&:hover {
				opacity: 0.8;
			}
		}
		.swiper-button-prev {
			left: 20%;
			@include mq(1440) {
				left: 10%;
			}
			@include mq(575) {
				left: 10px;
			}
		}
		.swiper-button-next {
			right: 20%;
			@include mq(1440) {
				right: 10%;
			}
			@include mq(575) {
				right: 10px;
			}
		}
		.slider-item {
			height: 100%;
			border: 1px solid #dbddde;
			max-width: 265px;
			padding: 30px 50px;
			border-radius: 25px;
			text-align: center;

			.slider-image {
				max-height: 93px;
				width: 100%;
				max-width: 100px;
				margin: 0 auto;
				object-fit: contain;
			}
		}

		button {
			margin-top: 35px;
		}
	}
}

.support-products-searchbox {
	border: 1px solid #221f20;
	border-radius: 1000px;
	background-color: #fff;
	width: 100%;
	max-width: 378px;
	margin: 40px auto 0;
	padding: 14px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	input {
		border: none;
		caret-color: #00a29c;
		font-weight: 400;
		font-size: 16px;
		color: #221f20;
		width: 90%;
		max-width: 250px;
		&::placeholder {
			font-weight: 400;
			font-size: 16px;
			color: #a6a8ac;
		}
		&:focus {
			box-shadow: none;
		}
	}
	button {
		background-color: transparent;
		border: none;
	}
}

.support-new-heading {
	&::after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(34, 31, 32, 0.1);
		z-index: 1;
	}
	.heading-text {
		z-index: 2;
	}
}

.need_more_help_banner {
	padding: 64px 12px;
	background-color: #00a29c;
	&:after {
		display: none;
	}
	.title {
		* {
			font-size: calc(1.375rem + 1.5vw) !important;
		}
	}
	&.version_2 {
		background-color: #fff;
		padding: 96px 12px;
		@include mq(575) {
			padding: 40px 12px;
		}
		.content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 30px;
			max-width: 1200px;
			width: 100%;
			margin: 0 auto;
			.title {
				font-size: 48px;
				font-weight: 500;
				line-height: 55.86px; /* 116.375% */
				letter-spacing: -0.96px;
				color: #000;
				margin: 0 !important;
				@include mq(575) {
					font-size: 34px;
					line-height: 45.9px; /* 135% */
					letter-spacing: -0.68px;
				}
				* {
					font-size: 48px;
					font-weight: 500;
					line-height: 55.86px; /* 116.375% */
					letter-spacing: -0.96px;
					color: #000;
					margin: 0 !important;
					@include mq(575) {
						font-size: 34px;
						line-height: 45.9px; /* 135% */
						letter-spacing: -0.68px;
					}
				}
			}
			.version_2_button {
				border-radius: 1000px !important;
				border: #fff !important;
				background: var(
					--Hisense-Green,
					linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
					#00aaa6
				) !important;
				display: flex !important;
				height: 41px !important;
				min-width: 118px !important;
				padding: 14px 24px 10px !important;
				justify-content: center !important;
				align-items: center !important;
				font-size: 24px !important;
				font-weight: 400 !important;
				line-height: 100% !important; /* 24px */
				color: #fff !important;
				&:hover {
					color: #fff !important;
					background: var(
						--Hisense-Green,
						linear-gradient(
							0deg,
							rgba(0, 0, 0, 0.2) 0%,
							rgba(0, 0, 0, 0.2) 100%
						),
						#01918e
					) !important;
				}
			}
		}
	}
	.heading-text {
		position: relative !important;
		top: 0 !important;
		transform: translate(0, 0) !important;
	}
}

@media (max-width: 768px) {
	.supports-new > div:nth-child(n + 2) {
		border-left: none;
	}
}

.support_new_products_select_box {
	border-radius: 16px;
	border: 1px solid #c7c7c9;
	max-width: 600px;
	width: 100%;
	height: 56px;
	padding: 8px 16px;
	position: relative;
	&___backdrop {
		position: fixed;
		z-index: 6;
		left: 0;
		top: 0;
		transform: translate(-50%, -50%);
		width: 200vw;
		height: 200vh;
	}
	&___content {
		position: relative;
		z-index: 7;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 32px;
		height: 100%;
		&___selected {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 16px;
			&___image {
				width: 40px;
				height: 40px;
				object-fit: contain;
			}
			&___title {
				font-size: 12px;
				font-weight: 500;
				line-height: 21.6px; /* 180% */
				letter-spacing: -0.24px;
				color: #000;
			}
		}
		&___icon {
			transition: all 0.3s ease-in-out;
			&.open {
				transform: rotate(180deg);
			}
		}
	}
	&___list {
		position: absolute;
		top: 60px;
		left: 0;
		height: auto;
		width: 100%;
		border: 1px solid #c7c7c9;
		border-radius: 16px;
		padding: 4px;
		list-style: none;
		margin: 0;
		z-index: 8;
		background-color: #fff;
		&___item {
			display: flex;
			justify-content: start;
			align-items: center;
			gap: 16px;
			border: 2px solid transparent;
			border-radius: 12px;
			padding: 8px;
			background-color: transparent;
			transition: all 0.3s ease-in-out;
			&___image {
				width: 40px;
				height: 40px;
				object-fit: contain;
				transition: all 0.3s ease-in-out;
				filter: brightness(1) invert(0);
			}
			&___title {
				font-size: 12px;
				font-weight: 500;
				line-height: 21.6px; /* 180% */
				letter-spacing: -0.24px;
				color: #000;
				transition: all 0.3s ease-in-out;
			}

			&:hover,
			&.selected {
				background-color: #abaeb3;
				border-color: #c7c7c9;
				.support_new_products_select_box___list___item___image {
					filter: brightness(0) invert(1);
				}
				.support_new_products_select_box___list___item___title {
					color: #fff;
				}
			}
		}
	}
}
