.platform-uled {
	&:first-child {
		background-color: #dee0ee;
		.discover-btn {
			a {
				background-color: #000 !important;
				color: #fff !important;
			}
		}
		.where-to-buy-btn {
			border-color: #000 !important;
			padding: 16px 24px !important;
			border-radius: 50px !important;
			--bs-btn-color: #000 !important;
			--bs-btn-border-color: #212529 !important;
			--bs-btn-hover-color: #fff !important;
			--bs-btn-hover-bg: #212529 !important;
			--bs-btn-hover-border-color: #212529 !important;
			--bs-btn-focus-shadow-rgb: 33, 37, 41 !important;
			--bs-btn-active-color: #fff !important;
			--bs-btn-active-bg: #212529 !important;
			--bs-btn-active-border-color: #212529 !important;
			--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
			--bs-btn-disabled-color: #212529 !important;
			--bs-btn-disabled-bg: transparent !important;
			--bs-btn-disabled-border-color: #212529 !important;
			--bs-gradient: none !important;
			-webkit-border-radius: 50px !important;
			-moz-border-radius: 50px !important;
			-ms-border-radius: 50px !important;
			-o-border-radius: 50px !important;
		}
	}
	&:nth-child(2) {
		background-color: #b33846;
	}
	&:nth-child(3) {
		background-color: #0c4955;
		p {
			color: #009e96 !important;
		}
	}
	&:nth-child(4) {
		background-color: #252525;

		p {
			color: #ffb583 !important;
		}
	}

	.where-to-buy-btn {
		padding: 16px 24px !important;
		border-radius: 50px !important;
	}
}
.platform-uled-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include mq(1200) {
		width: 50% !important;
	}
	@include mq(500) {
		width: 100% !important;
	}
}
.jarg-flex {
	> div {
		width: fit-content;
		> .bg-light-2 {
			width: fit-content;
			margin: 0 auto;
		}
		> .jarg-text-section {
			max-width: 180px !important;
			> span {
				font-size: 14px !important;
				line-height: 20px;
			}
		}
	}
}

.uled_head {
	@include mq(768) {
		img {
			position: relative;
			height: 440px !important;
		}
	}
	.heading-text {
		z-index: 1;
		max-width: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		.article {
			h1,
			h2,
			h3 {
				margin: 36px 0;
	
				* {
					font-size: 52.5px !important;
					line-height: 60px;
	
					@include mq(1920) {
						font-size: 42px !important;
						line-height: 48px;
					}
	
					@include mq(768) {
						font-size: 32px !important;
						line-height: 36px;
					}
				}
			}
		}
		@include mq(1400) {
			max-width: 75%;
		}
		@include mq(768) {
			max-width: 80%;
		}
	}
}
