NODE_ENV=development
APP_PORT=3000

## cxm Api Route
CXM_API_ROUTE=https://imcxm.dev-api.hisenseportal.com/api/public
ECOM_API_ROUTE=https://imecom.dev-api.hisenseportal.com/api/v1
CRM_API_ROUTE=https://imcrm2.dev-api.hisenseportal.com/api/v1/form/fill
PIM_API_ROUTE=https://impim.dev-api.hisenseportal.com/api/cms
ASSETS_API_ROUTE=https://assets.hisenseportal.com/api/v1/upload/d6357c2807362f


HOST_NAME=public.dev.hisenseportal.com
SITE_URL=https://public.dev.hisenseportal.com
BRAND_ID=3
ROBOT_ACCESSIBILITY=false

CONTACTUS_TOKEN=F4596M75866O18
SEASON_UPGRADE_TOKEN=F2396f83566z67
SEASON_UPGRADE_NBA_2K_TOKEN=F1790f83566y58
NBA_FORM_TOKEN=F2357k15693m28
NEWSROOM_ANNOUNCEMENTS_TOKEN=F657979c74610c
NEWS_SIGNUP_FORM_TOKEN=F276979a74645p

VELARO_ID=20216

GTM_ID=GTM-WBPC7RT

## sentry
SENTRY_DSN=https://70739967e49c4d6b9b863ca6d3e3ad8a@o4504095127502848.ingest.sentry.io/4504128249856000