.ha_banner {
	width: 100%;
	position: relative;
	height: 0;
	@include mq(450) {
		height: 400px;
		padding-top: 0 !important;
	}
	> img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #00000044;
		z-index: 1;
	}
	.content {
		margin: 0 auto;
		max-width: 1300px;
		padding: 16px;
		z-index: 2;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		text-align: center;
		.title {
			* {
				font-size: 72px;
				font-style: normal;
				font-weight: 400;
				line-height: 84px;
				letter-spacing: -1.92px;
				color: #fff;
				margin: 0;
				@include mq(1100) {
					font-size: 60px;
					line-height: 68px;
				}
				@include mq(768) {
					font-size: 34px;
					line-height: 42px;
				}
			}
		}
		.subtitle {
			margin-bottom: 32px;
			font-style: normal;
			font-weight: 400;
			color: #17e2dd !important;
			letter-spacing: 3px;
			text-transform: uppercase;
			font-size: 16px;
			line-height: 22px;
		}
	}
}
