@media (min-width: 992px) {
	.scrolled {
		padding-top: 88px;

		.ha_header_cat {
			position: fixed;
			margin-top: 0;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 999;
		}
	}
}
.ha_header_cat {
	background-color: #ffffff;
	height: 88px;
	max-height: 88px;
	padding: 0 16px;

	@media (max-width: 1109px) and (min-width: 992px) {
		margin-top: 38px;
	}

	.content {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: flex-start;
		margin: 0 auto;
		max-width: 1600px;

		@include mq(768) {
			flex-wrap: wrap;
		}
		.title {
			margin-left: 11%;

			@include mq(991) {
				margin-left: 0;
			}

			@include mq(768) {
				margin-bottom: 16px;
			}

			* {
				font-size: 28px;
				font-style: normal;
				font-weight: 400;
				line-height: 38px;
				letter-spacing: -0.48px;
				color: #000;
				margin: 0;
			}
		}

		.category {
			padding: 0;
			margin: 0;
			width: 50%;
			list-style: none;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			@include mq(991) {
				width: 100%;
				margin-left: 4%;
			}

			@include mq(768) {
				width: 100%;
				margin-left: 0;
				justify-content: space-between;
				flex-wrap: wrap;
			}

			li {
				align-items: center;
				display: flex;
				justify-content: center;
				margin: 0 12px;
				max-width: 130px;
				text-align: center;
				width: 100%;

				@include mq(768) {
					width: 20%;
					max-width: unset;
				}

				@include mq(575) {
					width: 40%;
				}

				a {
					width: 100%;

					&.active {
						cursor: default;
						pointer-events: none;
					}

					&:not(.active):hover {
						opacity: 0.5;
					}
				}

				.image {
					position: relative;
					width: 60%;
					min-height: 50px;
					max-height: 50px;
					min-width: 50px;
					max-width: 50px;
					margin: 0 auto 4px;

					img {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;

						@include mq(768) {
							width: 100%;
						}
					}
				}

				.cat-label {
					p {
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: 21.6px;
						letter-spacing: -0.32px;
						margin-bottom: 0;
					}
				}
			}
		}
	}

	@media (max-width: 991px) {
		bottom: 0;
		height: 57px;
		left: 0;
		padding: 0;
		position: fixed;
		width: 100%;
		z-index: 99;

		.content {
			height: 100%;
			padding-inline: 20px;

			.title {
				margin-bottom: 0;
			}

			.category {
				column-gap: 4%;
				flex-grow: 1;
				flex-wrap: wrap;
				justify-content: flex-end;
				margin-left: 0;
				width: auto;

				li {
					margin-inline: 0;

					a {
						.image {
							margin-bottom: 0;
							max-height: 30px;
							max-width: 30px;
							min-height: 30px;
							min-width: 30px;
							padding-top: 30px;

							img {
							}
						}

						.cat-label {
							p {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
}
