.ha_header_cat {
	background-color: #fffffd;
	padding: 32px 16px;
	.content {
		display: flex;
		justify-content: flex-start;
		margin: 0 auto;
		align-items: center;
		max-width: 1600px;
		@include mq(768) {
			flex-wrap: wrap;
		}
		.title * {
			font-size: 34px;
			font-style: normal;
			font-weight: 400;
			line-height: 42px;
			letter-spacing: -0.48px;
			color: #000;
			margin: 0;
		}
		.category {
			padding: 0;
			margin: 0;
			width: 50%;
			margin-left: 9%;
			list-style: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include mq(991) {
				width: 100%;
				margin-left: 4%;
			}
			@include mq(768) {
				width: 100%;
				margin-left: 0;
				flex-wrap: wrap;
			}
			li {
				max-width: 130px;
				width: 100%;
				margin: 0 12px;
				text-align: center;
				@include mq(768) {
					width: 20%;
					max-width: unset;
				}
				@include mq(575) {
					width: 40%;
				}
				.image {
					height: 0;
					padding-top: 60%;
					position: relative;
					img {
						width: 100px;
						margin-bottom: 16px;
						@include mq(768) {
							width: 100%;
						}
					}
				}
				h6 {
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 21.6px;
					letter-spacing: -0.32px;
				}
			}
		}
	}
}
