.flight_night_social_media {
  background: #232323;
  padding: 16px;
  @include mqm(450) {
    padding: 64px 16px;
  }
  .title {
    margin-bottom: 32px;
    * {
      font-weight: 400;
      font-size: 34px;
      line-height: 42px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #00aaa6;
      margin: 0;
    }
  }
  .subtitle {
    margin: 32px 0;
    * {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.02em;
      margin: 0;
      color: #ffffff;
    }
  }
  .text {
    margin-top: 32px;
    * {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.02em;
      margin: 0;
      color: #00aaa6;
    }
  }
  .caption {
    margin-top: 16px;
    * {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      margin: 0;
      text-align: center;
      color: #ffffff;
    }
  }
}
