/* specs */
.specs-detail {
	padding: 50px 30px;
	.specs-btn {
		padding: 0 24px;
		width: 180px;
		height: 50px;
		overflow-y: hidden;
		span {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			transition: all 0.3s ease;
		}
		.hide {
			top: 0;
			transform: translateY(-50%);
		}
		.show {
			top: -100%;
		}
	}
	&.close {
		.specs-btn {
			.hide {
				top: 100%;
			}
			.show {
				top: 0;
				transform: translateY(50%);
			}
		}
	}
	.specs-container {
		max-height: 0;
		overflow-y: hidden;
		transition: max-height 0.8s ease-out;
	}
	h3 {
		font-weight: 700;
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 35px;
		padding: 5px;
	}
	.discription-list {
		dt {
			width: 100%;
			font-weight: 600;
			font-size: 15px;
			line-height: 30px;
			color: #b3b3b3;
			display: block;
			word-wrap: break-word;
		}
		.d_desc {
			font-size: 15px;
			line-height: 30px;
			color: #292929;
			word-wrap: break-word;
		}
	}
}

@media (max-width: 575px) {
	.specs .discription-list dd {
		font-size: 15px;
	}
	.specs .discription-list dd::before {
		font-weight: 600;
		font-size: 13px;
	}
}

.product_static_content {
	padding: 64px;
	max-width: unset !important;
	@include mq(768) {
		padding: 32px 16px;
	}
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 32px;
		.image {
			width: 100%;
			max-width: 200px;
			margin: 0 auto;
			height: auto;
			object-fit: contain;
			@include mq(768) {
				max-width: 160px;
			}
		}
		.title {
			font-size: 48px;
			font-weight: 400;
			line-height: 55.86px; /* 116.375% */
			letter-spacing: -0.96px;
			color: #000000;
			margin: 0;
			@include mq(768) {
				font-size: 24px;
				line-height: 30px; /* 125% */
				letter-spacing: -0.48px;
			}
		}
		.text {
			max-width: 500px;
			margin: 0 auto;
			* {
				margin: 0;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 21.6px; /* 135% */
				color: #000000;
				@include mq(768) {
					font-size: 14px;
					line-height: 18.9px; /* 135% */
				}
			}
			strong {
				font-weight: 700;
			}
		}
	}
}
