/* specs */
.specs-detail {
	padding: 50px 30px;
	.specs-btn {
		padding: 0 24px;
		width: 180px;
		height: 50px;
		overflow-y: hidden;
		span {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			transition: all 0.3s ease;
		}
		.hide {
			top: 0;
			transform: translateY(-50%);
		}
		.show {
			top: -100%;
		}
	}
	&.close {
		.specs-btn {
			.hide {
				top: 100%;
			}
			.show {
				top: 0;
				transform: translateY(50%);
			}
		}
	}
	.specs-container {
		max-height: 0;
		overflow-y: hidden;
		transition: max-height 0.8s ease-out;
	}
	h3 {
		font-weight: 700;
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 35px;
		padding: 5px;
	}
	.discription-list {
		dt {
			width: 100%;
			font-weight: 600;
			font-size: 15px;
			line-height: 30px;
			color: #b3b3b3;
			display: block;
			word-wrap: break-word;
		}
		.d_desc {
			font-size: 15px;
			line-height: 30px;
			color: #292929;
			word-wrap: break-word;
		}
	}
}

@media (max-width: 575px) {
	.specs .discription-list dd {
		font-size: 15px;
	}
	.specs .discription-list dd::before {
		font-weight: 600;
		font-size: 13px;
	}
}

.product_static_content {
	padding: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 860px;
	margin: 0 auto;
	@include mq(768) {
		padding: 24px 16px 16px !important;
		h4 {
			font-size: 32px !important;
			line-height: 42px !important;
		}
	}
	h4 {
		font-weight: 700;
		font-size: 33px;
		line-height: 32px;
		margin-bottom: 16px;
		color: #000000;
	}
	p {
		font-weight: 400;
		font-size: 18px;
		line-height: 33px;
		color: #000000;
	}
}
