/* resources */
.resources {
	background: #2f2f2f;
	padding-top: 75px;
	padding-bottom: 40px;
	text-align: center;
	color: #fff;
	h2 {
		font-weight: 700;
		font-size: 48px;
		margin-bottom: 65px;
	}
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			padding: 4px 20px;
		}
	}
	a {
		text-decoration: none;
		color: #fff;
		opacity: 0.8;
		font-weight: 300;
		font-size: 24px;
		line-height: 30px;
	}
	.underline-on-hover {
		&:hover {
			&::after {
				width: 100%;
			}
		}
	}
}

.product_resources {
	background: #103a42;
	padding: 64px 16px;
	text-align: center;
	@include mq(768) {
		padding: 32px 16px;
	}
	.title {
		padding: 30px;
		font-size: 48px;
		line-height: 55.86px;
		font-style: normal;
		font-weight: 400;
		letter-spacing: -0.96px;
		margin-bottom: 16px;
		color: white;
		@include mq(768) {
			margin-bottom: 32px;
			padding: 0px;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 32px;
		@include mq(768) {
			gap: 16px;
			flex-direction: column;
		}
	}
}

@media (max-width: 575px) {
	.resources {
		h2 {
			font-weight: 400;
			font-size: 18px;
			margin-bottom: 25px;
		}
		a {
			font-size: 12px;
			font-weight: 300;
		}
		li {
			width: 100%;
		}
	}
}
