.careers_accordion {
	padding: 64px 12px 48px !important;
	.faq-accordion-item {
		border-radius: 25px !important;
		.faq-accordion-button {
			padding: 37px 40px 30px !important;
			span svg path {
				fill: #00aaa6 !important;
			}
			@include mq(768) {
				padding: 24px !important;
			}
		}
	}
	.careers_accordion_content {
		border-bottom: 1px solid #f0f2f2;
		padding: 32px !important;
		justify-content: space-between !important;
		align-items: center !important;
		flex-wrap: nowrap;
		&:last-child,
		&:last-of-type {
			border-bottom: none;
		}
		@include mq(768) {
			padding: 24px !important;
			flex-wrap: wrap;
		}
		.faq-accordion-question {
			font-weight: 400 !important;
			font-size: 20px !important;
			line-height: 25px !important;
			color: #383838 !important;
		}
		.faq-accordion-answer {
			* {
				margin-bottom: 0 !important;
				font-weight: 500 !important;
				font-size: 16px !important;
				line-height: 22px !important;
				color: #383838 !important;
			}
		}
	}
}
