.careers_accordion {
	padding: 64px 12px 0px !important;
	@include mq(768) {
		padding: 32px 12px 0px !important;
	}
	.faq-accordion-item {
		border-radius: 25px !important;

		> button {
			@include mq(500) {
				text-align: left;
			}
		}
		&.collapsed {
			.faq-accordion-button span svg path {
				transform: rotate(180deg);
			}
		}
		.faq-accordion-button {
			padding: 37px 40px 30px !important;
			color: #000 !important;
			gap: 16px;
			span {
				width: 50px;
				height: 50px;
				min-width: 50px;
				display: flex;
				background: #00aaa6;
				border-radius: 100%;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				-ms-border-radius: 100%;
				-o-border-radius: 100%;
				justify-content: center;
				align-items: center;
				@include mq(768) {
					width: 32px;
					height: 32px;
					min-width: 32px;
					svg {
						width: 16px;
					}
				}
				svg {
					background-color: transparent !important;
					path {
						transition: all 0.5s 0.3s ease;
						transform-origin: center center;
						fill: #fff !important;
					}
				}
			}
			@include mq(768) {
				padding: 16px !important;
			}
		}
	}
	.careers_accordion_content {
		border-bottom: 1px solid #f0f2f2;
		padding: 32px !important;
		justify-content: space-between !important;
		align-items: center !important;
		flex-wrap: nowrap;
		&:last-child,
		&:last-of-type {
			border-bottom: none;
		}
		> a {
			margin-top: 25px;
			@include mq(768) {
				margin-top: 16px;
			}
		}
		@include mq(768) {
			padding: 24px !important;
			flex-wrap: wrap;
		}
		.faq-accordion-question {
			font-weight: 400 !important;
			font-size: 20px !important;
			line-height: 25px !important;
			color: #000 !important;
			@include mq(768) {
				font-size: 16px !important;
				line-height: 21.6px !important;
			}
		}
		.faq-accordion-answer {
			* {
				margin-bottom: 0 !important;
				font-weight: 500 !important;
				font-size: 16px !important;
				line-height: 22px !important;
				color: #000 !important;
				@include mq(768) {
					font-size: 14px !important;
					line-height: 18.9px !important;
				}
			}
		}
	}
}
