.careers_cycle_section {
	.content {
		max-width: 1307px;
		margin: 0 auto 54px;
		padding: 0 16px;
		display: flex;
		justify-content: center;
		align-items: start;
		flex-direction: column;
		gap: 32px;
		@include mq(768) {
			margin: 0 auto;
		}
		.title {
			margin: 0;
			@include mq(768) {
				text-align: center;
				width: 100%;
			}
			* {
				font-size: 48px;
				font-weight: 500;
				line-height: 50px; /* 116.375% */
				letter-spacing: -0.96px;
				color: #000000;
				margin: 0 0 -4px;
				@include mq(768) {
					font-size: 24px;
					line-height: 28px; /* 125% */
					letter-spacing: -0.48px;
				}
			}
		}
		.list {
			display: flex;
			justify-content: center;
			align-items: start;
			flex-direction: column;
			gap: 32px;
			width: 100%;
			.item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 32px;
				width: 100%;
				@include mq(768) {
					gap: 48px;
					flex-wrap: wrap;
					justify-content: center;
				}
				.image_wrapper {
					position: relative;
					max-width: 242px;
					height: 242px;
					.image {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border-radius: 100%;
						box-shadow: 0px 10px 16px 0px rgba(20, 37, 63, 0.06);
					}
					.icon {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						width: 80px;
						height: 80px;
						object-fit: contain;
					}
				}
				.text_content {
					max-width: 815px;
					width: 100%;
					padding-right: 100px;
					@include mq(991) {
						padding-right: 40px;
					}
					@include mq(768) {
						padding-right: 0;
					}
					.title {
						margin-bottom: 12px;
						@include mq(768) {
							margin-bottom: 32px;
						}
						* {
							font-size: 34px;
							font-weight: 500;
							line-height: 45.9px; /* 135% */
							letter-spacing: -0.68px;
							color: #000000;
							margin: 0;
							@include mq(768) {
								font-size: 20px;
								line-height: 22px; /* 125% */
								letter-spacing: -0.4px;
							}
						}
					}
					.text {
						margin: 0;

						* {
							width: 100%;
							font-size: 20px;
							font-weight: 500;
							line-height: 25px; /* 125% */
							letter-spacing: -0.4px;
							color: #000000;
							margin: 0;
							@include mq(768) {
								font-size: 16px;
								line-height: 20px; /* 135% */
							}
						}
					}
				}
			}
		}
		.second_article {
			padding: 32px 0;
			display: flex;
			justify-content: center;
			align-items: start;
			flex-direction: column;
			gap: 64px;
			@include mq(768) {
				gap: 32px;
			}
		}
		.text {
			margin: 0;
			* {
				font-size: 24px;
				font-weight: 500;
				line-height: 30px; /* 125% */
				letter-spacing: -0.48px;
				color: #000000;
				margin: 0;
				@include mq(768) {
					font-size: 16px;
					line-height: 20px; /* 135% */
					letter-spacing: 0;
				}
			}
		}
	}
}
