.careers_textbox {
	padding: 64px 12px;

	@include mq(992){
		padding: 64px 16px;
	}
	.v1 {
		max-width: 600px;
		margin: 0 auto;
		.text * {
			text-align: center;
			font-weight: 400;
			font-size: 20px;
			line-height: 25px;
			margin-bottom: 0;
			color: #ffffff;
		}
	}
	.v2 {
		max-width: 500px;
		margin: 0 auto;
		.text {
			margin-bottom: 32px;
			* {
				text-align: center;
				font-weight: 300;
				font-size: 16px;
				line-height: 22px;
			}
		}
	}
}
