.parallax-banner {
	height: 100vh;
	position: relative;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.banner-content {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transform: translateY(-50%);
		text-align: center;
		padding: 12px;
		color: #ffffff;

		.title {
			margin-bottom: 40px;
			font-weight: 400;
			line-height: 120%;
			letter-spacing: -0.02em;
		}

		.description {
			font-weight: 400;
			line-height: 120%;
			letter-spacing: -0.02em;
			margin-bottom: 40px;
		}
	}
}

.news-slider {
	margin: 85px 0;
	@include mq(768) {
		margin: 0px 0 85px;
	}

	.swiper-wrapper {
		align-items: flex-end;

		.slider-item {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			height: 100%;
			max-width: 680px;
			.slider-title {
				font-weight: 400;
				line-height: 120%;
				text-align: center;
				letter-spacing: -0.02em;
				color: #221f20;
				margin-bottom: 30px;
			}

			.slider-body {
				max-height: 440px;
				position: relative;
				width: 100%;
				overflow: hidden;
				border-radius: 50px;
				.slider-image {
					object-fit: cover;
					max-height: inherit;
					transform: scale(1);
					transition: all 0.4s ease-in-out;
					&:hover {
						transform: scale(1.02);
					}
				}

				.slider-video {
					// border-radius: 50px;
					padding-top: 100%;
					position: relative;
					width: 100%;
					max-height: inherit;

					video {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						object-fit: cover;
						max-height: inherit;
						border-radius: 50px;
					}
				}

				.slider-content {
					text-align: center;
					position: absolute;
					bottom: 20px;
					left: 0;
					width: 100%;

					.description {
						font-weight: 400;
						line-height: 120%;
						letter-spacing: -0.02em;
						color: #ffffff;
						margin-bottom: 16px;
					}

					.play {
						position: absolute;
						left: 3%;
						bottom: 0;
						transform: translateY(-25%);
						color: #ffffff;
					}
				}
			}
		}
	}

	.swiper-pagination-bullets {
		position: relative !important;
		bottom: 0px !important;
		margin: 20px auto 0 !important;
		width: 30% !important;
		max-width: 380px;

		.swiper-pagination-bullet {
			width: 22% !important;
			border-radius: 1000px !important;
			height: 5px;
			transition: all 0.3s ease-in-out !important;
			background: #a6a8ac;

			&.swiper-pagination-bullet-active {
				width: 44% !important;
				background-color: #00a29c;
			}
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		background: #00a29c;
		width: 75px;
		height: 75px;
		border-radius: 50%;
		opacity: 0.3;
		transition: all 0.3s ease-in;

		&::after {
			color: #fff;
			font-size: 30px;
			font-weight: 900;
		}

		&:hover {
			opacity: 0.8;
		}
	}

	.swiper-button-prev {
		left: 15%;
	}

	.swiper-button-next {
		right: 15%;
	}
}

.spotlight-releases {
	margin-bottom: 110px;

	.title {
		font-weight: 400;
		font-size: 34px;
		line-height: 120%;
		text-align: center;
		letter-spacing: -0.02em;
		color: #221f20;
		margin-bottom: 30px;
	}

	.product-select {
		background: #dbddde;
		border-radius: 1000px;
		width: 100%;
		max-width: max-content;
		overflow-x: auto;
		display: flex;
		align-items: center;
		padding: 16px 0;
		margin: 0 auto 60px;

		button {
			font-weight: 400;
			font-size: 10px;
			line-height: 14px;
			text-align: center;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			color: #a6a8ac;
			background-color: transparent;
			border: none;
			margin: 0 30px;
			transition: all 0.3s ease-in;
			white-space: nowrap;

			&.active {
				color: #221f20;
			}
		}
	}

	.product-list {
		display: flex;
		@include mq(991) {
			flex-wrap: wrap;
		}
		.spotlight-releases-item {
			text-align: center;
			width: 20%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			transform: scale(1);
			transition: all 0.4s ease-in-out;
			&:hover {
				transform: scale(1.03);
			}
			@include mq(1300) {
				width: 25%;
			}
			@include mq(991) {
				width: 50%;
			}
			@include mq(500) {
				width: 100%;
			}
			.image {
				object-fit: contain;
				margin-bottom: 16px;
			}

			.description {
				font-weight: 400;
				font-size: 10px;
				line-height: 14px;
				letter-spacing: 0.2em;
				text-transform: uppercase;
				color: #a6a8ac;
				margin-bottom: 16px;
			}

			.title {
				font-weight: 400;
				font-size: 24px;
				line-height: 120%;
				letter-spacing: -0.02em;
				color: #221f20;
				margin-bottom: 16px;
			}

			.models {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 16px;

				div {
					font-weight: 400;
					font-size: 12px;
					line-height: 17px;
					color: #221f20;
					margin: 0 8px;
				}
			}
		}
	}
}

.black-parallax-box {
	background: #221f20;
	padding: 150px 150px 55px 0;
	position: relative;
	margin-bottom: 140px;

	.title {
		text-align: right;
		color: #ffffff;
		max-width: 850px;
		margin: 0 0 100px auto;

		> * {
			font-size: 96px !important;
			line-height: 109.44px;
			font-weight: 400 !important;
		}
	}

	.gradient-text a,
	u {
		background-image: linear-gradient(135deg, #4145c5 0, #fac4aa 70%);
		background-clip: text;
		color: transparent;
	}

	.image {
		max-width: 850px;

		img {
			border-radius: 0px 50px 50px 0px;
		}
	}

	.content {
		color: #ffffff;

		p {
			margin-bottom: 0;

			.ql-size-small {
				font-weight: 400;
				font-size: 10px;
				line-height: 14px;
				letter-spacing: 0.2em;
				text-transform: uppercase;
				margin-bottom: 30px;
			}
		}

		.subtitle * {
			font-weight: 400;
			line-height: 120%;
			letter-spacing: -0.02em;
			// margin-bottom: 30px;

			.ql-size-huge {
				font-size: 48px;
				line-height: 120%;
			}

			.ql-size-large {
				font-size: 32px;
				line-height: 120%;
			}
		}

		.description {
			font-weight: 400;
			line-height: 120%;
			letter-spacing: -0.02em;
			margin-bottom: 30px;
		}
	}

	.line {
		display: block;
		position: absolute;
		bottom: -70px;
		right: 25%;
		background: #00a29c;
		width: 5px;
		height: 250px;
	}
}

.new-home-page-appliances {
	.title {
		font-weight: 400;
		line-height: 120%;
		letter-spacing: -0.02em;
		color: #221f20;
		padding-left: 160px;
		* {
			font-size: 60px;
		}
	}

	.appliances-slider {
		@include mqm(768) {
			padding: 20px 12px 20px 160px !important;
		}
		.swiper-wrapper {
			align-items: stretch;
		}

		.slider-item {
			background: #dbddde;
			border-radius: 50px;
			max-width: 360px;
			height: 450px;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			padding: 50px;
			transform: scale(1);
			margin: 0 8px;
			transition: all 0.4s ease-in-out;
			&:hover {
				transform: scale(1.02);
			}
			.slider-image {
				object-fit: contain !important;
				max-width: 100%;
				max-height: calc(100% - 70px);
			}
		}
		[data-aos='swiper-navigation'] {
			opacity: 0;
			transition-property: transform, opacity;

			&.aos-animate {
				opacity: 0.3;
			}
		}
		.swiper-button-prev,
		.swiper-button-next {
			background: #00a29c;
			width: 75px;
			height: 75px;
			border-radius: 50%;
			opacity: 0;
			transition: all 0.3s ease-in;

			&::after {
				color: #fff;
				font-size: 30px;
				font-weight: 900;
			}

			&:hover {
				opacity: 0.8;
			}
		}

		.swiper-button-prev {
			left: 25px;
		}

		.swiper-button-next {
			right: 25px;
		}
	}
}

.new-home-page-boxes {
	gap: 24px;
	max-width: 1200px;
	margin: 0 auto;
	> .title {
		* {
			font-size: 60px !important;
		}
	}

	.boxes {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		justify-content: center;

		.box {
			width: calc(50% - 48px);
			position: relative;
			height: 0;
			padding-top: 50%;
			border-radius: 50px;
			overflow: hidden;

			.box-background {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				// max-height: 665px;

				img {
					object-fit: cover;
					height: 100%;
				}
				&::after {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(
						189.34deg,
						rgba(34, 31, 32, 0) 59.24%,
						rgba(34, 31, 32, 0.9) 94.19%
					);
				}
			}

			.box-content {
				position: absolute;
				// max-height: 665px;
				top: 0;
				left: 0;
				padding: 40px;
				width: 100%;
				height: 100%;
				text-align: start;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;

				> * {
					color: #fff;
					font-weight: 400;
				}

				img {
					max-width: 300px;
				}
			}

			.box-background-shade {
				background: rgba(34, 31, 32, 0.3);
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}

			&.full-size {
				width: calc(100% - 72px);
				padding-top: 30%;
				.box-content {
					align-items: center;
				}
				a {
					margin: 0 auto;
				}
			}
		}
	}

	.header {
		font-weight: 400;
		font-size: 60px;
		line-height: 120%;
		letter-spacing: -0.02em;
		color: #221f20;
		grid-column: 1 / 3;
	}
}

.intro-section {
	padding: 0 150px 0 0;

	.image {
		max-width: 750px;

		img {
			position: relative;
			top: 60px;
		}
	}
}

@media (max-width: 1200px) {
	.news-slider {
		.swiper-button-prev {
			left: 3%;
		}

		.swiper-button-next {
			right: 3%;
		}
	}
	.black-parallax-box {
		margin-bottom: 210px;

		.title > * {
			font-size: calc(1.6rem + 4.2vw) !important;
			line-height: 120%;
		}

		.line {
			bottom: -150px;
		}
	}
}

@media (max-width: 991px) {
	.black-parallax-box {
		margin-bottom: 150px;
		background: #221f20;
		padding: 50px 0 80px;

		.image {
			max-width: 650px;

			img {
				border-radius: 0px 25px 25px 0px;
			}
		}

		.title {
			text-align: start !important;
			padding: 0 20px !important;
			max-width: unset;
			margin: 0 0 75px;
		}

		.subtitle {
			.ql-size-huge {
				font-size: 30px !important;
			}

			.ql-size-large {
				font-size: 24px !important;
			}
		}

		.line {
			bottom: -65px;
			height: 150px;
			right: 50%;
			transform: translateX(-50%);
		}
	}
}

@media (max-width: 768px) {
	.parallax-banner {
		padding-top: 0;
	}
	.news-slider {
		.swiper-wrapper {
			.slider-item {
				max-width: 300px;

				.slider-body {
					border-radius: 25px;
				}
			}
		}

		.swiper-pagination-bullets {
			width: 55% !important;

			.swiper-pagination-bullet {
				width: 20% !important;
				height: 3px;

				&.swiper-pagination-bullet-active {
					width: 42% !important;
				}
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
	}
	.spotlight-releases {
		margin-bottom: 60px;

		.title {
			font-size: 20px;
		}

		.product-select {
			margin: 0 auto 20px;
		}

		.product-list {
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

			.spotlight-releases-item {
				padding: 16px 0px;
			}
		}
	}
	.new-home-page-appliances {
		padding: 0 16px;

		.title {
			padding-left: 0;
		}

		.appliances-slider {
			.slider-item {
				border-radius: 25px;
				padding: 40px 16px;
			}
		}
	}
	.intro-section {
		.image {
			img {
				position: relative;
				top: -84px;
			}
		}
	}
	.new-home-page-boxes {
		gap: 16px;

		.boxes {
			.box {
				width: 100%;
				border-radius: 25px;
				padding-top: 100%;

				&.full-size {
					width: 100%;
					padding-top: 30%;
				}

				.box-content {
					padding: 40px 20px;
					img {
						max-width: 190px;
					}
				}
			}
		}

		.header,
		.full-size {
			grid-column: 1 / 2 !important;
		}
	}
}
@media (max-width: 575px) {
	.new-home-page-boxes {
		.boxes {
			.box {
				.box-content {
					padding: 16px;
				}
			}
		}
	}
}
