@import '../../page/ULEDX/settings';

.videoWrapper {
	padding: rem-calc(166 15);
	position: relative;

	@include media-breakpoint-up(md) {
		padding: rem-calc(310 0);
	}

	.heading {
		@include headingStyle('xxlarge');
		font-weight: normal;
		position: relative;
		text-align: center;
		width: 100%;

		span {
			&:first-of-type {
				font-weight: 400;
				margin-right: rem-calc(20);

				@include media-breakpoint-up(md) {
					margin-right: rem-calc(50);
				}
			}

			&:nth-child(2) {
				margin-left: rem-calc(80);
				margin-right: rem-calc(-35);

				@include media-breakpoint-up(md) {
					margin-left: rem-calc(100);
					margin-right: rem-calc(-80);
				}

				@include media-breakpoint-up(lg) {
					letter-spacing: rem-calc(20);
					margin-left: rem-calc(145);
				}
			}
		}
	}

	.content {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		position: relative;
		z-index: 1;

		&Mark {
			&::before {
				content: '';
				background-image: url('/assets/uledx-assets/images/icons/x@2x.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				display: inline-block;
				height: rem-calc(145);
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: rem-calc(320);

				@include media-breakpoint-up(md) {
					height: rem-calc(225);
				}

				@include media-breakpoint-up(lg) {
					height: rem-calc(305);
				}
			}

			.heading {
				@include letter-spacing(520);
				font-size: rem-calc(18);
				letter-spacing: rem-calc(4.5);
				line-height: 1.69;
				text-transform: uppercase;

				@include media-breakpoint-only(md) {
					font-size: rem-calc(26);
					letter-spacing: rem-calc(15);
					line-height: rem-calc(18);
				}

				@include media-breakpoint-up(lg) {
					font-size: rem-calc(42);
					font-weight: 500;
					letter-spacing: rem-calc(35.5);
				}
			}
		}
	}

	.video {
		display: block;
		height: 100%;
		left: 0;
		object-fit: cover;
		position: absolute !important;
		right: 0;
		top: 0;
		width: 100%;

		video {
			object-fit: cover;
		}
	}
}

.paddingLarge {
	padding: rem-calc(220 15);

	@include media-breakpoint-up(md) {
		padding: rem-calc(340 0);
	}
}
