.google_tv_feature_blocks {
	&:last-of-type{
		padding-bottom: 200px;
	}
	background: #ececec;
	.custom_container {
		// position: relative;
		// top: 140px;
		max-width: 1400px;
		padding: 0 12px;
		margin: 0 auto;
		.image {
			position: relative;
			padding-top: 50%;
			width: 100%;
			height: auto;
			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		}
		.block_1,
		.block_2,
		.block_3,
		.block_4,
		.block_5 {
			position: relative;
			height: 0;
			padding-top: 100%;
			border-radius: 50px;
			overflow: hidden;
			.content {
				position: absolute;
				text-align: center;
				top: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				padding: 80px 40px;
				p {
					margin-bottom: 0;
				}
				.title {
					margin-bottom: 12px;
				}
			}
		}
		.block_1,
		.block_2,
		.block_4,
		.block_5 {
			width: 100%;
			background-color: #141414;
			.title,
			.title * {
				color: #dbdbdb;
				font-weight: 400;
				font-size: 2vw;
				line-height: 120%;
			}
			.subtitle,
			.subtitle * {
				color: #dbdbdb;
				font-weight: 400;
				font-size: 1.5vw;
				line-height: 120%;
			}
		}
		.block_1,
		.block_2 {
			.content {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
			}
		}
		.block_2 {
			.content {
				padding: 80px 0px;
				.title,
				.subtitle {
					padding: 0 40px;
				}
			}
		}
		.block_4 {
			background-color: #fff;
			* {
				color: #141414 !important;
			}
			img {
				max-width: 190px;
			}
		}
		.block_5 {
			background-repeat: no-repeat;
			background-size: cover;
			* {
				color: #fff !important;
			}
		}
		.block_3 {
			padding-top: 0;
			height: auto;
			background: #fff;
			.content {
				position: relative;
				.title {
					color: #141414;
					font-weight: 400;
					font-size: 48px;
					line-height: 56px;
					margin-bottom: 40px;
					padding: 0 10%;
					@include mq(768) {
						font-size: 34px;
						line-height: 42px;
					}
				}
				.subtitle * {
					color: #606060;
					font-weight: 400;
					font-size: 1rem;
					line-height: 120%;
					margin-bottom: 32px;
					margin-top: 12px;
				}
				.text * {
					color: #141414;
					font-weight: 400;
					font-size: 20px;
					line-height: 25px;
				}
				.images {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 50px;
				}
			}
		}
		.full-size-sm {
			width: 50%;
		}
	}
}
@media (min-width: 1920px) {
	.google_tv_feature_blocks {
		.custom_container {
			.block_1,
			.block_2,
			.block_4,
			.block_5 {
				.title,
				.title * {
					font-size: 42px;
				}
				.subtitle,
				.subtitle * {
					font-size: 25px;
					line-height: 120%;
				}
			}
		}
	}
}
@media (max-width: 1200px) {
	.google_tv_feature_blocks {
		.custom_container {
			.block_1,
			.block_3,
			.block_4,
			.block_5 {
				.content {
					padding: 50px 30px;
				}
			}
			.block_2 {
				.content {
					padding: 50px 0px;
					.title,
					.subtitle {
						padding: 0 30px;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.google_tv_feature_blocks {
		.custom_container {
			.image {
				padding-top: 70%;
				margin-bottom: 40px;
			}
			.block_1,
			.block_2,
			.block_3,
			.block_4 {
				height: 100%;
				padding-top: 0%;
				border-radius: 25px;
				.content {
					position: relative;
					padding: 40px 20px;
				}
			}
			.block_2 {
				.content {
					padding: 40px 0px;
					.title,
					.subtitle {
						padding: 0 20px;
					}
				}
			}
			.block_5 {
				position: relative;
				height: 0;
				padding-top: 100%;
				border-radius: 25px;
				background-size: 105% 105%;
				background-position: center;
				overflow: hidden;
				.content {
					position: absolute;
					text-align: center;
					top: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%;
					padding: 40px 20px;
				}
			}
			.block_1,
			.block_2,
			.block_4,
			.block_5 {
				.title,
				.title * {
					font-size: 24px;
				}
				.subtitle,
				.subtitle * {
					font-size: 14px;
				}
			}
		}
	}
}
@media (max-width: 575px) {
	.google_tv_feature_blocks {
		.custom_container {
			.full-size-sm {
				width: 100%;
			}
		}
	}
}
