.google_tv_tops {
	margin: 0 auto;
	max-width: 1440px;

	.google_tv_tops_item {
		padding: 60px 50px;
		text-align: center;
        margin: 20px 0;
		&:nth-child(n + 2) {
			border-left: 1px solid #cbcbcb;
		}

		div {
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				font-weight: 400 !important;
				font-size: 24px !important;
				line-height: 120% !important;
				color: #383838 !important;
				margin-bottom: 20px;
			}

			p {
				font-weight: 300 !important;
				font-size: 16px !important;
				line-height: 120% !important;
				color: #383838 !important;
			}
		}

		img {
			object-fit: contain;
            max-width: 50px;
		}
	}
}

@media (max-width: 768px) {
	.google_tv_tops {
		.google_tv_tops_item {
			width: 50% !important;

			&:nth-child(n + 2) {
				border-left: none;
			}

			&:nth-child(even),
			&:nth-child(2) {
				border-left: 1px solid #cbcbcb;
			}
		}
	}
}

@media (max-width: 575px) {
	.google_tv_tops {
		.google_tv_tops_item {
        margin:  0;
			width: 100% !important;
			border-left: none !important;
		}
	}
}
