.product_filter_responsive_wrapper {
	background: #f0f2f2;
	overflow: hidden;
	position: sticky;
	top: 0;
	z-index: 1001;
	height: 72px;
	transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	.filter_nav {
		position: sticky;
		top: 0;
		z-index: 10;
		background: #f0f2f2;
		height: 72px;
		span {
			color: #000;
			font-size: 16px;
			font-weight: 500;
			line-height: 21.6px; /* 135% */
			letter-spacing: -0.32px;
		}
	}
	.buttons {
		.n-btn {
			font-size: 10px;
			font-style: normal;
			font-weight: 400;
			line-height: 120%; /* 12px */
			padding: 13px 16px 11px;
			span {
				font-size: 10px;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 12px */
			}
		}
		.outline-black {
			span {
				transition: inherit;
			}
			&:hover {
				span {
					color: #fff;
				}
			}
			&:disabled {
				border: 1px solid #ababb0 !important;
				color: #ababb0 !important;
				background-color: transparent !important;
			}
		}
	}
	&.open {
		height: 100vh;
		border-radius: 0 0 12px 12px;
	}
	&.shortcut {
		height: 116px;
		border-radius: 0 0 12px 12px;
		.filter_shorcuts {
			overflow-x: auto;
			padding-bottom: 12px;
			.buttons {
				width: fit-content;
				padding: 0 12px;
				button,
				span {
					white-space: nowrap !important;
				}
			}
		}
	}

	.product_filter_responsive {
		position: sticky;
		top: 72px;
		z-index: 100;
		.clear__all_filter_button {
			display: flex;
			margin-bottom: 16px;
			gap: 8px;

			button {
				background: transparent;
				display: flex;
				border: none;
				height: 50px;
				padding: 16px;
				gap: 16px;
				border-radius: 1000px;
				align-items: center;
				justify-content: space-between;
				-webkit-border-radius: 1000px;
				-moz-border-radius: 1000px;
				-ms-border-radius: 1000px;
				-o-border-radius: 1000px;
				color: #fff;
				font-size: 10px;
				font-style: normal;
				font-weight: 400;
				line-height: 120%;
				&:first-child {
					background: #000;
				}
				&:nth-child(2) {
					background: #00aaa6;
				}
			}
		}

		ul {
			list-style: none;
			display: flex;
			gap: 16px;
			padding: 0;
			overflow: auto;
			margin-bottom: 0;
			li {
				button {
					display: flex;
					padding: 16px;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					height: 50px;
					border-radius: 1000px;
					border: 1px solid #000;
					background: transparent;
					font-size: 10px;
					font-style: normal;
					font-weight: 400;
					line-height: 120%;
					white-space: nowrap !important;
				}
			}
		}
	}
	.product_filter_responsive_modal {
		width: 100%;
		height: calc(100% - 130px);
		// position: absolute;
		// top: ;
		overflow: auto;
		background: #fff;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		.search_field {
			width: 100%;
			border-radius: 1000px;
			border: 1px solid #f0f2f2;
			display: flex;
			padding: 7px 16px;
			input {
				width: 100%;
				border: none;
				color: #000;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 18.9px; /* 135% */
				position: relative;
				&:focus {
					box-shadow: none;
					border: none;
				}
				&::placeholder {
					color: #000;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 18.9px; /* 135% */
					position: absolute;
					top: 0px;
				}
			}
		}
		.search_list {
			width: 100%;
			max-height: 120px;
			overflow: auto;
			padding: 0 16px;
			margin: 0;
			list-style: none;
			.search_item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 8px 0;
				div {
					color: #000;
					font-size: 14px;
					font-weight: 400;
					line-height: 14px; /* 135% */
					margin-bottom: -4px;
				}
				.search_radio {
					display: flex;
					width: 13px;
					height: 13px;
					min-width: 13px;
					min-height: 13px;
					border-radius: 1000px;
					border: 1px solid #000;
					position: relative;
					padding: 0;
					div {
						display: block;
						position: absolute;
						left: 1px;
						top: 1px;
						background-color: #00aaa6;
						width: 9px;
						height: 9px;
						min-width: 9px;
						min-height: 9px;
						border-radius: 1000px;
					}
				}
			}
		}
		.buttons {
			display: flex;
			justify-content: space-between;
			padding: 12px 17px;
			border-bottom: 1px solid #c7c7c9;
			button {
				display: flex;
				border: none;
				background: transparent;
				height: fit-content;

				&:first-child {
					background: #00aaa6;
					height: 50px;
					padding: 16px;
					gap: 16px;
					border-radius: 1000px;
					align-items: center;
					justify-content: space-between;
					-webkit-border-radius: 1000px;
					-moz-border-radius: 1000px;
					-ms-border-radius: 1000px;
					-o-border-radius: 1000px;
					color: #fff;
					font-size: 10px;
					font-style: normal;
					font-weight: 400;
					line-height: 120%;
				}
			}
		}
		.filters {
			overflow: auto;
			.filter_drop_down {
				border-top: 1px solid #f0f2f2;
				padding: 16px;
				cursor: pointer;
				.name_button {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 5px 0;
					h6 {
						margin: 0;
						margin-bottom: -5px;
						color: #000;
						font-size: 14px;
						font-style: normal;
						font-weight: 500;
						line-height: 18.9px; /* 135% */
						letter-spacing: -0.28px;
						text-transform: capitalize;
					}

					svg {
						width: 10px;
						height: 5px;
						transition: all 0.3s;

						-webkit-transition: all 0.3s;
						-moz-transition: all 0.3s;
						-ms-transition: all 0.3s;
						-o-transition: all 0.3s;
						transform: rotate(-90deg);
						-webkit-transform: rotate(-90deg);
						-moz-transform: rotate(-90deg);
						-ms-transform: rotate(-90deg);
						-o-transform: rotate(-90deg);
						path {
							fill: #000;
						}
					}
					&.drop_down_is_open {
						svg {
							transform: rotate(0deg);
							-webkit-transform: rotate(0deg);
							-moz-transform: rotate(0deg);
							-ms-transform: rotate(0deg);
							-o-transform: rotate(0deg);
						}
					}
				}
				.filter_list {
					overflow: hidden;
					transition: all 0.5s;
					padding: 0 16px;

					-webkit-transition: all 0.5s;
					-moz-transition: all 0.5s;
					-ms-transition: all 0.5s;
					-o-transition: all 0.5s;
					> ul {
						padding: 0;
						margin: 16px 0 0;
						li {
							padding: 8px 0;
							display: flex;
							align-items: center;
							justify-content: space-between;
							height: 40px;
							> div {
								position: relative;
								&.square {
									.hidden {
										border-radius: 3px;
									}
									.svg {
										background-color: #00aaa6;
										border-radius: 3px;
										overflow: hidden;
										justify-content: center;
										align-items: center;
										svg {
											width: 9px;
											height: 9px;
										}
									}
								}
								input {
									position: absolute;
									opacity: 0;
									top: 4px;
								}

								.hidden {
									width: 13px;
									height: 13px;
									display: inline-block;
									border-radius: 1000px;
									border: 1px solid #000;

									svg {
										width: 13px;
										height: 13px;
									}
								}
								input:checked ~ .hidden {
									display: none;
								}
								.svg {
									display: none;
									width: 13px;
									height: 13px;
									svg {
										width: 13px;
										height: 13px;
									}
								}
								input:checked ~ .svg {
									display: flex !important;
								}
							}

							label,
							label * {
								color: #000;
								font-size: 12px;
								font-style: normal;
								font-weight: 400;
								line-height: 16.2px;
							}
						}
					}
				}
			}
		}
	}
}
