.product_big_content {
	padding: 64px;
	@include mq(768) {
		padding: 32px 16px;
	}
	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 32px;
		flex-direction: column;
		text-align: center;
		.title {
			font-size: 48px;
			font-weight: 400;
			line-height: 55.86px; /* 116.375% */
			letter-spacing: -0.96px;
			color: #000;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			span {
				display: block;
				margin-bottom: -10px;
			}
			@include mq(768) {
				font-size: 24px;
				line-height: 30px; /* 125% */
				letter-spacing: -0.48px;
				span {
					margin-bottom: -5px;
				}
			}
			&.no_wrap {
				* {
					white-space: nowrap !important;
				}
			}
		}
		.subtitle {
			font-size: 16px;
			font-weight: 400;
			line-height: 21.6px; /* 135% */
			letter-spacing: -0.32px;
			margin: 0;
			color: #000;
		}
		.text {
			margin: 0;
			max-width: 500px;
			margin: 0 auto;
			* {
				margin: 0;
				font-size: 16px;
				font-weight: 300;
				line-height: 21.6px; /* 135% */
				color: #000;
				@include mq(768) {
					font-size: 14px;
					line-height: 18.9px; /* 135% */
				}
			}
		}
		.note {
			font-size: 12px;
			font-weight: 400;
			line-height: 16.2px; /* 135% */
			margin: 0;
			color: #000;
		}
	}
}

.product_text_icon {
	padding: 48px 60px;
	max-width: 1072px;
	margin: 0 auto;
	@include mq(768) {
		padding: 32px 16px;
	}
	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 0;
		@include mq(768) {
			gap: 24px 0;
		}
		.text_content {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 32px;
			flex-direction: column;
			.title {
				font-size: 34px;
				font-style: normal;
				font-weight: 400;
				line-height: 45.9px; /* 135% */
				letter-spacing: -0.68px;
				color: #232323;
				margin: 0;
				@include mq(768) {
					font-size: 24px;
					line-height: 30px; /* 125% */
					letter-spacing: -0.48px;
				}
			}
			.text {
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 21.6px; /* 135% */
				color: #000;
				margin: 0;
				@include mq(768) {
					font-size: 14px;
					line-height: 18.9px; /* 135% */
				}
			}
			.image {
				width: 100%;
				max-width: 200px;
				margin: 0 auto;
				height: auto;
				object-fit: contain;
				@include mq(768) {
					max-width: 160px;
				}
			}
		}
	}
}
