.package_types_slider {
	padding: 40px 0 35px 0;
	background-color: #e6e6e6;
	overflow-x: hidden;
	h2 {
		color: #270c3f;
		text-align: center;
		margin: 45px 0;
	}
	.item {
		background-color: white;
		border-radius: 8px;
		padding: 24px;
		flex: 0 0 33%;
		max-width: 390px;
		margin-bottom: 45px;
		img {
			width: 100%;
		}
		h5 {
			margin: 24px 0 15px;
			font-size: 16px;
			font-weight: 500;
			color: #000;
			text-align: center;
		}
		a {
			display: block;
			width: fit-content;
			background-color: #00a6a5;
			padding: 6px 12px;
			border-radius: 24px;
			color: white;
			text-decoration: none;
			margin: 0 auto;
			transition: all 300ms ease;
		}
	}
}

.single-product-v2 {
	.product-info {
		.title {
			font-weight: 400;
			font-size: 28px !important;
			line-height: 32px;
			margin-bottom: 50px !important;
		}
		> p {
			font-weight: 300;
		}
		.serie {
			font-weight: 700;
			font-size: 48px;
			margin-bottom: 50px;
		}
		.tip {
			font-size: 34px;
			font-weight: 300;
			line-height: 1.3;
		}
		> button {
			background-color: #000 !important;
			color: #fff !important;
			&:hover {
				background-color: #000 !important;
				opacity: 0.9;
			}
		}
		> button:disabled {
			opacity: 0.5;
			&:hover {
				background-color: #000 !important;
			}
		}
		.pdp_where_to_buy_btn {
			background-color: #ffffff;
			border: 1px solid #fff;
			border-radius: 18px !important;
			opacity: 1;
			transition: all 0.2s ease;
			text-transform: none;
			&:hover {
				opacity: 0.7;
				background-color: #ffffff !important;
			}
			&.disabled {
				cursor: default;
				border: 1px solid #ababb0;
				background: #ababb0 !important;
				color: #fff !important;
				&:hover {
					color: #fff !important;
					opacity: 1 !important;
					border: 1px solid #ababb0;
					background: #ababb0 !important;
				}
			}
		}

		.light_hover {
			background-color: #fff !important;
			color: #000 !important;
			&:hover {
				color: #000 !important;
				background-color: #fff !important;
			}
		}
		.n-btn {
			font-size: 16px !important;
			border-radius: 18px !important;
			&.outline-white:hover {
				color: inherit !important;
			}
			&.white {
				color: inherit !important;
			}
		}
	}
}

// .product_feature_with_image {
// 	display: flex;
// 	justify-content: center;
// 	align-items: stretch;
// 	gap: 16px;
// 	.image_wrapper {
// 		width: calc(50% - 8px);
// 		padding-top: 50%;
// 		height: 0;
// 		position: relative;
// 		.image {
// 			position: absolute;
// 			left: 0;
// 			top: 0;
// 			width: 100%;
// 			height: 100%;
// 			object-fit: cover;
// 		}
// 	}
// 	.content {
// 		width: calc(50% - 8px);
// 		padding: 64px 64px 64px 96px;
// 		display: flex;
// 		justify-content: center;
// 		align-items: flex-start;
// 		flex-direction: column;
// 		gap: 64px;
// 		.subtitle {
// 			font-size: 10px;
// 			font-style: normal;
// 			font-weight: 400;
// 			line-height: 13.5px; /* 135% */
// 			margin: 0;
// 			letter-spacing: 2px;
// 			text-transform: uppercase;
// 		}
// 		.title {
// 			font-size: 48px;
// 			font-style: normal;
// 			font-weight: 400;
// 			line-height: 55.86px; /* 116.375% */
// 			margin: 0;
// 			letter-spacing: -0.96px;
// 		}
// 		.text {
// 			font-size: 16px;
// 			font-style: normal;
// 			font-weight: 400;
// 			line-height: 21.6px; /* 135% */
// 			margin: 0;
// 		}
// 	}
// }

@media (max-width: 1050px) {
	.package_types_slider {
		.item {
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}

@media (max-width: 768px) {
	.package_types_slider {
		padding: 32px 12px 35px 12px;
		.item {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	.single-product-v2 {
		.product-info {
			.title {
				font-size: 24px !important;
				line-height: 32px;
				margin-bottom: 40px !important;
			}
			.serie {
				font-size: 36px;
				margin-bottom: 42px;
			}

			.tip {
				font-size: 28px;
				line-height: 1.3;
			}
		}
	}
}

// ////////////////////////////////////////////////////////////////////////
.serie_selector {
	position: relative;
	width: 100%;
	margin-bottom: 16px;
	.screen_size_selector {
		border-radius: 1000px;
		background-color: #fff;
		border: 1px solid #f0f2f2;
		display: flex;
		height: 43px;
		padding: 0px 16px;
		justify-content: space-between;
		align-items: center;
		align-self: stretch;
		position: relative;
		overflow: hidden;
		@include mq(768) {
			height: 41px;
		}
		.content {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: auto;
			transition: all 0.3s ease-in-out;
			.show_sizes_btn {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 8px;
				cursor: pointer;
				padding: 14px 0;
				.label {
					color: #000;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 14px; /* 135% */
				}
				@include mq(768) {
					padding: 13.5px 0;
				}
			}
			.sizes {
				position: relative;
				.size_list {
					margin: 0;
					display: flex;
					justify-content: space-between;
					align-items: center;
					list-style: none;
					padding: 0;
					li {
						padding: 14px 0;
						text-align: center;
						font-size: 14px;
						font-weight: 500;
						line-height: 15px; /* 135% */
						color: #000;
						margin-bottom: -2px;
						cursor: pointer;
						transition: all 0.25s 0s ease;
						@include mq(768) {
							padding: 13px 0;
						}
					}
				}
				.indicator {
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					background-color: #00aaa6;
					border-radius: 1000px;
					transition: all 0.3s ease;
					color: #fff;
					font-size: 14px;
					font-weight: 500;
					line-height: 15px; /* 135% */
					margin-bottom: -2px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		&.dropdown_active {
			align-items: flex-start;
			overflow: hidden;
			.content {
				position: relative;
				width: 100%;
				height: auto;
				transition: none;
			}
			&.show_sizes {
				border-radius: 20px 20px 0 0;
				border-bottom: none;
				height: fit-content;
			}
		}
	}
	.sizes_dropdown {
		background-color: #fff;
		border: 1px solid #f0f2f2;
		border-top: none;
		border-radius: 0 0 20px 20px;
		position: absolute;
		top: 43px;
		left: 0;
		z-index: 20;
		width: 100%;
		padding: 0px 16px;
		.size_list {
			margin: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style: none;
			padding: 0;
			position: relative;
			flex-wrap: wrap;
			li {
				text-align: center;
				padding: 14px 0;
				width: 100%;
				margin-bottom: 0;
				transition: all 0.4s 0s ease;
				font-size: 14px;
				font-weight: 400;
				line-height: 15px; /* 135% */
				color: black;
				cursor: pointer;
				@include mq(768) {
					font-weight: 400;
				}
				&.active {
					z-index: 10;
					color: white;
				}
			}
		}
		.indicator {
			position: absolute;
			left: 0;
			top: 0;
			height: 43px;
			width: 100%;
			background-color: #00aaa6;
			border-radius: 1000px;
			transition: all 0.3s ease;
			color: #fff;
			font-size: 14px;
			font-weight: 400;
			line-height: 15px; /* 135% */
			// margin-bottom: -2px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
.new_product_info {
	background: #fff;
	.wrapper {
		max-width: 1144px;
		margin: 0 auto;
		padding: 40px 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 80px;
		@include mq(768) {
			flex-direction: column;
			justify-content: center;
			gap: 16px;
			margin: 0 auto;
		}
		.product_gallery {
			width: calc(50% - 40px);
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 8px;
			height: 100%;
			@include mq(768) {
				flex-direction: column;
				gap: 16px;
				width: 100%;
				flex-wrap: wrap;
			}
			.main_frame {
				width: calc(100% - 72px);
				max-width: 516px;
				position: unset !important;
				margin-left: 0;
				order: 2;
				@include mq(768) {
					order: 1;
					width: 100%;
					max-width: unset;
				}
				.image_wrapper {
					width: 100%;
					height: 0;
					padding-top: 100%;
					margin: 0;
					.image {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
					.resize_btn {
						position: absolute;
						top: 32px;
						right: 32px;
						width: 32px;
						height: 32px;
						background: white;
						border: none;
						border-radius: 50%;
					}
				}
				.video_wrapper {
					width: 100%;
					height: 0;
					padding-top: 100%;
					margin: 0;
					background: #000;
					.video {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						left: 0;
						width: 100%;
						height: 56.25%;
						object-fit: contain;
					}
					p {
						position: absolute;
						top: 81%;
						padding: 0 16px;
						font-size: 12px;
						font-style: normal;
						font-weight: 400;
						line-height: 16.2px; /* 135% */
						color: white;
						margin: 0;
					}
					.btns {
						position: absolute;
						top: 32px;
						right: 32px;
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 16px;
						.resize_btn {
							width: 32px;
							height: 32px;
							background: white;
							border: none;
							border-radius: 50%;
						}
					}
				}
				.swiper-button-prev,
				.swiper-button-next {
					display: none;
				}
			}
			.thumbs_gallery {
				width: 66px;
				min-width: 66px;
				height: 100%;
				max-height: 450px;
				position: relative;
				padding: 16px 0;
				order: 1;
				border-radius: 4px;
				overflow: hidden;
				@include mq(768) {
					border-radius: 0;
					padding: 0;
					order: 2;
					width: 100%;
					min-width: 100%;
				}
				.swiper-wrapper {
					max-width: 60px;
					margin-top: 3px;
					@include mq(768) {
						margin-top: 0px;
						max-width: unset;
					}
					.swiper-slide-thumb-active {
						.image_wrapper {
							outline: 3px solid #383838;
							border: none;
							&:hover {
								outline: 3px solid #383838 !important;
							}
							@include mq(768) {
								outline: none !important;
								border: 3px solid #383838;
								&:hover {
									outline: none !important;
								}
							}
						}
					}
					.swiper-slide-visible {
						.image_wrapper {
							&:hover {
								outline: 3px solid #8c8e8f;
								cursor: pointer;
								@include mq(768) {
									outline: none;
								}
							}
						}
					}
				}
				.image_wrapper {
					width: 60px;
					height: 0;
					padding-top: 100%;
					margin: 0;
					position: relative;
					@include mq(768) {
						width: 100%;
					}

					.image {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						object-fit: contain;
						height: 100%;
					}
				}
				.swiper-button-prev {
					left: 50%;
					top: -26px;
					border-radius: 4px 0 0 4px;
					transform: translateX(-50%) rotate(90deg);
				}
				.swiper-button-next {
					left: 50%;
					bottom: -26px;
					top: unset;
					border-radius: 0px 4px 4px 0px;
					transform: translateX(-50%) rotate(90deg);
				}
				.swiper-button-prev,
				.swiper-button-next {
					background: #f0f2f2;
					width: 16px;
					height: 68px;
					margin-top: 0;
					transition: all 0.3s ease;
					&::after {
						font-size: 12px;
						font-weight: bold;
						color: #ababb0;
						transition: all 0.3s ease;
					}
					&.swiper-button-disabled {
						background: #c7c7c9;
						opacity: 1;
					}
					&:hover {
						background: #c7c7c9;
					}
					&:active {
						background: #525454;
						&::after {
							color: #fff;
						}
					}
				}
			}
			.resized_image_modal {
				position: fixed;
				left: 0;
				top: 0;
				z-index: 10000;
				height: 100vh;
				width: 100vw;
				background: #00000071;
				display: flex;
				justify-content: center;
				align-items: center;
				.wrapper {
					height: 40vw;
					width: 40vw;
					position: relative;
					@include mq(1200) {
						height: 60vw;
						width: 60vw;
					}
					@include mq(600) {
						height: 80vw;
						width: 80vw;
					}
					.image {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						object-fit: contain;
						// background-color: #fff;
					}
				}
			}
		}
		.product_info {
			width: calc(50% - 40px);
			max-width: 450px;
			@include mq(768) {
				width: 100%;
				max-width: unset;
			}
			.model {
				font-size: 28px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px;
				letter-spacing: -0.56px;
				color: #8c8f8f;
				margin-bottom: 20px;
			}
			.title {
				color: #212529;
				font-size: 34px;
				font-weight: 400;
				line-height: 42.5px;
				letter-spacing: -0.68px;
				@include mq(768) {
					margin: 0;
					font-size: 28px;
					line-height: 42.5px; /* 151.786% */
					text-align: center;
				}
			}
			.sizes {
				padding: 36px 0 26px;
				@include mq(768) {
					padding: 16px 0 22px;
				}
				.sizes_text {
					color: #000;
					font-size: 16px;
					font-weight: 500;
					line-height: 21.6px;
					letter-spacing: -0.32px;
					margin-bottom: 8px;
				}
				.sizes_list {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					overflow-x: auto;
					gap: 4px;
					.sizes_item {
						display: flex;
						width: fit-content;
						padding: 9px 12px 9.5px;
						justify-content: center;
						align-items: center;
						border: 1px solid #c7c7c9;
						background: white;
						transition: all 0.3s ease;
						border-radius: 8px;
						box-shadow: none;
						color: #000;
						font-size: 14px;
						line-height: 100%; /* 14px */
						text-decoration: none;
						margin-bottom: 10px;
						span {
							display: block;
							font-size: 14px;
							font-weight: 400;
							margin-bottom: -3px;
							transition: all 0.3s ease;
						}
						&:hover {
							background-color: #f0f2f2;
							mix-blend-mode: darken;
							box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
						}
						&:active {
							background: #c7c7c9;
						}
						&.active {
							border-color: #000;
							background: #000;
							span {
								color: #fff;
							}
							&:hover {
								box-shadow: none;
							}
						}
					}
				}
			}
			.wtb_btn {
				min-width: 80px !important;
				padding: 11.5px 16px 9.5px !important;
				border-radius: 1000px;
				border: 1px solid #00aaa6;
				background: #00aaa6;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.3s ease-in;
				color: #fff !important;
				font-size: 14px;
				line-height: 11px;
				font-weight: 400;
				@include mq(768) {
					width: 100%;
				}
				&:hover {
					border: 1px solid #006664;
					background: #006664;
				}
				&:active {
					border: 1px solid #000;
					background: #000;
				}
				&:disabled {
					color: #b3bac5 !important;
				}
				span {
					font-size: 14px;
					line-height: 11px;
					font-weight: 400;
					color: #fff !important;
					display: block;
					margin-bottom: -2 px;
				}
			}
			.ps_wtb_btn {
				min-width: 80px !important;
				padding: 11.5px 16px 9.5px !important;
				width: fit-content;
				border-radius: 1000px;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.3s ease-in;
				font-size: 14px;
				line-height: 11px;
				font-weight: 400;
				// color: #fff;
				font-family: 'hisense' !important;
				@include mq(768) {
					width: 100%;
				}
				&:hover {
					border: 1px solid #006664;
					background: #006664;
				}
				&:active {
					border: 1px solid #000;
					background: #000;
				}
				&:disabled {
					color: #b3bac5 !important;
				}
				span {
					font-size: 14px;
					line-height: 11px;
					font-weight: 400;
					// color: #fff;
					display: block;
					margin-bottom: -2px;
				}
			}
			.package-details {
				ul {
					padding-left: 20px;
				}
			}
		}
	}
}

.swiper-button-disabled {
	display: none !important;
}
