$almostBlack: #111111;
$black: #000000;
$charcoal: #171717;
$brown: #1e1e1e;
$gold: #d5b879;
$goldLight: #ddcfaf;
$goldDark: #aa7e47;
$gray: #818181;
$grayDark: #282728;
$grayHeading: #323034;
$grayLight: #c9c8c8;
$lightYellow: #ffd7b1;
$orange: #aa7d29;
$peach: #f3b39b;
$pink: #ff9aae;
$purple: #fb8afa;
$teal: #00aaa6;
$tealHover: #239d98;
$white: #ffffff;

$font-hisense: "hisense"; // this is default on the body
