.uledx_waitlist {
	height: calc(100vh - 72px);
	background-color: #141414;
	@include mq(768) {
		height: 100%;
	}
	& > div {
		height: 100%;
		& > div {
			height: 100%;
		}
	}
	.uledx_waitlist_video {
		position: relative;
		height: 100%;
		@include mq(768) {
			height: 400px;
		}
		video {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
}
