// only used for a few overrides to fix any conflicts from "hisense css"
@import './settings';
@import './animations';

.uled-wrapper {
	background: $black;
	overflow-x: hidden;
	// padding-top: 114px; // both headers (64 + 50)
	position: relative;

	.container {
		max-width: rem-calc(1200);
	}
}

p,
.p {
	color: inherit;
	font-size: rem-calc(24);
	font-weight: normal;

	&--tiny {
		font-size: rem-calc(14);
		line-height: 0.23;
	}

	&--small {
		font-size: rem-calc(16);
		line-height: rem-calc(27);
	}

	&--med {
		font-size: rem-calc(18);
		line-height: 1.33;
	}

	&--large {
		color: inherit;
		font-size: rem-calc(24);

		@include media-breakpoint-up(lg) {
			font-size: rem-calc(40);
		}
	}
}

.preheader {
	color: inherit;
	font-size: rem-calc(18);
	letter-spacing: rem-calc(4.5);
	line-height: 1.69;
	margin-bottom: rem-calc(10);
	text-transform: uppercase;

	@include media-breakpoint-up(md) {
		font-size: rem-calc(22);
		line-height: normal;
		margin-bottom: rem-calc(25);
	}
}

.button {
	&--rounded {
		border-radius: rem-calc(20);
		border: 2px solid $white;
		color: $white;
		display: inline-block;
		font-size: rem-calc(14);
		font-weight: 500;
		letter-spacing: -0.35px;
		margin-top: rem-calc(15);
		padding: rem-calc(8 40);
		text-align: center;
		text-decoration: none;
		transition: background-color 0.25s ease-out, color 0.25s ease-out;

		@include media-breakpoint-up(md) {
			margin-top: rem-calc(25);
		}

		&:hover,
		&:focus {
			background-color: $gold;
			border-color: $gold;
			color: $almostBlack;
		}

		&-xl {
			border-radius: rem-calc(40);
		}
	}
}
