.home-header-carousel {
	overflow: hidden;
	// height: calc(100vh - 80px) !important;
	// height: 100% !important;
	&.lower-main {
		position: relative !important;
		height: 79vh !important;
		@include mq(1440) {
			height: 77vh !important;
			// padding-top: 58%;
			// padding-top: 0 !important;
			// height: calc(100vh - 80px) !important;
		}
		@include mq(1380) {
			height: 70vh !important;
		}
		// @include mq(991) {
		// 	// padding-top: 58% !important;
		// 	// padding-top: 0 !important;
		// 	height: calc(100vh - 80px) !important;
		// }
		// @include mq(550) {
		// 	// padding-top: 58% !important;
		// 	// padding-top: 0 !important;
		// 	height: 0 !important;
		// }
	}
	.swiper-wrapper {
		display: flex;
		height: 100%;
		.swiper-slide {
			.carousel-item-wrapper {
				display: flex;
				height: 100%;
				position: relative;
				width: 100%;
				div {
					background-position: center !important;
					background-size: cover !important;
					background-repeat: no-repeat !important;
				}
				a {
					transition: all 0.3s;
					text-decoration: none;
					-webkit-transition: all 0.3s;
					-moz-transition: all 0.3s;
					-ms-transition: all 0.3s;
					-o-transition: all 0.3s;
					position: absolute;
					right: 50%;
					bottom: 55px;
					transform: translateX(50%);
					-webkit-transform: translateX(50%);
					-moz-transform: translateX(50%);
					-ms-transform: translateX(50%);
					-o-transform: translateX(50%);
					display: flex;
					align-items: center;
					padding: 14px 24px 10px !important;
					border: unset;
					border-radius: 1000px;
					-webkit-border-radius: 1000px;
					font-weight: 400;
					font-size: 24px;
					line-height: 30px;
					-moz-border-radius: 1000px;
					-ms-border-radius: 1000px;
					-o-border-radius: 1000px;
					color: #000000;
					background-color: transparent;
					border: 1px solid #000000;

					@include mq(768) {
						font-size: 14px;
						line-height: 17px;
						bottom: 9%;
					}
					@include mq(600) {
						font-size: 10px;
						line-height: 10px;
						bottom: 7%;
					}
					&:hover {
						background-color: #000000 !important;
						color: #fff !important;
					}
				}

				.white_button {
					border-color: #fff !important;
					color: #fff !important;

					&:hover {
						background-color: #fff !important;
						color: #000 !important;
					}
				}

				.main-img {
					display: block;
					object-fit: contain;
					width: 100%;
				}
				.responsive-img {
					display: none;
				}
				.text-box {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					padding: 48px 72px;
					> div {
						position: relative;
						top: 50%;
						transform: translateY(-50%);
						width: 50%;
						> * {
							color: #fff;
							display: block;
						}
					}

					.headline {
						font-size: 60px;
						font-weight: 700;
						line-height: 1.125;
					}
					.seconde-line {
						font-size: 32px;
						font-weight: 700;
						line-height: 1.125;
					}
					.btn {
						width: fit-content;
						border-radius: 37px;
						margin-top: 24px;

						&:hover {
							background-color: var(--primary-color);
							border-color: var(--primary-color);
						}
					}
				}
			}
		}
	}
	.swiper-button-prev,
	.swiper-button-next {
		color: white;

		&::after {
			font-size: 23px;
			font-weight: 900;
		}
	}
	.swiper-pagination-bullet {
		background: #ffffff;
		opacity: 0.5;
		width: 24px;
		height: 3px;
		border-radius: 0;
		transition: all 0.3s ease;
	}
	.swiper-pagination-bullet-active {
		opacity: 1;
		width: 96px;
	}
	// .cursor-pointer {
	// 	cursor: pointer;
	// }
}

@media (max-width: 767px) {
	.home-header-carousel {
		height: unset;

		.carousel-item-wrapper {
			.main-img {
				display: none;
			}
			.responsive-img {
				display: block;
			}
			.text-box {
				padding: 40px 24px 24px;
				.text-box > div {
					top: 0;
					transform: translateY(0);
					width: 100%;
				}
				.headline {
					font-size: 32px;
				}
				.seconde-line {
					font-size: 18px;
				}
			}
		}
	}
}
