.home-header-carousel {
  overflow: hidden;
  height: calc(100vh - 80px) !important;
}
.home-header-carousel .swiper-wrapper {
  display: flex;
  height: 100%;
}
.home-header-carousel .swiper-wrapper .swiper-slide .carousel-item-wrapper {
  display: flex;
  height: 100%;
  position: relative;
}
.home-header-carousel .swiper-wrapper .swiper-slide .carousel-item-wrapper a {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.home-header-carousel .swiper-wrapper .swiper-slide .carousel-item-wrapper .main-img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.home-header-carousel .swiper-wrapper .swiper-slide .carousel-item-wrapper .responsive-img {
  display: none;
}
.home-header-carousel .swiper-wrapper .swiper-slide .carousel-item-wrapper .text-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 72px;
}
.home-header-carousel .swiper-wrapper .swiper-slide .carousel-item-wrapper .text-box > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}
.home-header-carousel .swiper-wrapper .swiper-slide .carousel-item-wrapper .text-box > div > * {
  color: #fff;
  display: block;
}
.home-header-carousel .swiper-wrapper .swiper-slide .carousel-item-wrapper .text-box .headline {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.125;
}
.home-header-carousel .swiper-wrapper .swiper-slide .carousel-item-wrapper .text-box .seconde-line {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.125;
}
.home-header-carousel .swiper-wrapper .swiper-slide .carousel-item-wrapper .text-box .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 37px;
  margin-top: 24px;
}
.home-header-carousel .swiper-wrapper .swiper-slide .carousel-item-wrapper .text-box .btn:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.home-header-carousel .swiper-button-prev,
.home-header-carousel .swiper-button-next {
  color: white;
}
.home-header-carousel .swiper-button-prev::after,
.home-header-carousel .swiper-button-next::after {
  font-size: 23px;
  font-weight: 900;
}
.home-header-carousel .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.5;
  width: 24px;
  height: 3px;
  border-radius: 0;
  transition: all 0.3s ease;
}
.home-header-carousel .swiper-pagination-bullet-active {
  opacity: 1;
  width: 96px;
}

@media (max-width: 767px) {
  .home-header-carousel {
    height: unset;
  }
  .home-header-carousel .carousel-item-wrapper .main-img {
    display: none;
  }
  .home-header-carousel .carousel-item-wrapper .responsive-img {
    display: block;
  }
  .home-header-carousel .carousel-item-wrapper .text-box {
    padding: 40px 24px 24px;
  }
  .home-header-carousel .carousel-item-wrapper .text-box .text-box > div {
    top: 0;
    transform: translateY(0);
    width: 100%;
  }
  .home-header-carousel .carousel-item-wrapper .text-box .headline {
    font-size: 32px;
  }
  .home-header-carousel .carousel-item-wrapper .text-box .seconde-line {
    font-size: 18px;
  }
}/*# sourceMappingURL=landingSlider.css.map */