.video-container {
	width: 100%;
	padding-top: 0;
	height: 960px;
	height: auto;
	position: relative;
	iframe {
		width: 100%;
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		max-width: 100%;
		height: auto;
		min-width: 100%;
		min-height: 100%;
	}
}
