.season_upgrade_deal_counter {
	background-image: url('~/public/assets/images/upgrade-season/background.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	.top_image {
		width: 500px;
		height: auto;
		object-fit: contain;
		@include mq(768) {
			width: 100%;
			max-width: 300px;
		}
	}
	.weeks {
		background: #000;
		display: flex;
		padding: 24px 100px;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		margin: 0;
		@include mq(768) {
			padding: 16px;
			overflow: auto;
			gap: 24px;
		}
		li {
			position: relative;
			color: #aef53b;
			text-align: center;
			font-family: 'archivo-expanded';
			font-size: 16px;
			font-style: normal;
			font-weight: 900;
			line-height: 21.6px; /* 135% */
			letter-spacing: -0.32px;
			text-transform: uppercase;
			&.active {
				color: #fff;
			}
			svg {
				position: absolute;
				left: -5px;
				top: -7px;
			}
			@include mq(768) {
				min-width: 80px;
			}
		}
	}
	.product {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 48px;
		padding: 48px 16px 56px;
		max-width: 1150px;
		margin: 0 auto;
		@include mq(768) {
			flex-wrap: wrap;
			padding: 16px 16px 32px;
		}
		.product_images {
			width: 53%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: column;
			gap: 34px;
			@include mq(768) {
				width: 100%;
				gap: 20px;
			}
			.product_top {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				gap: 16px;
				@include mq(768) {
					justify-content: center;
				}
				.image {
					max-width: 304px;
					width: 100%;
					height: auto;
					object-fit: contain;
					min-width: unset;
					@include mq(991) {
						width: 50%;
					}
					@include mq(840) {
						width: 30%;
					}
					@include mq(768) {
						display: none;
					}
				}
				.counter_label {
					color: #000;
					font-family: 'archivo-expanded';
					font-size: 16px;
					font-weight: 900;
					line-height: 21.6px; /* 135% */
					letter-spacing: -0.32px;
					margin-bottom: 4px;
					@include mq(768) {
						text-align: center;
					}
				}
				.counter {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					gap: 3px;
					@include mq(768) {
						justify-content: center;
					}
					> div {
						padding: 8px;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						display: flex;
						gap: 2px;
						border-radius: 6px;
						background: #000;
						> * {
							color: #fff;
							&:first-child {
								font-size: 24px;
								font-weight: 400;
								line-height: 24px;
								letter-spacing: -0.48px;
							}
							&:last-child {
								font-size: 12px;
								font-weight: 400;
								line-height: 12px;
								margin-bottom: -2px;
							}
						}
					}
				}
			}
			.image {
				width: 100%;
				object-fit: contain;
				@include mq(768) {
					padding: 0 16px;
				}
			}
		}
		.product_info {
			width: 47%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 32px;
			@include mq(768) {
				width: 100%;
			}
			.title {
				margin-bottom: 20px;
				* {
					margin-bottom: 0;
					color: #000;
					font-size: 34px;
					font-style: normal;
					font-weight: 500;
					line-height: 41px; /* 135% */
					letter-spacing: -0.68px;
					@include mq(768) {
						font-size: 20px;
						line-height: 25px; /* 125% */
						letter-spacing: -0.4px;
						margin-bottom: 18px;
					}
				}
			}
			.off {
				margin-bottom: 16px;
				background: #e23717;
				border-radius: 6px;
				padding: 8px;
				width: fit-content;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 2px;
				* {
					margin-bottom: 0;
					font-size: 12px;
					font-weight: 400;
					line-height: 8px; /* 135% */
					color: #fff;
				}
			}
			.price {
				margin: 0;
				* {
					font-size: 48px;
					font-weight: 500;
					line-height: 45px; /* 116.375% */
					letter-spacing: -0.96px;
					color: #000;
					margin: 0;
					@include mq(768) {
						font-size: 34px;
						line-height: 34px; /* 135% */
						letter-spacing: -0.68px;
					}
				}
			}
			.old_price {
				margin: 0;
				* {
					color: #000;
					font-size: 16px;
					font-weight: 400;
					line-height: 21.6px; /* 135% */
					margin: 0;
				}
			}
			.limited_offer {
				border-radius: 12px;
				background: #000;
				padding: 16px;
				@include mq(768) {
					text-align: center;
					padding: 18px 48px 14px;
				}
				p {
					font-size: 16px;
					font-weight: 400;
					line-height: 17px;
					letter-spacing: -0.32px;
					color: #fff;
					margin: 0;
					u {
						color: #aef53b;
						text-decoration: none;
					}
					@include mq(768) {
						font-size: 14px;
						line-height: 16px;
					}
				}
			}
			.product_specs {
				margin: 0;
				padding-left: 0;
				li {
					margin-bottom: 8px;
					* {
						margin: 0;
						font-size: 16px;
						font-weight: 400;
						line-height: 16px;
						color: #000;
					}
					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}
}

.full_btn_md {
	@include mq(768) {
		width: 100%;
		text-align: center;
	}
}
