.season_upgrade_header_banner {
	background: #ea3968;
	padding: 24px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	@include mq(768) {
		padding: 16px 0;
	}
	.swiper-wrapper {
		transition-timing-function: linear;
	}
}
