/* cataloge navbar */
.catalog-navbar {
	position: sticky;
	z-index: 1001;
	top: 0;
	background-color: #151515;

	&.bg-turquoise {
		background-color: #063741;
	}

	span {
		font-weight: 400;
		font-size: 15px;
		line-height: 32px;
		color: #fff;
	}

	ul {
		list-style: none;
		margin: 0;

		li {
			&:last-child {
				padding: 0;
			}

			button {
				font-weight: 300;
				font-size: 15px;
				text-transform: uppercase;
				line-height: 32px;
				color: #000;
				background-color: #00aaa6 !important;
				padding: 14px 20px;
				border: none;
				transition: all ease 0.4s;

				&:hover {
					color: #fff;
				}
				&.disabled {
					cursor: default;
					background: #ababb0 !important;
					color: #fff !important;
					&:hover {
						color: #fff !important;
						background: #ababb0 !important;
					}
				}
			}
		}
	}

	li,
	> nav > span {
		padding: 14px 20px;
	}

	a {
		text-decoration: none;
	}

	.underline-on-hover {
		&.hover,
		&:hover {
			background-color: transparent;

			&::after {
				width: 100%;
			}
		}
	}
}

.catalog-navbar-v2 {
	.underline-on-hover::after {
		background-color: white !important;
	}

	.where_to_buy {
		background-color: #000 !important;
		color: #fff !important;
		&.disabled {
			cursor: default;
			background: #ababb0 !important;
			color: #fff !important;

			&:hover {
				color: #fff !important;
				background: #ababb0 !important;
			}
		}
	}
	li * {
		font-weight: 500 !important;
	}
}

.product_nav {
	background: #232323;
	height: 66px;
	position: sticky;
	top: 0;

	.nav {
		height: 100%;

		.items {
			list-style: none;
			padding: 0;
			margin: 0;
			gap: 32px;
			width: 100%;

			@include mq(768) {
				gap: 8px;
			}

			li {
				height: 100%;
			}

			.model {
				align-items: center;
				color: #8C8F8F;
				display: flex;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				letter-spacing: -0.32px;
				line-height: 21.6px;
				margin-left: 40px;
			}

			.link {
				align-items: center;
				display: flex;
				height: 100%;
				text-decoration: none;

				span {
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 18.9px;
					color: #fff;
				}
			}

			.wtb {
				align-items: center;
				background: #008885;
				border: 1px solid #008885;
				border-radius: 0;
				color: #ffffff !important;
				display: flex;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				height: 100%;
				justify-content: center;
				line-height: 17px;
				min-width: 214px !important;
				padding: 8.5px 16px 7.5px !important;
				transition: all 0.3s ease-in;

				&:hover {
					border: 1px solid #006664;
					background: #006664;
				}

				&:disabled {
					color: #b3bac5 !important;
				}
			}

			.ps-wtb {
				align-items: center;
				background: #008885;
				border: 1px solid #008885;
				border-radius: 0;
				color: #ffffff !important;
				display: flex !important;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				height: 100%;
				justify-content: center;
				line-height: 17px;
				min-width: 214px !important;
				padding: 8.5px 16px 7.5px !important;
				transition: all 0.3s ease-in;

				&:hover {
					border: 1px solid #006664 !important;
					background-color: #006664;
					border-radius: 0;

					span {
						border: none !important;
						background: #006664 !important;
						font-size: 14px;
						line-height: 14px;
						font-weight: 400;
					}
				}

				span {
					border: none !important;
					display: block;
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 14px;
					font-family: 'hisense';
					transition: all 0.3s ease-in;
				}

				&:disabled {
					color: #b3bac5 !important;
				}
			}
			.menu_btn {
				border: none;
				padding: 0px;
				background: transparent;
			}

			.menu {
				position: absolute;
				top: 82px;
				left: 0;
				width: 100%;
				height: fit-content;
				background: #232323;
				list-style: none;
				padding: 12px;
				margin: 0;
				li {
					padding: 12px;
					.link {
						width: 100%;
					}
				}
			}
		}
	}

	@include mq(768) {
		position: fixed;
		top: unset;
		bottom: 0;
	}

	@include mq(390) {
	}
}
