/* cataloge navbar */
.catalog-navbar {
  position: sticky;
  z-index: 1001;
  top: 0;
  background-color: #151515 !important;

  &.bg-turquoise {
    background-color: #063741;
  }

  span {
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color: #fff;
  }

  ul {
    list-style: none;
    margin: 0;

    li {
      &:last-child {
        padding: 0;
      }

      button {
        font-weight: 300;
        font-size: 15px;
        text-transform: uppercase;
        line-height: 32px;
        color: #000;
        background-color: var(--primary-color) !important;
        padding: 14px 20px;
        border: none;
        transition: all ease 0.4s;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  li,
  > nav > span {
    padding: 14px 20px;
  }

  a {
    text-decoration: none;
  }

  .underline-on-hover {
    &:hover {
      background-color: transparent;

      &::after {
        width: 100%;
      }
    }
  }
}
