.faq-single-color-header {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 192px 24px;
}

.video-tutorials {
	b {
		font-size: 18px;
	}
	.videos-container {
		max-width: 850px;
	}
}
.faq-article {
	max-width: 850px;
	article {
		h2 {
			color: #292929;
			font-size: 33px;
		}
		p {
			font-weight: 400;
		}
		b {
			font-size: 18px;
		}
	}
}

@media (max-width: 767px) {
	.faq-article {
		article {
			h2 {
				font-size: 24px !important;
			}
			a,
			b {
				font-size: 14px;
			}
		}
	}
}
