.faq-single-color-header {
	background-color: #000;
	color: #fff;
	text-align: center;
	position: relative;
	.heading-text{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
	h1{
			font-size: calc(1.375rem + 1.5vw) !important;
	}
}

.video-tutorials {
	b {
		font-size: 18px;
	}
	.videos-container {
		max-width: 850px;
	}
}
.faq-article {
	max-width: 850px;
	article {
		h2 {
			color: #292929;
			font-size: 33px;
		}
		p {
			font-weight: 400;
		}
		b {
			font-size: 18px;
		}
	}
}

@media (max-width: 767px) {
	.faq-article {
		article {
			h2 {
				font-size: 24px !important;
			}
			a,
			b {
				font-size: 14px;
			}
		}
	}
}
