/* font configuration */
/* gotham */
@font-face {
  font-family: 'gotham';
  font-style: normal;
  font-weight: normal;
  src: url('./../../public/assets/fonts/gotham/GothamMedium.ttf');
}

@font-face {
  font-family: 'gotham';
  font-style: normal;
  font-weight: bold;
  src: url('./../../public/assets/fonts/gotham/GothamBold.ttf') format('TrueType'),
  url('./../../public/assets/fonts/gotham/Gotham-Bold.otf') format('OpenType');
}

@font-face {
  font-family: 'gotham';
  font-style: normal;
  font-weight: 300;
  src: url('./../../public/assets/fonts/gotham/Gotham-Thin.otf');
}


/* hisense */
@font-face {
  font-family: 'hisense';
  font-style: normal;
  font-weight: 400;
  src: url('./../../public/assets/fonts/HisenseAlfabet/HisenseAlfabet-Regular.otf') format('opentype')
}
@font-face {
  font-family: 'hisense';
  font-style: normal;
  font-weight: 500;
  src: url('./../../public/assets/fonts/HisenseAlfabet/HisenseAlfabet-Medium.otf') format('opentype')
}
@font-face {
  font-family: 'hisense';
  font-style: normal;
  font-weight: 300;
  src: url('./../../public/assets/fonts/HisenseAlfabet/HisenseAlfabet-Light.otf') format('opentype')
}
@font-face {
  font-family: 'hisense';
  font-style: normal;
  font-weight: 700;
  src: url('./../../public/assets/fonts/HisenseAlfabet/HisenseAlfabet-Bold.otf') format('opentype')
}


/* Neutra */
@font-face {
  font-family: 'Neutra';
  font-style: normal;
  font-weight: 700;
  src: url('./../../public/assets/fonts/Neutra/NeutraText-Bold.otf') format('opentype')
}

@font-face {
  font-family: 'Neutra';
  font-style: italic;
  font-weight: 700;
  src: url('./../../public/assets/fonts/Neutra/NeutraText-BoldItalic.otf') format('opentype')
}

@font-face {
  font-family: 'Neutra';
  font-style: normal;
  font-weight: 400;
  src: url('./../../public/assets/fonts/Neutra/NeutraText-Book.otf') format('opentype')
}

@font-face {
  font-family: 'Neutra';
  font-style: italic;
  font-weight: 400;
  src: url('./../../public/assets/fonts/Neutra/NeutraText-BookItalic.otf') format('opentype')
}