/* #region global */

* {
	--primary-color: #00cccc;
	--secondary-color: rgba(0, 158, 145, 1);
}

body {
	font-family: 'hisense';
	position: relative;
	margin: 0;
	padding: 0;
	padding-top: 80px;
	box-sizing: border-box;
}

.important_item {
	&::before {
		content: '*';
		font-weight: 700;
		font-size: 15px;
		line-height: 23px;
		color: #f74455;
		margin-left: 4px;
	}
}

button {
	&:disabled {
		background: #ebecf0 !important;
		color: #b3bac5 !important;
	}
}

input {
	outline: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	&:focus {
		background: #ffffff !important;
		box-shadow: 0px 0px 8px rgba(145, 145, 145, 0.15);
	}
}

.btn-outline-dark {
	transition: all 0.3s ease-in-out;
}
.btn-outline-dark.green-hover {
	&:hover {
		background-color: #43898a !important;
		border-color: #43898a !important;
		color: #fff;
	}
}

@media (max-width: 768px) {
	.btn-primary-dark-hover:hover {
		opacity: 0.7;
	}
}

.article {
	h2,
	h3 {
		font-size: 42px;
		font-weight: 500;
	}
	p,
	li {
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		color: #292929;
	}
}

/* black banner */
.black-banner {
	background: #141414;
	p {
		max-width: 800px;
	}
}

@media (max-width: 768px) {
	.article {
		h2,
		h3 {
			font-size: 32px !important;
		}
		p,
		li {
			font-size: 14px !important;
		}
	}
}

.bg-light-orange-gradient-light {
	background: radial-gradient(
		44.68% 678.49% at 18.49% 76.76%,
		rgba(67, 137, 138, 0.04) 0%,
		rgba(255, 153, 0, 0.04) 100%
	);
}

.bg-light-orange-gradient {
	background: radial-gradient(
		44.68% 678.49% at 18.49% 76.76%,
		rgba(67, 137, 138, 0.1) 0%,
		rgba(255, 153, 0, 0.1) 100%
	);
}

.modal {
	background: rgba(0, 0, 0, 0.3) !important;
}
