.extended-warrant-banner {
	position: relative;
	height: 442px;

	.heading-text {
		.ql-size-large {
			font-weight: 400;
			font-size: 60px;
			line-height: 120%;
		}

		.support-products-searchbox {
			background: #221f20;
			border-color: #221f20;
			max-width: 420px;

			input {
				color: #fff;
				background-color: transparent;
				width: 100%;
				max-width: 320px;

				&:focus {
					background-color: transparent !important;
				}
			}

			button {
				svg {
					color: #fff;
				}
			}
		}
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		background: rgba(34, 31, 32, 0.1);
	}
}

.extended-warranty-products-slider {
	.support-products {
		.slider-item {
			border: 1px solid #dbddde;
			border-radius: 25px;
			padding: 50px 30px;
			max-width: 230px;
			height: 255px;
			position: relative;

			div {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				height: 100%;

				.slider-image {
					max-width: 90px;
					width: 100%;
					max-height: 80px;
					justify-self: center;
				}

				a {
					white-space: nowrap;
				}
			}
		}
	}
}

.extended-warranty-text-block {
	margin: 0;
	text-align: center;

	.text-block-image {
		width: 100%;
		max-width: 720px;
	}

	.text-block-content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 30px !important;
		max-width: 550px;
		margin: 0 auto;
		color: #221f20;

		h5 {
			font-size: 16px;
			font-weight: 400;
			text-align: center;
		}

		h2 {
			font-size: 48px;
			line-height: 57px;
			font-weight: 400;
			color: #383838;
		}

		p {
			font-weight: 300;
			font-size: 16px;
			line-height: 120%;
			color: #383838;
		}
	}
}

.extended-warranty-faq {
	padding: 50px 12px 120px;

	* {
		color: #221f20;
	}

	.faq-accordion-container {
		.faq-accordion-item {
			border-radius: 50px;
			overflow: hidden;
			margin-bottom: 60px;
			border: 1px solid #dbddde;

			.faq-accordion-button {
				background: #dbddde;
				border: none;
				padding: 35px 40px;
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-weight: 400;
				font-size: 34px;
				line-height: 120%;
				letter-spacing: -0.02em;

				span {
					svg {
						background-color: #fff;
						border-radius: 50%;

						path {
							fill: #00a29c;
						}
					}
				}
			}

			.faq-accordion-content {
				transition: all 0.5s ease-in;
				background: transparent;

				.faq-accordion-question-item {
					padding: 30px;
					border-top: 1px solid #dbddde;
					font-size: 16px;
					background: transparent;

					.faq-accordion-question {
						font-size: 16px;
						line-height: 120%;
						letter-spacing: -0.02em;
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-bottom: 50px;

						svg path {
							fill: #00a29c;
						}
					}

					.faq-accordion-answer {
						font-weight: 300;
						line-height: 120%;
						max-width: 700px;
					}

					.faq-accordion-extras {
						font-weight: 400;
						margin-top: 30px;
						font-size: 12px;
						line-height: 17px;
						max-width: 700px;
					}
				}
			}
		}
	}
}

.extended-warranty-model-selection {
	.extended-warranty-search-product {
		position: relative;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 1270px;

		> div {
			background: #221f20;
			border-color: #221f20;
			border-radius: 1000px;
			padding: 50px 100px;
			text-align: center;

			form {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;

				.label {
					font-weight: 400;
					font-size: 10px;
					line-height: 14px;
					letter-spacing: 0.2em;
					text-transform: uppercase;
					color: #ffffff;
				}

				.support-products-searchbox {
					margin: 0;
					padding: 6px 16px;
					background: transparent;
					border: 1px solid #ffffff;
					border-radius: 1000px;

					input {
						background-color: inherit;
						font-size: 14px;
						color: #ffffff;

						&::placeholder {
							font-size: 14px;
						}

						&:focus {
							background-color: transparent !important;
						}
					}

					button {
						color: #ffffff;
					}
				}

				.dropdown-select-box {
					min-width: unset;
					width: 100%;

					.dropdown-select-box-options {
						background: #221f20 !important;
						border: 1px solid #fff;
						z-index: 2;

						ul li {
							color: #ffffff;
						}
					}

					button {
						border: 1px solid #fff;
						color: #fff;

						span {
							margin: 0 !important;
						}
					}
				}

				> button {
					padding: 16px;
				}
			}

			.close {
				transform: rotate(-90deg);
			}

			> button {
				font-weight: 400;
				font-size: 10px;
				line-height: 14px;
				letter-spacing: 0.2em;
				text-transform: uppercase;
				color: #a6a8ac;
				background: transparent;
				border-color: transparent;
			}
		}
	}

	.products-v2 {
		margin-bottom: 60px;

		h2 {
			font-size: 48px;
			line-height: 120%;
		}

		.extended-warranty-products-grid {
			margin: 0 60px 0 60px;

			.product-item-v2 {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: flex-start;

				.image {
					margin: 0 auto 40px;
					width: 100%;
					height: 100%;
					max-height: 320px;
					max-width: 240px;
					text-align: center;

					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}
			}
		}
	}
}

.extended-warranty-dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	.extended-warranty-dialog-backdrop {
		background: rgba(0, 0, 0, 0.295);
		width: 100%;
		height: 100%;
	}

	.extended-warranty-dialog-content {
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 20px;
		width: fit-content;
		height: fit-content;
		min-width: 300px;
		min-height: 300px;
		max-height: 90vh;
		max-width: 90vw;
		transform: translate(-50%, -50%);
		background: #ffffff;
		border: 1px solid #dbddde;
		box-shadow: 0 10px 16px rgba(20, 37, 63, 0.06);
		border-radius: 25px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		.image-container {
			background: #cbcbcb;
			box-shadow: 0 10px 16px rgba(20, 37, 63, 0.06);
			border-radius: 25px;
			margin-bottom: 15px;

			img {
				width: 100%;
				height: 100%;
				max-width: 300px;
				max-height: 300px;
			}
		}

		.title {
			font-weight: 400;
			font-size: 16px;
			line-height: 120%;
			letter-spacing: -0.02em;
			color: #221f20;
			margin-bottom: 30px;
		}

		.description {
			font-weight: 400;
			font-size: 12px;
			line-height: 17px;
			color: #221f20;
			margin: 0;
		}
	}
}

.wizard {
	.stepper {
		height: 60px;
		width: 100%;
		background: #221f20;

		.text {
			height: 50px;
			padding: 0 50px;
			display: flex;
			align-items: center;
			font-weight: 400;
			font-size: 12px;
			line-height: 17px;
			color: #ffffff;

			span {
				cursor: pointer;
			}
		}

		.indicator {
			background: #00a29c;
			height: 10px;
		}
	}

	.purchased-price-step,
	.service-plans {
		background: #fbfbfb;
		padding: 180px 16px;

		.box {
			.description {
				font-weight: 300 !important;
				font-size: 16px !important;
				line-height: 120% !important;
				color: #383838 !important;
			}
		}

		.content-container {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			margin: 0 auto;
			max-width: 1100px;

			.product {
				text-align: center;
				padding: 15px 35px;

				.model {
					font-weight: 400;
					font-size: 16px;
					line-height: 120%;
					letter-spacing: -0.02em;
					color: #00a29c;
					margin-bottom: 15px;
				}

				.title {
					font-weight: 400;
					font-size: 24px;
					line-height: 120%;
					text-align: center;
					letter-spacing: -0.02em;
					color: #221f20;
					margin-bottom: 15px;
				}

				.image {
					width: 100%;
				}

				.price-label {
					margin: 25px 0 15px;
					font-weight: 400;
					font-size: 16px;
					line-height: 120%;
					letter-spacing: -0.02em;
					color: #221f20;
				}
			}

			.box {
				background: #ffffff;
				border: 1px solid #dbddde;
				box-shadow: 0 10px 16px rgba(20, 37, 63, 0.06);
				border-radius: 50px;
				padding: 100px 160px;
				text-align: center;

				.title {
					font-weight: 400;
					font-size: 24px;
					line-height: 120%;
					letter-spacing: -0.02em;
					color: #221f20;
					margin-bottom: 30px;
				}

				.description {
					font-weight: 400;
					font-size: 16px;
					line-height: 120%;
					color: #221f20;
					margin-bottom: 30px;
				}
			}
		}
	}

	.service-plans {
		.content-container {
			.box {
				padding: 0;
				width: 100%;

				.title {
					padding: 50px 0 25px;
				}

				.plans {
					padding: 0;
					margin: 0;
					list-style: none;

					.plan {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 36px 10%;
						border-top: 1px solid #dbddde;
						font-weight: 400;
						font-size: 24px;
						line-height: 120%;
						letter-spacing: -0.02em;
						color: #221f20;

						.text-primary {
							color: #00a29c !important;
						}

						div {
							display: flex;
							justify-content: space-between;
							align-items: flex-end;

							span {
								display: block;
								padding: 0 4px;
							}
						}
					}
				}
			}
		}
	}

	.extended-warranty-form-step {
		.selection-card {
			padding: 30px 0;
			max-width: 1200px;
			margin: 0 auto;

			.label {
				font-weight: 400;
				font-size: 16px;
				line-height: 120%;
				text-align: center;
				letter-spacing: -0.02em;
				color: #221f20;
				margin-bottom: 15px;
			}

			.custom-card {
				background: #fbfbfb;
				box-shadow: 0 10px 16px rgba(20, 37, 63, 0.06);
				border-radius: 25px;
				padding: 15px 0;

				.product {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					padding: 0;

					.image {
						width: 100%;
						height: 100%;
						max-width: 120px;
						order: 1;
					}

					.text {
						text-align: start;
						order: 2;

						.model {
							font-weight: 400;
							font-size: 12px;
							line-height: 17px;
							color: #221f20;
							margin-bottom: 10px;
						}

						.title {
							font-weight: 400;
							font-size: 16px;
							line-height: 120%;
							letter-spacing: -0.02em;
							color: #221f20;
						}
					}
				}

				.plan span {
					font-weight: 400;
					font-size: 24px;
					line-height: 120%;
					text-align: center;
					letter-spacing: -0.02em;
					color: #221f20;
					padding: 0 4px;
				}
			}
		}

		.form {
			padding: 100px 0;
			max-width: 1000px;
			margin: 0 auto;

			.title {
				font-weight: 400;
				font-size: 24px;
				line-height: 120%;
				text-align: center;
				letter-spacing: -0.02em;
			}

			.extended-warranty-input {
				padding-top: 60px;
				margin: 0;
			}

			.extended-warranty-file-input {
				margin-top: 40px;
			}
		}
	}
}

.extended-warranty-payment-status {
	max-width: 1000px;
	margin: 0 auto;
	padding: 90px 0;

	.status-container {
		padding: 30px;
		text-align: center;

		.status-image {
			width: 105px;
			margin-bottom: 50px;
		}

		h2 .ql-size-large {
			font-weight: 400;
			font-size: 48px;
			line-height: 120%;
			letter-spacing: -0.02em;
			margin-bottom: 30px;
		}

		p {
			margin: 0;

			.ql-size-small {
				font-weight: 400;
				font-size: 16px;
				line-height: 80%;
			}

			&:last-child {
				margin-bottom: 30px;
			}
		}

		.custom-card {
			background: #fbfbfb;
			box-shadow: 0 10px 16px rgba(20, 37, 63, 0.06);
			border-radius: 50px;
			margin-bottom: 55px;

			.product {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				padding: 35px 12px;

				.image {
					width: 100%;
					max-width: 350px;
				}

				.title {
					font-weight: 400;
					font-size: 20px;
					line-height: 120%;
					letter-spacing: -0.02em;
				}

				.model {
					font-weight: 400;
					font-size: 12px;
					line-height: 17px;
					margin-bottom: 15px;
				}
			}

			.details {
				border-left: 1px solid #dbddde;
				padding: 0;

				* {
					text-align: start;
					font-weight: 400;
					font-size: 16px;
					line-height: 120%;
					text-decoration: none;
					letter-spacing: -0.02em;
					color: #221f20;

					> span {
						font-weight: 700;
						padding-left: 10px;
					}
				}

				> div {
					height: 33.333%;
					padding: 0 16px;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					border-bottom: 1px solid #dbddde;

					&:last-child {
						border-bottom: 0;
					}
				}
			}
		}
	}
}

.extended-warranty-file-input {
	label {
		font-weight: 400;
		font-size: 16px;
		line-height: 120%;
		letter-spacing: -0.02em;
		color: #000000;
	}

	.modal-btn {
		font-weight: 400;
		font-size: 10px;
		line-height: 14px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #a6a8ac;
		background-color: transparent;
		border: none;
		padding: 0;
		text-align: start;
	}

	.input {
		border: 1px dashed #cbcbcb;
		width: 100%;
		height: 100%;
		min-height: 200px;
		position: relative;
		padding: 0 !important;
		img {
			object-fit: cover;
		}
		button {
			position: absolute;
			border: none;
			background-color: transparent;
			top: 10px;
			right: 10px;
			z-index: 1;
			padding: 0;
			width: 25px;
			height: 25px;
			border-radius: 100%;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			-ms-border-radius: 100%;
			-o-border-radius: 100%;
			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.content {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			font-weight: 400;
			font-size: 16px;
			line-height: 120%;
			letter-spacing: -0.02em;
			color: #cbcbcb;
			width: 100%;
			text-align: center;
		}

		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
      cursor: pointer;
		}

		&.activated {
			background-color: #eeeeee;
		}
	}
}

.extended-warranty-input {
	border-bottom: 1px solid #000000;
	width: 100%;
	margin-bottom: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	.custom-label {
		display: block;
		position: absolute;
		bottom: 8px;
		left: 16px;
		background-color: #fff;
		font-size: 14px;
		line-height: 120%;
		letter-spacing: -0.02em;
		color: #221f20;
	}

	input {
		width: 100%;
		border: none;
		background: transparent;
		font-size: 14px;
		line-height: 120%;
		letter-spacing: -0.02em;
		color: #221f20;
		padding: 8px 16px;

		&:focus {
			border: none !important;
			background: transparent !important;
			box-shadow: none !important;
		}

		&::placeholder {
			font-size: 14px;
			line-height: 120%;
			letter-spacing: -0.02em;
			color: #221f20;
		}
	}
}

@media (max-width: 991px) {
	.wizard {
		.purchased-price-step {
			.content-container {
				.box {
					padding: 100px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.extended-warrant-banner {
		padding-top: 350px;
		height: 0;

		.heading-text {
			.ql-size-large {
				font-size: 24px;
			}
		}

		.img-fluid::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			background: rgba(34, 31, 32, 0.1);
		}
	}
	.extended-warranty-text-block {
		.text-block-content {
			padding: 12px !important;
		}
	}
	.extended-warranty-faq {
		padding: 50px 12px;

		.faq-accordion-container {
			.faq-accordion-item {
				border-radius: 25px;
				margin-bottom: 20px;

				.faq-accordion-button {
					padding: 16px;
					font-size: 20px;
				}

				.faq-accordion-content {
					.faq-accordion-question-item {
						padding: 16px;

						.faq-accordion-answer {
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	.extended-warranty-model-selection {
		.products-v2 {
			margin: 20px 0;

			h2 {
				font-size: 28px;
				line-height: 120%;
			}

			.extended-warranty-products-grid {
				margin: 0 16px;
			}
		}

		.extended-warranty-search-product {
			position: relative;
			top: -40px;
			bottom: 0;
			left: 0;
			transform: translate(0, 0);

			> div {
				border-radius: 0;
				padding: 25px 15px;

				form {
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					overflow-y: hidden;

					> div > div {
						margin-bottom: 30px;
					}

					.support-products-searchbox {
						margin: 0 auto;
					}

					.dropdown-select-box {
						max-width: 300px;
						width: 100%;
						margin: 0 auto;
					}
				}
			}
		}
	}
	.wizard {
		.stepper {
			height: 60px;
			width: 100%;
			background: #221f20;

			.text {
				height: 50px;
				padding: 0 50px;
				display: flex;
				align-items: center;
				font-weight: 400;
				font-size: 12px;
				line-height: 17px;
				color: #ffffff;

				span {
					cursor: pointer;
				}
			}

			.indicator {
				background: #00a29c;
				height: 10px;
			}
		}

		.service-plans,
		.purchased-price-step {
			background: #fbfbfb;
			padding: 16px 16px 100px;

			.content-container {
				flex-wrap: wrap;

				.product {
					margin: 0 auto 16px;
					max-width: 500px;

					.title {
						font-size: 20px;
					}
				}

				.box {
					border-radius: 25px;
					padding: 67px 27px;

					.title {
						font-size: 20px;
					}

					.description {
						font-size: 14px;
					}
				}
			}
		}

		.service-plans {
			.content-container {
				.box {
					padding: 0;

					.plans {
						.plan {
							div {
								text-align: start;
								display: block;
							}
						}
					}
				}
			}
		}

		.extended-warranty-form-step {
			.selection-card {
				padding: 24px 18px;

				.custom-card {
					padding: 30px 20px;

					.product {
						justify-content: center;
						flex-direction: column;
						margin-bottom: 40px;

						.image {
							width: 100%;
							height: 100%;
							max-width: 120px;
							order: 2;
						}

						.text {
							order: 1;
							text-align: center;

							.model {
								margin-bottom: 30px;
							}

							.title {
								font-size: 14px;
								margin-bottom: 16px;
							}
						}
					}

					.plan span {
						font-size: 20px;
					}
				}
			}

			.form {
				padding: 60px 0;

				.title {
					font-size: 20px;
				}

				.extended-warranty-input {
					padding-top: 30px;
				}

				.extended-warranty-file-input {
					margin-top: 30px;
				}
			}
		}
	}
	.extended-warranty-payment-status {
		padding: 40px 0 70px;

		.status-container {
			padding: 0 16px;

			.status-image {
				width: 80px;
			}

			h2 .ql-size-large {
				font-size: 24px;
			}

			p .ql-size-small {
				font-size: 14px;
			}

			.custom-card {
				border-radius: 25px;

				.product {
					flex-direction: column-reverse;
					justify-content: center;
					align-items: center;
					padding: 15px 20px;

					.image {
						margin-bottom: 35px;
					}

					.title {
						margin-bottom: 15px;
					}

					.model {
						margin-bottom: 15px;
					}
				}

				.details {
					border-left: 0;
					padding: 0;

					* {
						> span {
							font-weight: 700;
							padding-left: 10px;
						}
					}

					> div {
						padding: 30px 16px;
						border-top: 1px solid #dbddde;
						border-bottom: 0;
					}
				}
			}
		}
	}
}
