.full_feature {
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	position: relative;
	@include mq(768) {
		height: auto;
	}
	&.light {
		.subtitle {
			color: #fff;
		}
		.title {
			* {
				color: #fff;
			}
		}
		.text {
			* {
				color: #fff;
			}
		}
		.note {
			color: #fff;
		}
	}
	.background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		@include mq(768) {
			height: 56.25vw;
		}
	}
	.content {
		position: absolute;
		left: 0;
		top: 0;
		width: fit-content;
		max-width: 480px;
		height: 100%;
		padding: 64px;
		display: flex;
		justify-content: center;
		align-items: start;
		gap: 32px;
		flex-direction: column;
		@include mq(1280) {
			max-width: 660px;
			gap: 12px;
		}
		@include mq(768) {
			padding: 32px 16px;
			position: relative;
			width: 100%;
			gap: 32px;
		}
		.image {
			width: 150px;
			height: 100px;
			object-fit: contain;
		}
		.subtitle {
			font-size: 10px;
			font-style: normal;
			font-weight: 400;
			line-height: 13.5px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: #000;
			margin: 0;
		}
		.title {
			margin: 0;
			* {
				margin: 0;
				font-size: 48px;
				font-style: normal;
				font-weight: 400;
				line-height: 55.86px; /* 116.375% */
				letter-spacing: -0.96px;
				color: #000;
				@include mq(768) {
					font-size: 24px;
					line-height: 30px; /* 125% */
					letter-spacing: -0.48px;
				}
			}
		}
		.text {
			margin: 0;
			* {
				margin: 0;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 21.6px; /* 135% */
				color: #000;
				@include mq(768) {
					font-size: 14px;
					line-height: 18.9px; /* 135% */
				}
			}
		}
		.images_row {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 16px;
			@include mq(768) {
				flex-wrap: wrap;
			}
		}
		.note {
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 16.2px; /* 135% */
			color: #000;
			margin: 0;
		}
	}
}
