.lightbox {
	padding: 20px 0 30px;
	width: calc(100% - 32px);
	height: 100%;
	max-width: 1000px;
	height: fit-content;
	position: fixed;
	z-index: 99999999;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	border-radius: 25px;
	@include mq(768) {
		width: 100vw;
		height: 100vh;
		border-radius: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	&___top_bar {
		display: flex;
		justify-content: end;
		align-items: center;
		gap: 40px;
		padding: 0 16px 16px;
		@include mq(768) {
			padding: 16px 20px;
			width: 100%;
			justify-content: space-between;
		}
		.n-btn.outline-black {
			svg path {
				stroke: #000;
				stroke-width: 0.5px;
				stroke-linejoin: round;
			}
			&:hover svg path {
				fill: #fff;
				stroke: #fff;
				transition: all 0.3s ease-in-out;
			}
			@include mq(768) {
				min-width: 56px !important;
				padding: 9px 16px 7px !important;
				font-size: 10px;
				line-height: 10px;
				svg {
					width: 11px;
					height: 11px;
				}
			}
		}
		&___close {
			background-color: transparent;
			border: 0;
			outline: 0;
			padding: 0;
			width: fit-content;
			height: fit-content;
			@include mq(768) {
				display: none;
			}
		}
		&___back {
			background: transparent;
			border: none;
			display: flex;
			padding: 12px 13px;
			justify-content: center;
			align-items: center;
			gap: 6px;
			font-size: 10px;
			font-weight: 400;
			line-height: 100%; /* 10px */
			color: #00aaa6;
			span {
				font-size: 10px;
				font-style: normal;
				font-weight: 500;
				line-height: 11px; /* 10px */
				color: #00aaa6;
				height: 7px;
			}
			@include mqm(768) {
				display: none;
			}
		}
	}
	&___wrapper {
		position: relative;
		padding-top: calc(56.25% + 32px);
		width: 100%;
		height: 0;
		& > iframe,
		& > img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&___main_carousel {
			position: absolute !important;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			.splide {
				width: 100%;
				height: 100%;
				.splide__track {
					width: 100%;
					height: 100%;
					.splide__slide {
						border: 1px solid #fff;
						iframe,
						img {
							width: 100%;
							height: calc(100% - 32px);
							object-fit: cover;
						}
						.lightbox___caption {
							padding: 12px 16px 0;
						}
					}
				}
			}
		}
		&___thumbnails_carousel {
			width: 100%;
			max-width: 555px;
			margin: 24px auto 0;
			@include mq(768) {
				max-width: 304px;
			}
			.splide__list {
				align-items: end;
				.splide__slide {
					width: 110px !important;
					height: 61.875px !important;
					transition: all 0.2s ease-in-out;
					@include mq(768) {
						width: 60px !important;
						height: 33.75px !important;
					}
					&.is-active {
						border: none !important;
						width: 124px !important;
						height: 69.75px !important;
						@include mq(768) {
							width: 68px !important;
							height: 38.25px !important;
						}
					}
				}
			}
			.splide__arrows {
				@include mq(768) {
					width: 100%;
					max-width: 200px;
					position: relative;
					bottom: -48px;
					left: 50%;
					transform: translateX(-50%);
				}
				@include mq(360) {
					max-width: 100px;
				}
				.splide__arrow {
					background-color: #00aaa6;
					opacity: 1;
					@include mq(768) {
						top: 0;
						transform: translate(0);
					}
					svg {
						width: 16px;
						height: 16px;
						path {
							fill: #fff;
						}
					}
					&:hover {
						opacity: 1;
					}
					&:disabled {
						opacity: 0.225;
						background-color: #00aaa6 !important;
					}
					&.splide__arrow--prev {
						left: -46px;
					}
					&.splide__arrow--next {
						right: -46px;
					}
				}
			}
		}
	}
	&___caption {
		padding: 12px 40px 0;
		text-align: center;
		margin: 0;
		width: 100%;
		@include mq(768) {
			padding: 12px 16px 0;
		}

		* {
			color: #000;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 10px; /* 135% */
			margin: 0;
		}
	}
}

.dropdown-select-box-backdrop.light_box_backdrop {
	background: #00000070;
	z-index: 999999;
}
