.retail_list {
	padding: 58px 65px;
	@include mq(700) {
		padding: 40px 32px;
	}
	&___content {
		display: flex;
		max-width: 1310px;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		align-items: start;
		flex-direction: column;
		gap: 40px;
		position: relative;
		@include mq(700) {
			gap: 32px;
		}
		&___title {
			margin: 0;
			* {
				font-size: 48px;
				font-weight: 500;
				line-height: 55.86px;
				letter-spacing: -0.96px;
				color: #000;
				margin: 0;
				u {
					color: #8c8f8f;
					text-decoration: none;
				}
			}
		}
		&___wrapper {
			height: 500px;
			max-width: 1310px;
			margin: 0 auto;
			width: 100%;
			overflow: hidden;
			@include mq(700) {
				padding: 0 20px;
			}
			&___retailers {
				display: flex;
				justify-content: stretch;
				align-content: space-between;
				flex-direction: column;
				flex-wrap: wrap;
				list-style: none;
				width: max-content;
				height: 500px;
				padding: 0;
				margin: 0;
				gap: 24px 0;
				transition: transform 0.2s ease-in-out;
				&___item {
					width: 200px;
					&___title {
						margin: 0 0 24px;
						color: #8c8f8f;
						color: #8c8f8f;
						font-size: 24px;
						font-weight: 500;
						line-height: 30px; /* 125% */
						letter-spacing: -0.48px;
						* {
							color: #8c8f8f;
							font-size: 24px;
							font-weight: 500;
							line-height: 30px; /* 125% */
							margin: 0;
							letter-spacing: -0.48px;
						}
					}
					&___subtitem {
						&___title {
							margin: 0;
							color: #000;
							font-size: 16px;
							font-weight: 500;
							line-height: 21.6px;
							letter-spacing: -0.32px;
							* {
								color: #000;
								font-size: 16px;
								font-weight: 400;
								line-height: 21.6px;
								letter-spacing: -0.32px;
								margin: 0;
							}
						}
						&___address {
							margin: 0;
							display: flex;
							justify-content: center;
							align-items: start;
							flex-direction: column;
							color: #000;
							font-size: 14px;
							font-weight: 400;
							line-height: 18.9px;
							* {
								color: #000;
								font-size: 14px;
								font-weight: 400;
								line-height: 18.9px;
								margin: 0;
							}
						}
					}
				}
			}
		}
		> ul {
			list-style: none;
			padding: 0;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 20px;

			li {
				&:first-child,
				&:nth-child(2) {
					transform: rotate(180deg);
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-ms-transform: rotate(180deg);
					-o-transform: rotate(180deg);
				}
				opacity: 0.5;
				button {
					display: flex;
					align-items: center;
					padding: 0;
					background-color: transparent;
					border: none;

					span {
						display: block;
						margin-bottom: -4px;
					}
				}
				&.active {
					opacity: 1 !important;

					button {
						&:disabled {
							background: transparent !important;
							opacity: 0.5;
						}
					}
				}
			}
		}
	}
}
