.video_feature {
	width: 100%;
	position: relative;
	padding-top: 56.25%;

	video,
	iframe {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.button_group {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		width: fit-content;
		height: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 32px;
		padding: 32px;
		@include mq(768) {
			gap: 8px;
			padding: 16px;
		}
		button {
			padding: 8px;
			background-color: #fff;
			border-radius: 50%;
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 300ms ease-in;
			&:hover {
				background-color: #eee;
			}
			&:active {
				background-color: #bbb;
			}
			@include mq(768) {
				height: 28px;
				width: 28px;
				padding: 4px;
			}
			img {
				width: 40px;
				height: auto;
				@include mq(768) {
					width: 20px;
				}
			}
		}
	}
}

.video_feature_resized_video_modal {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
	height: 100vh;
	width: 100vw;
	background: #000000c5;
	display: flex;
	justify-content: center;
	align-items: center;
	.wrapper {
		position: relative;
		height: 100%;
		width: 100vw;
		video,
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
			// background-color: #fff;
		}
	}
}
