.single_news_latest_news {
	background: #006664;
	> div {
		max-width: 1115px;

		padding: 0 16px;
		> div {
			padding: 80px 0 60px;

			h5 {
				font-weight: 400 !important;
				text-align: center !important;
				font-size: 48px !important;
				line-height: 56px !important;
				color: #ffffff !important;
				margin-bottom: 50px !important;
				@include mq(768) {
					font-size: 34px !important;
					line-height: 42px !important;
				}
				p {
					font-weight: 400 !important;
					text-align: center !important;
					font-size: 48px !important;
					line-height: 56px !important;
					color: #ffffff !important;
					margin-bottom: 50px !important;
					@include mq(768) {
						font-size: 34px !important;
						line-height: 42px !important;
					}
				}
			}

			.items {
				display: grid;
				justify-content: center;
				align-items: center;
				@include mq(991) {
					grid-template-columns: repeat(2, 1fr) !important;
				}
				@include mq(650) {
					grid-template-columns: repeat(1, 1fr) !important;
				}
				gap: 16px;
				margin-bottom: 64px;
				.news_room_main_news_item.three_item {
					width: 100% !important;
					height: 100%;
					& > div {
						width: 100% !important;
						height: 100%;
					}
				}
				& > div {
					min-width: 361px;
					@include mqm(768) {
						height: 361px;
					}
					@include mq(768) {
						min-width: 340px;
					}
					@include mq(450) {
						min-width: unset;
					}
				}
			}

			> a {
				display: flex;
				width: fit-content;
				margin: auto;
				align-items: center;
				border: 1px solid #ffffff;
				border-radius: 1000px;
				font-style: normal;
				font-weight: 400;
				color: #ffffff;
				text-decoration: none;
				min-width: 80px !important;
				padding: 9.5px 16px 6.5px !important;
				font-size: 14px;
				line-height: 17px;
			}
		}
	}
}
