.news_room_news_box {
	.items {
		margin-top: 96px;
		max-width: 1090px;
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
	}
	.pagination {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		> ul {
			list-style: none;
			padding: 0;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 20px;

			li {
				&:first-child,
				&:nth-child(2) {
					transform: rotate(180deg);
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-ms-transform: rotate(180deg);
					-o-transform: rotate(180deg);
				}
				opacity: 0.5;
				button {
					display: flex;
					align-items: center;
					padding: 0;
					background-color: transparent;
					border: none;

					span {
						display: block;
						margin-bottom: -4px;
					}
				}
				&.active {
					opacity: 1 !important;

					button {
						&:disabled {
							background: transparent !important;
							opacity: 0.5;
						}
					}
				}
			}
		}
	}

	.view_archive {
		width: fit-content;
		text-decoration: none;
		display: flex;
		align-items: center;
		margin: 96px auto;
		border: 1px solid #000000;
		border-radius: 1000px;
		font-style: normal;
		font-weight: 400;
		padding: 0 16px;
		text-align: center;
		color: #000000;
		min-width: 80px !important;
		padding: 9.5px 16px 6.5px !important;
		font-size: 14px;
		line-height: 17px;
	}
}

.news_room_main_news_item {
	background: #f0f2f2;
	border-radius: 50px;
	overflow: hidden;
	.image {
		object-fit: cover;
	}
	&.horizontal {
		width: 100%;
		height: 622px;
		box-shadow: 0px 10px 16px rgba(20, 37, 63, 0.06);
		display: flex;
		@include mq(768) {
			flex-direction: column;
			width: calc(50% - 4px);
			height: auto;
		}
		@include mq(550) {
			width: 100% !important;
		}
		> div {
			width: 50% !important;
			@include mq(768) {
				width: 100% !important;
			}
		}
		.image_wrapper_link {
			width: 50% !important;
			@include mq(768) {
				width: 100% !important;
			}
		}
		.image {
			@include mq(768) {
				height: 268px !important;
			}
		}
		.text {
			padding: 64px;
			@include mq(768) {
				padding: 32px;
			}
			h2 {
				font-size: unset;
				line-height: unset;
				a {
					font-style: normal;
					font-weight: 400;
					font-size: 34px !important;
					line-height: 42px !important;
					color: #000000;
					text-decoration: none;
				}
				@include mq(768) {
					margin: 16px 0;

					a {
						font-size: 16px !important;
						line-height: 22px !important;
					}
				}
			}
		}
	}
	&.vertical {
		display: flex;
		flex-direction: column;
		width: calc(50% - 8px);
		@include mq(768) {
			width: calc(50% - 8px);
		}
		@include mq(550) {
			width: 100% !important;
		}
		.text {
			padding: 32px 64px;
			@include mq(768) {
				padding: 32px;
			}
			h2 {
				font-size: unset;
				line-height: unset;
				margin: 41px 0;
				a {
					font-style: normal;
					font-weight: 400;
					font-size: 24px !important;
					line-height: 30px !important;
					color: #000000;
					text-decoration: none;
				}
				@include mq(768) {
					margin: 16px 0;
					a {
						font-size: 16px !important;
						line-height: 22px !important;
					}
				}
			}
		}
	}

	&.three_item {
		width: calc(33.3333% - 16px) !important;
		@include mq(768) {
			flex-direction: column;
			width: calc(50% - 4px) !important;
			height: auto;
		}
		@include mq(550) {
			width: 100% !important;
		}
		.image {
			@include mq(768) {
				height: 268px !important;
			}
		}
		.text {
			padding: 24px 32px;
			@include mq(768) {
				padding: 32px;
			}
			.subject {
				font-size: 10px;
			}
			h2 {
				margin: 10px 0 6px;
				font-size: unset;
				line-height: unset;
				a {
					font-weight: 400;
					font-size: 16px !important;
					color: #000000;
					line-height: 21.6px !important;
					text-decoration: none;
				}
				@include mq(768) {
					margin: 16px 0;
					a {
						font-size: 16px !important;
						line-height: 22px !important;
					}
				}
			}

			.date {
				font-size: 12px;
				font-weight: 300;
			}
		}
	}
	.text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		span {
			font-style: normal;
			color: #ababb0;
		}
		.subject {
			font-weight: 400;
			font-size: 10px;
			line-height: 14px;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			font-size: 10px;
		}
		.date {
			font-weight: 400;
			font-size: 12px;
		}
	}
}

.box-group-link {
	text-decoration: none;
	cursor: pointer;
}

.news_room_news_box_search_items {
	width: 100%;
	display: grid;
	gap: 16px;
	margin-bottom: 65px;
	> div {
		height: 182px;
		display: flex;
		align-items: center;
		background: #f0f2f2;
		border-radius: 25px;
		overflow: hidden;

		@include mq(600) {
			flex-direction: column;
			height: unset;
		}

		img {
			@include mq(600) {
				height: 140px !important;
			}
		}

		.text_box {
			padding: 25px 32px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;

			.subject {
				font-weight: 400;
				line-height: 14px;
				text-transform: uppercase;
				color: #ababb0;
				letter-spacing: 0.2em;
				font-size: 10px;
			}

			h5 {
				margin: 10px 0;
				max-width: 596px;
				a {
					font-style: normal;
					font-weight: 400;
					font-size: 20px;
					line-height: 25px;
					color: #000000;
					text-decoration: none;
					@include mq(600) {
						line-height: 19px;
						font-size: 14px;
					}
				}
			}
			.date {
				font-weight: 400;
				font-size: 12px;
				line-height: 16px;
				color: #ababb0;
			}
		}
	}
}
.newsroom_search {
	position: sticky;
	top: 0;
	z-index: 1001;

	@include mq(768) {
		top: -72px;
	}

	.news_room_search_filter {
		background: #232323;

		> div {
			padding: 0 40px;
			@include mq(1150) {
				padding: 0 32px;
			}

			@include mq(1050) {
				padding: 0 25px;
			}
			> div {
				display: flex;
				height: 72px;
				align-items: center;
				justify-content: space-between;
				flex-direction: row;

				@include mq(1050) {
					padding: 40px 0 32px;
				}

				.filter_title {
					> span,
					> a {
						font-style: normal;
						font-weight: 400;
						font-size: 24px;
						line-height: 22px;
						color: #00aaa6;
						text-decoration: none;
						&.title {
							@include mq(768) {
								font-size: 20px;
							}
						}
					}
					> button {
						background-color: transparent;
						display: flex;
						font-weight: 600;
						font-size: 14px;
						border: none;
						align-items: center;
						line-height: 17px;
						color: #ffffff;
						gap: 10px;
						padding: 0;

						&.close_button {
							margin: 0;

							svg {
								transform: rotate(0deg);
								-webkit-transform: rotate(0deg);
								-moz-transform: rotate(0deg);
								-ms-transform: rotate(0deg);
								-o-transform: rotate(0deg);
							}
						}

						svg {
							width: 10px;
							height: 6px;
							transform: rotate(180deg);
							-webkit-transform: rotate(180deg);
							-moz-transform: rotate(180deg);
							-ms-transform: rotate(180deg);
							-o-transform: rotate(180deg);
						}
					}
				}
				.results {
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 21.6px; /* 135% */
					letter-spacing: -0.32px;
					color: #8c8f8f;
					margin: 0 auto 0 16px;
					@include mq(768) {
						margin: 0 0 0 auto;
					}
				}
				.filter_options {
					height: fit-content;
					margin-top: 0;
					overflow: unset;
					display: flex;
					align-items: center;
					gap: 16px;
					transition: all 0.3s;
					-webkit-transition: all 0.3s;
					-moz-transition: all 0.3s;
					-ms-transition: all 0.3s;
					-o-transition: all 0.3s;
					@include mq(1150) {
						gap: 8px;
					}
					.reset {
						font-size: 10px;
						font-style: normal;
						font-weight: 400;
						line-height: 120%; /* 12px */
						text-decoration-line: underline;
						color: #fff;
						background-color: transparent;
						padding: 16px;
						border: none;
						@include mq(1150) {
							padding: 12px;
							white-space: nowrap !important;
						}
					}

					.reset-container {
						padding-left: 4px;
					}

					.reset-button {
						font-size: 14px;
						font-weight: 400px;
						line-height: 14px;
						color: #00aaa6;
						background-color: none;
						background: none;
						border: none;
						padding: 12px 0px 12px 0px;
						font: inherit;
						cursor: pointer;
						outline: inherit;
					}
					span{
						svg{
							max-width: 20px;
							max-height:20px;
						}
					}
					.select_box_custom {
						position: relative;
						width: 200px;
						@include mq(991) {
							width: 140px;
						}
						&.open {
							> div {
								> span {
									border-radius: 10px 10px 0 0;
									-webkit-border-radius: 10px 10px 0 0;
									-moz-border-radius: 10px 10px 0 0;
									-ms-border-radius: 10px 10px 0 0;
									-o-border-radius: 10px 10px 0 0;
									border-bottom: none;
									svg {
										transform: rotate(180deg);
										-webkit-transform: rotate(180deg);
										-moz-transform: rotate(180deg);
										-ms-transform: rotate(180deg);
										-o-transform: rotate(180deg);
									}
								}
							}
						}
						> div {
							> span {
								cursor: pointer;
								padding: 12px 16px 12px;
								gap: 32px;
								min-width: 117.08px;
								height: 40px;
								display: flex;
								align-items: center;
								justify-content: space-between;
								line-height: 0;
								border: 1px solid #ffffff;
								border-radius: 1000px;
								svg {
									transition: all 0.2s ease-in;
								}
								.dropdown_label {
									width: 100%;
									height: 16px;
									font-size: 14px;
									font-weight: 400;
									line-height: 20px;
									color: #ffffff;
									text-overflow: ellipsis;
									white-space: nowrap !important;
									overflow: hidden;
								}
							}
							> div {
								display: inline-block !important;
								z-index: 1001;
								position: absolute;
								top: 100%;
								left: 0;
								width: 100%;
								height: 100%;
								ul {
									overflow: hidden;
									background-color: #232323;
									padding: 0 16px;
									list-style: none;
									overflow: auto;
									border: 1px solid #ffffff;
									border-top: none;
									border-radius: 0 0 10px 10px;
									-webkit-border-radius: 0 0 10px 10px;
									-moz-border-radius: 0 0 10px 10px;
									-ms-border-radius: 0 0 10px 10px;
									-o-border-radius: 0 0 10px 10px;
									// box-shadow: 0 10px 15px rgba($color: #000000, $alpha: 0.3);
									max-height: 220px;

									li {
										display: flex;
										justify-content: space-between;
										align-items: center;
										padding: 12px 0;
										.checkbox {
											background-color: transparent;
											width: 13px;
											height: 13px;
											border: 1px solid #fff;
											color: #fff;
											border-radius: 3px;
											-webkit-border-radius: 3px;
											-moz-border-radius: 3px;
											-ms-border-radius: 3px;
											-o-border-radius: 3px;
											position: relative;
											svg {
												position: absolute;
												top: 1px;
												left: 1px;
											}
											&.checked {
												border-color: #00aaa6;
												background-color: #00aaa6;
											}
										}
										span {
											color: #fff;
											font-size: 14px;
											font-weight: 400;
											line-height: 14px;
										}
									}
								}
							}
						}
					}

					.custom_input_box {
						label {
							color: #fff;
							/* Overline */
							font-size: 10px;
							font-style: normal;
							font-weight: 600;
							line-height: 13.5px;
							letter-spacing: 2px;
							text-transform: uppercase;
							text-align: center;
							margin-bottom: 16px;
							width: 100%;
						}

						> div {
							position: relative;

							svg {
								position: absolute;
								right: 16px;
								top: 50%;
								transform: translateY(-50%);
								-webkit-transform: translateY(-50%);
								-moz-transform: translateY(-50%);
								-ms-transform: translateY(-50%);
								-o-transform: translateY(-50%);
								max-width: 20px;
								max-height:20px;
							}
							input {
								width: 300px;
								height: 40px;
								border: 1px solid #ffffff;
								border-radius: 1000px;
								padding: 2px 50px 0 16px;
								background-color: transparent;
								color: #fff;
								font-size: 14px;
								font-weight: 400;

								&::placeholder {
									font-size: 14px;
									color: #fff;
									font-weight: 300;
								}

								&:focus {
									background-color: transparent !important;
								}
								@include mq(991) {
									width: 180px;
								}
							}
							.search-close {
								color: #8c8f8f;
							}
						}
					}

					> button {
						border: 1px solid #ffffff;
						background-color: transparent;
						border-radius: 1000px;
						align-items: center;
						padding: 0 16px;
						height: 44px;
						display: flex;
						font-style: normal;
						font-weight: 400;
						font-size: 10px;
						color: #ffffff;
					}
				}
			}
		}

		.d-lg_none {
			@include mqm(1050) {
				display: none !important;
			}
		}
		.d-lg_block {
			@include mqm(1050) {
				display: block !important;
			}
		}
		.news_selectbox_backdrop {
			position: fixed !important;
			width: 100vw;
			height: 100vh;
			top: 0;
			left: 0;
			z-index: 1000;
		}
	}

	.responsive_wrapper {
		background: #f0f2f2;
		overflow: hidden;
		position: sticky;
		top: 0;
		z-index: 1001;
		height: 72px;
		transition: all 0.3s ease-in;
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		-ms-transition: all 0.3s ease-in;
		-o-transition: all 0.3s ease-in;
		.filter_nav {
			position: sticky;
			top: 0;
			z-index: 10;
			background: #f0f2f2;
			height: 72px;
			span {
				color: #000;
				font-size: 16px;
				font-weight: 500;
				line-height: 21.6px; /* 135% */
				letter-spacing: -0.32px;
			}
			svg {
				max-width: 20px;
				max-height: 20px;
			}
		}
		.buttons {
			.n-btn {
				font-size: 10px;
				font-style: normal;
				font-weight: 400;
				line-height: 120%; /* 12px */
				padding: 13px 16px 11px;
				align-items: center;
				justify-content: space-between;
				min-width: 120px;
				span {
					font-size: 10px;
					font-style: normal;
					font-weight: 400;
					line-height: 120%; /* 12px */
				}
				svg {
					max-width: 12px;
					max-height: 12px;
				}
			}
			.outline-black {
				span {
					transition: inherit;
				}
				&:hover {
					span {
						color: #fff;
					}
				}
				&:disabled {
					border: 1px solid #ababb0 !important;
					color: #ababb0 !important;
					background-color: transparent !important;
				}
			}
		}
		&.open {
			height: 520px;
			border-radius: 0 0 12px 12px;
		}
		&.shortcut {
			height: 116px;
			border-radius: 0 0 12px 12px;
			.filter_shorcuts {
				overflow-x: auto;
				padding-bottom: 12px;
				.buttons {
					width: fit-content;
					padding: 0 12px;
					button,
					span {
						white-space: nowrap !important;
					}
				}
			}
		}

		.news_responsive {
			position: sticky;
			top: 72px;
			z-index: 100;
			.clear__all_filter_button {
				display: flex;
				margin-bottom: 16px;
				gap: 8px;

				button {
					background: transparent;
					display: flex;
					border: none;
					height: 50px;
					padding: 16px;
					gap: 16px;
					border-radius: 1000px;
					align-items: center;
					justify-content: space-between;
					-webkit-border-radius: 1000px;
					-moz-border-radius: 1000px;
					-ms-border-radius: 1000px;
					-o-border-radius: 1000px;
					color: #fff;
					font-size: 10px;
					font-style: normal;
					font-weight: 400;
					line-height: 120%;
					&:first-child {
						background: #000;
					}
					&:nth-child(2) {
						background: #00aaa6;
					}
				}
			}

			ul {
				list-style: none;
				display: flex;
				gap: 16px;
				padding: 0;
				overflow: auto;
				margin-bottom: 0;
				li {
					button {
						display: flex;
						padding: 16px;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						height: 50px;
						border-radius: 1000px;
						border: 1px solid #000;
						background: transparent;
						font-size: 10px;
						font-style: normal;
						font-weight: 400;
						line-height: 120%;
						white-space: nowrap !important;
					}
				}
			}
		}
		.responsive_modal {
			width: 100%;
			height: calc(100% - 130px);
			overflow: auto;
			background: #fff;
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
			-o-transition: all 0.3s;
			.search_field {
				width: 100%;
				border-radius: 1000px;
				border: 1px solid #f0f2f2;
				display: flex;
				padding: 7px 16px;
				input {
					width: 100%;
					border: none;
					color: #000;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 18.9px; /* 135% */
					position: relative;
					&:focus {
						box-shadow: none;
						border: none;
					}
					&::placeholder {
						color: #000;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 18.9px; /* 135% */
						position: absolute;
						top: 0px;
					}
				}
				svg {
					max-width: 20px;
					max-height: 20px;
				}

			}
			.search_list {
				width: 100%;
				max-height: 120px;
				overflow: auto;
				padding: 0 16px;
				margin: 0;
				list-style: none;
				.search_item {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 8px 0;
					div {
						color: #000;
						font-size: 14px;
						font-weight: 400;
						line-height: 14px; /* 135% */
						margin-bottom: -4px;
					}
					.search_radio {
						display: flex;
						width: 13px;
						height: 13px;
						min-width: 13px;
						min-height: 13px;
						border-radius: 1000px;
						border: 1px solid #000;
						position: relative;
						padding: 0;
						div {
							display: block;
							position: absolute;
							left: 1px;
							top: 1px;
							background-color: #00aaa6;
							width: 9px;
							height: 9px;
							min-width: 9px;
							min-height: 9px;
							border-radius: 1000px;
						}
					}
				}
			}
			.buttons {
				display: flex;
				justify-content: space-between;
				padding: 12px 17px;
				border-bottom: 1px solid #c7c7c9;
				button {
					display: flex;
					border: none;
					background: transparent;
					height: fit-content;

					&:first-child {
						background: #00aaa6;
						height: 50px;
						padding: 16px;
						gap: 16px;
						border-radius: 1000px;
						align-items: center;
						justify-content: space-between;
						-webkit-border-radius: 1000px;
						-moz-border-radius: 1000px;
						-ms-border-radius: 1000px;
						-o-border-radius: 1000px;
						color: #fff;
						font-size: 10px;
						font-style: normal;
						font-weight: 400;
						line-height: 120%;
					}
				}
			}
			.filters {
				overflow: auto;
				.filter_drop_down {
					border-top: 1px solid #f0f2f2;
					padding: 16px;
					cursor: pointer;
					.name_button {
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding: 5px 0;
						h6 {
							margin: 0;
							margin-bottom: -5px;
							color: #000;
							font-size: 14px;
							font-style: normal;
							font-weight: 500;
							line-height: 18.9px; /* 135% */
							letter-spacing: -0.28px;
							text-transform: capitalize;
						}

						svg {
							width: 10px;
							height: 5px;
							transition: all 0.3s;

							-webkit-transition: all 0.3s;
							-moz-transition: all 0.3s;
							-ms-transition: all 0.3s;
							-o-transition: all 0.3s;
							transform: rotate(-90deg);
							-webkit-transform: rotate(-90deg);
							-moz-transform: rotate(-90deg);
							-ms-transform: rotate(-90deg);
							-o-transform: rotate(-90deg);
							path {
								fill: #000;
							}
						}
						&.drop_down_is_open {
							svg {
								transform: rotate(0deg);
								-webkit-transform: rotate(0deg);
								-moz-transform: rotate(0deg);
								-ms-transform: rotate(0deg);
								-o-transform: rotate(0deg);
							}
						}
					}
					.filter_list {
						overflow: hidden;
						transition: all 0.5s;
						padding: 0 16px;

						-webkit-transition: all 0.5s;
						-moz-transition: all 0.5s;
						-ms-transition: all 0.5s;
						-o-transition: all 0.5s;
						> ul {
							padding: 0;
							margin: 16px 0 0;
							li {
								padding: 8px 0;
								display: flex;
								align-items: center;
								justify-content: space-between;
								> div {
									position: relative;
									&.square {
										.hidden {
											border-radius: 3px;
										}
										.svg {
											background-color: #00aaa6;
											border-radius: 3px;
											overflow: hidden;
											justify-content: center;
											align-items: center;
											svg {
												width: 9px;
												height: 9px;
											}
										}
									}
									input {
										position: absolute;
										opacity: 0;
										top: 4px;
									}

									.hidden {
										width: 13px;
										height: 13px;
										display: inline-block;
										border-radius: 1000px;
										border: 1px solid #000;

										svg {
											width: 13px;
											height: 13px;
										}
									}
									input:checked ~ .hidden {
										display: none;
									}
									.svg {
										display: none;
										width: 13px;
										height: 13px;
										svg {
											width: 13px;
											height: 13px;
										}
									}
									input:checked ~ .svg {
										display: flex !important;
									}
								}

								label,
								label * {
									color: #000;
									font-size: 12px;
									font-style: normal;
									font-weight: 400;
									line-height: 16.2px;
								}
							}
						}
					}
				}
			}
		}
	}
}
