.news_room_news_box {
	.items {
		margin-top: 96px;
		max-width: 1090px;
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
	}

	.view_archive {
		width: fit-content;
		text-decoration: none;
		display: flex;
		align-items: center;
		margin: 96px auto;
		height: 51px;
		border: 1px solid #000000;
		border-radius: 1000px;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		padding: 0 16px;
		text-align: center;
		color: #000000;
	}
}

.news_room_main_news_item {
	background: #f0f2f2;
	box-shadow: 0px 10px 16px rgba(20, 37, 63, 0.06);
	border-radius: 50px;
	overflow: hidden;
	&.horizontal {
		width: 100%;
		height: 622px;
		display: flex;
		@include mq(768) {
			flex-direction: column;
			width: calc(50% - 16px);
			height: auto;
		}
		@include mq(550) {
			width: 100% !important;
		}
		> div {
			width: 50% !important;
			@include mq(768) {
				width: 100% !important;
			}
		}
		.text {
			padding: 64px;
			@include mq(768) {
				padding: 32px;
			}
			h2 {
				font-style: normal;
				font-weight: 400;
				font-size: 34px;
				line-height: 42px;
				color: #000000;
				@include mq(768) {
					font-size: 24px;
					line-height: 30px;
					margin: 41px 0;
				}
			}
		}
	}
	&.vertical {
		display: flex;
		flex-direction: column;
		width: calc(50% - 16px);
		@include mq(550) {
			width: 100% !important;
		}
		.text {
			padding: 32px 64px;
			@include mq(768) {
				padding: 32px;
			}
			h2 {
				margin: 41px 0;
				font-style: normal;
				font-weight: 400;
				font-size: 24px;
				line-height: 30px;
				color: #000000;
			}
		}
	}

	&.three_item {
		width: calc(33.3333% - 16px) !important;
		@include mq(768) {
			flex-direction: column;
			width: calc(50% - 16px) !important;
			height: auto;
		}
		@include mq(550) {
			width: 100% !important;
		}
		.image {
			@include mq(768) {
				height: 268px !important;
			}
		}
		.text {
			padding: 24px 32px;
			@include mq(768) {
				padding: 32px;
			}
			.subject {
				font-size: 10px;
			}
			h2 {
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				color: #000000;
				margin: 14px 0;
				@include mq(768) {
					font-size: 24px;
					line-height: 30px;
					margin: 41px 0;
				}
			}

			.date {
				font-size: 12px;
			}
		}
	}
	.text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		span {
			font-style: normal;
			color: #ababb0;
		}
		.subject {
			font-weight: 400;
			font-size: 10px;
			line-height: 14px;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			font-size: 10px;
		}
		.date {
			font-weight: 400;
			font-size: 12px;
		}
	}
}

.news_room_search_filter {
	background: #232323;

	> div {
		max-width: 1090px;
		> div {
			display: flex;
			align-items: center;
			flex-direction: column;

			@include mqm(980) {
				height: 86px;
				justify-content: space-between;
				flex-direction: row;
			}

			@include mq(980) {
				padding: 40px 0;
			}

			> span {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				color: #00aaa6;

				@include mq(980) {
					margin-bottom: 32px;
				}
			}

			> div {
				display: flex;
				align-items: center;
				gap: 16px;
				overflow: hidden;
				transition: all 0.3s;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-ms-transition: all 0.3s;
				-o-transition: all 0.3s;

				@include mq(980) {
					flex-direction: column;
					gap: 32px;
				}

				.select_box_custom {
					position: relative;

					@include mq(980) {
						width: 220px;
					}

					> span {
						font-weight: 400;
						font-size: 16px;
						line-height: 22px;
						color: #ffffff;
						padding: 16px;
						gap: 32px;
						min-width: 117.08px;
						height: 54px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						line-height: 0;
						border: 1px solid #ffffff;
						border-radius: 1000px;

						@include mq(980) {
							font-size: 14px;
						}
					}
					> div {
						display: none;
					}
					&:hover {
						> div {
							display: inline-block;
							position: absolute;
							top: 100%;
							left: 0;
							width: 100%;
							padding-top: 10px;
							z-index: 2;

							ul {
								padding: 0;
								list-style: none;
								background-color: #fff;
								border-radius: 10px;
								-webkit-border-radius: 10px;
								-moz-border-radius: 10px;
								-ms-border-radius: 10px;
								-o-border-radius: 10px;
								overflow: hidden;
								box-shadow: 0 10px 15px rgba($color: #000000, $alpha: 0.3);

								li {
									button {
										padding: 15px 20px;
										background-color: transparent;
										width: 100%;
										text-align: left;
										border: none;

										&.active {
											background-color: #00aaa6;
											color: #fff;
											&:hover {
												background-color: #00aaa6;
											}
										}

										&:hover {
											background-color: #f0f2f2;
										}
									}
								}
							}
						}
					}
				}
				.product_select_box {
					width: 300px;
					@include mq(980) {
						width: 220px;
					}
				}
				.custom_input_box {
					position: relative;

					svg {
						position: absolute;
						right: 16px;
						top: 50%;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						path {
							stroke: #ffffff;
						}
					}
					input {
						width: 300px;
						height: 52px;
						border: 1px solid #ffffff;
						border-radius: 1000px;
						padding: 0 50px 0 16px;
						background-color: transparent;
						color: #8c8f8f;

						@include mq(980) {
							width: 220px;
							font-size: 14px;
						}

						&:focus {
							background-color: transparent !important;
						}
					}
				}

				> button {
					border: 1px solid #ffffff;
					background-color: transparent;
					border-radius: 1000px;
					align-items: center;
					padding: 0 16px;
					height: 44px;
					display: flex;
					font-style: normal;
					font-weight: 400;
					font-size: 10px;
					color: #ffffff;

					@include mqm(980) {
						display: none;
					}
				}
			}

			> button {
				background-color: transparent;
				display: flex;
				font-weight: 400;
				font-size: 12px;
				border: none;
				align-items: center;
				line-height: 17px;
				color: #ffffff;
				margin-top: 40px;
				gap: 10px;
				padding: 0;
				@include mqm(980) {
					display: none;
				}

				&.close_button {
					margin: 0;

					svg {
						transform: rotate(0deg);
						-webkit-transform: rotate(0deg);
						-moz-transform: rotate(0deg);
						-ms-transform: rotate(0deg);
						-o-transform: rotate(0deg);
					}
				}

				svg {
					width: 10px;
					height: 6px;
					transform: rotate(180deg);
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-ms-transform: rotate(180deg);
					-o-transform: rotate(180deg);
				}
			}
		}
	}
}
