.news_single_slider {
	margin-bottom:0px;
	@include mq(768) {
		margin-bottom:0px;
	}
	.splide__list{
		.slider_item{
			.buttons{
				margin-top:13px;
			}
		}
	}
	.slider_item {
		height: 0;
		padding-top: 39.8%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 110px;
		position: relative;
		img {
			object-fit: cover;
		}
		@include mq(768) {
			padding-top: 0;
			height: 430px;
		}
		&::after {
			content: ' ';
			display: flex;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			background: linear-gradient(
				189.34deg,
				rgba(34, 31, 32, 0) 59.24%,
				rgba(34, 31, 32, 0.9) 94.19%
			);
		}

		&.resize {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
		}
		.background {
			position: absolute !important;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.buttons {
			display: flex;
			align-items: center;
			position: absolute;
			right: 50px;
			top: 40px;
			gap: 16px;
			z-index: 55;
			@include mq(768) {
				top: 50px;
				right: 50%;
				transform: translateX(50%);
				width: 300px;
				justify-content: center;
			}

			a,
			button {
				position: relative;
				z-index: 100;
				display: flex;
				align-items: center;
				text-decoration: none;
				border-radius: 1000px;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 14px;
				text-align: center;
				gap: 0px;
				border: 1px solid #000;
				border-radius: 50px;
				min-width:185px;
				padding: 12px 16px ;
				height: 34px;
				background-color:#fff;
				@include mq(768) {
					font-size: 12px !important;
					line-height: 12px !important;
					padding: 8px 16px 6px !important;
					height: 28px;
				}
				svg {
					max-width: 24px;
					max-height: 18px;
					transition: inherit;
					path {
						transition: inherit;
						fill: #000;
					}
				}
				// &:hover {
				// 	background-color: #000;
				// 	color: #fff;
				// 	border-color: #000;
				// 	svg {
				// 		path {
				// 			fill: #fff;
				// 			stroke: #fff;
				// 		}
				// 	}

				// }
			}
			a {
				svg {
					path {
						stroke: #000;
						stroke-width: 0.3;
					}
				}
			}
		}

		h6 {
			position: absolute;
			padding: 0 16px;
			bottom: 32px;
			left: 0;
			width: 100%;
			text-align: center;
			font-weight: 300;
			font-size: 12px;
			z-index: 1;
			line-height: 16px;
			color: #ffffff;
			margin: 0;
			@include mq(768) {
				bottom: 12px !important;
			}
		}
	}

	.splide__pagination {
		bottom: -44px;
		gap: 4px;
		@include mq(768) {
			bottom: -32px;
		}
		li {
			width: fit-content;
			.splide__pagination__page {
				margin: 0;
				width: 10px;
				height: 10px;
				// pointer-events: none;
				background: rgba(0, 0, 0, 0.25);
				border-radius: 1000px;
				transition: all 0.3s;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-ms-transition: all 0.3s;
				-o-transition: all 0.3s;
				&.is-active {
					background: #00aaa6;
					transform: scale(1);
				}
			}
		}
	}
	.splide__arrow--prev {
		right: 106px;
		left: unset;
		padding-right: 7px;
	}
	.splide__arrow--next {
		left: unset;
		right: 50px;
		padding-left: 7px;
	}
	.splide__arrow--prev,
	.splide__arrow--next {
		top: unset;
		bottom: -76px;
		padding: 0;
		width: 40px;
		height: 40px;
		z-index: 11;
		opacity: 1;
		background: #00aaa6;
		border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		-ms-border-radius: 100%;
		-o-border-radius: 100%;
		@include mqm(768) {
			transform: translateY(-50%);
		}
		@include mq(768) {
			display: none;
		}
		svg {
			width: 18px;
			height: 18px;
			path {
				fill: #ffffff;
			}
		}
		&:hover:not(:disabled) {
			opacity: 1;
		}
		&:disabled {
			background: #00aaa6 !important;
			opacity: 0.3;
		}
	}
	.splide__arrows {
		&.hide {
			display: none;
		}
	}
}

.news_single_slider_resize_image {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999999999;
	display: flex;
	justify-content: flex-end;
	padding: 20px;
	width: 100vw;
	height: 100vh;
	background-color: #00000096;
	.react-transform-wrapper {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		img {
			object-fit: contain !important;
			width: 100%;
			height: 100%;
			cursor: e-resize;
		}
	}

	button {
		display: flex;
		align-items: center;
		padding: 0 16px;
		height: 52px;
		width: 52px;
		border: 1px solid #ffffff;
		border-radius: 1000px;
		background-color: transparent;
		z-index: 2;

		svg {
			path {
				stroke: #fff;
				fill: #fff;
			}
		}
	}
}
