.news_room_slider {
	// padding-top: 87px;
	height: 700px;
	// padding-bottom: 124px;

	@include mq(768) {
		height: 390px;
	}
	h3 {
		font-style: normal;
		font-weight: 400;
		font-size: 48px;
		text-align: center;
		color: #000000;
		margin-bottom: 62px;
		@include mq(768) {
			font-size: 34px;
			line-height: 42px;
		}
	}
	.news_room_slider_box {
		height: 700px;
		@include mq(768) {
			height: 390px;
		}

		.splide__slide {
			width: 100%;
			// max-width: 1112px;
			// padding-bottom: 35px;
			height: 700px;
			@include mq(768) {
				height: 390px;
			}

			.slider_item {
				height: 0px;
				@include mq(768) {
					height: 390px;
				}
				// border-radius: 50px;
				position: relative;
				overflow: hidden;
				position: relative;
				height: 700px;
				.slider_bg {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					.bg img {
						object-fit: cover;
					}
				}
				.slider_content {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					z-index: 2;
					width: 100%;
					left: 0;
					text-align: center;
					display: flex;
					justify-content: center;
					align-items: end;
					// padding-bottom: 77px;
					// @include mq(768) {
					// 	padding-bottom: 32px;
					// }
					* {
						width: 100%;
					}
					a {
						width: fit-content;
						margin: 0 auto;
					}
				}
				&::after {
					content: ' ';
					position: absolute;
					top: 0;
					z-index: 1;
					left: 0;
					display: flex;
					width: 100%;
					height: 100%;
					background: linear-gradient(
						180deg,
						rgba(34, 31, 32, 0) 0%,
						rgba(34, 31, 32, 0.9) 100%
					);
				}

				> div {
					position: relative;
					z-index: 1;
					display: flex;
					flex-direction: column;
					align-items: center;
					h5 {
						font-style: normal;
						font-weight: 400;
						font-size: 48px;
						line-height: 56px;
						text-align: center;
						color: #ffffff;
						margin-bottom: 32px;
						@include mq(768) {
							margin-bottom: 16px;
							font-size: 34px;
							line-height: 42px;
						}
					}
					h6 {
						font-style: normal;
						font-weight: 300;
						font-size: 16px;
						line-height: 22px;
						text-align: center;
						color: #ffffff;
						margin-bottom: 32px;
						@include mq(768) {
							margin-bottom: 16px;
						}
					}
					a {
						border: 1px solid #ffffff;
						text-decoration: none;
						width: fit-content;
						border-radius: 1000px;
						height: 51px;
						padding: 0 16px;
						display: flex;
						align-items: center;
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						color: #ffffff;
					}
				}
			}

			.subheading {
				font-weight: 400;
				font-size: 48px;
				line-height: 56px;
				color: #000000;
				margin-top: 45px;
				@include mq(768) {
					font-size: 34px;
					line-height: 42px;
					margin-top: 24px;
				}
			}
		}

		.splide__pagination {
			bottom: 79px;
			@include mq(768) {
				bottom: 32px;
			}
			li {
				width: fit-content;
				.splide__pagination__page {
					width: 98px;
					height: 5px;
					// pointer-events: none;
					background: #8c8f8f;
					border-radius: 1000px;
					transition: all 0.3s;
					-webkit-transition: all 0.3s;
					-moz-transition: all 0.3s;
					-ms-transition: all 0.3s;
					-o-transition: all 0.3s;
					@include mq(768) {
						width: 40px;
					}
					&.is-active {
						background: #00aaa6;
						width: 210px;
						transform: scale(1);
						@include mq(768) {
							width: 70px;
						}
					}
				}
			}
		}
		.splide__arrow--prev {
			left: calc(200px + 9%);
			padding-right: 7px;
			@include mq(1920) {
				left: calc(130px + 3%);
			}
			@include mq(1440) {
				left: calc(30px + 6%);
			}
			@include mq(768) {
				left: calc(12px + 3%);
				padding-right: 2px;
			}
		}
		.splide__arrow--next {
			right: calc(200px + 9%);
			padding-left: 7px;
			@include mq(1920) {
				right: calc(130px + 3%);
			}
			@include mq(1440) {
				right: calc(30px + 6%);
			}
			@include mq(768) {
				right: calc(12px + 3%);
				padding-left: 2px;
			}
		}
		.splide__arrow--prev,
		.splide__arrow--next {
			padding: 0;
			width: 75px;
			height: 75px;
			z-index: 11;
			background: #00aaa6;
			border-radius: 100%;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			-ms-border-radius: 100%;
			-o-border-radius: 100%;
			@include mqm(768) {
				transform: translateY(-50%);
			}
			@include mq(768) {
				width: 36px;
				height: 36px;
				top: unset !important;
				bottom: 0 !important;
			}
			svg {
				width: 24px;
				height: 24px;
				@include mq(768) {
					width: 16px;
					height: 16px;
				}
				path {
					fill: #ffffff;
				}
			}
		}
		.splide__arrows {
			&.hide {
				display: none;
			}
		}
	}
}
