.news_single_slider {
	.slider_item {
		height: 0;
		padding-top: 39.8%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 110px;
		position: relative;
		img {
			object-fit: cover;
		}
		@include mq(768) {
			padding-top: 0;
			height: 430px;
		}
		&::after {
			content: ' ';
			display: flex;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			background: linear-gradient(
				189.34deg,
				rgba(34, 31, 32, 0) 59.24%,
				rgba(34, 31, 32, 0.9) 94.19%
			);
		}

		&.resize {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
		}
		.background {
			position: absolute !important;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.buttons {
			display: flex;
			align-items: center;
			position: absolute;
			right: 75px;
			top: 65px;
			gap: 26px;
			z-index: 22;
			@include mq(768) {
				right: 15px;
				top: 25px;
			}

			a,
			button {
				display: flex;
				align-items: center;
				text-decoration: none;
				padding: 0 16px;
				gap: 16px;
				height: 52px;
				border: 1px solid #ffffff;
				border-radius: 1000px;
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				text-align: center;
				letter-spacing: -0.02em;
				color: #ffffff;
				background-color: transparent;
				@include mq(768) {
					font-size: 12px;
					line-height: 12px;
					padding: 12px !important;
					gap: 8px;
				}
				svg {
					transition: inherit;
					path {
						transition: inherit;
						stroke: #fff;
						fill: #fff;
					}
				}
				&:hover {
					svg {
						path {
							stroke: #000;
							fill: #000;
						}
					}
				}
			}
		}

		h6 {
			font-weight: 300;
			font-size: 12px;
			position: relative;
			z-index: 1;
			line-height: 16px;
			color: #ffffff;
		}
	}

	.swiper-pagination {
		bottom: 60px !important;
			@include mq(768) {
				bottom: 32px !important;
			}
		.swiper-pagination-bullet {
			width: 98px;
			height: 5px;
			@include mq(768) {
				width: 40px;
			}
			pointer-events: none;
			background: #8c8f8f;
			border-radius: 1000px;
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
			-o-transition: all 0.3s;
		}
		.swiper-pagination-bullet-active {
			background: #00aaa6;
			width: 210px;
			@include mq(768) {
				width: 70px;
			}
		}
	}
	.swiper-button-prev {
		left: 164px;
		padding-right: 6px;
		padding-top: 4px;
		@include mq(768) {
			left: 7%;
				padding-right: 2px;

		}
	}
	.swiper-button-next {
		right: 164px;
		padding-left: 6px;
		padding-top: 4px;
		@include mq(768) {
			right: 7%;
				padding-left: 2px;

		}
	}
	.swiper-button-prev,
	.swiper-button-next {
		// width: 75px;
		// height: 75px;
		// @include mq(768) {
		// 	width: 55px;
		// 	height: 55px;
		// }
		width: 75px;
		z-index: 11;
		height: 75px;
		background: #00aaa6;
		border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		-ms-border-radius: 100%;
		-o-border-radius: 100%;
		&::after {
			color: #ffffff;
			font-size: 30px;
			font-weight: 900;
			@include mq(768) {
					font-size: 16px;
				}
		}
		@include mqm(768) {
				transform: translateY(-50%);
			}
			@include mq(768) {
				width: 50px;
				height: 50px;
				top: unset !important;
				bottom: 20px !important;
			}
	}
}

.news_single_slider_resize_image {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	z-index: 999999999;
	display: flex;
	justify-content: flex-end;
	padding: 20px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	button {
		display: flex;
		align-items: center;
		padding: 0 16px;
		height: 52px;
		width: 52px;
		border: 1px solid #ffffff;
		border-radius: 1000px;
		background-color: transparent;

		svg {
			path {
				stroke: #fff;
				fill: #fff;
			}
		}
	}
}
