.news_room_slider {
	// padding-top: 87px;
	height: 772px;
	padding-bottom: 72px;

	@include mq(768) {
		height: 598px;
		padding-bottom: 48px;
	}
	h3 {
		font-style: normal;
		font-weight: 400;
		font-size: 48px;
		text-align: center;
		color: #000000;
		margin-bottom: 62px;
		@include mq(768) {
			font-size: 34px;
			line-height: 42px;
		}
	}
	.news_room_slider_box {
		height: 700px;
		@include mq(768) {
			height: 550px;
		}

		.splide__slide {
			width: 100%;
			// max-width: 1112px;
			// padding-bottom: 35px;
			height: 700px;
			@include mq(768) {
				height: 550px;
			}

			.slider_item {
				height: 0px;
				@include mq(768) {
					height: 550px;
				}
				// border-radius: 50px;
				position: relative;
				overflow: hidden;
				position: relative;
				height: 700px;
				.slider_bg {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					img {
						object-fit: cover;
						width: 100%;
						height: 100%;
					}
				}
				.slider_content {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					z-index: 2;
					width: 100%;
					left: 0;
					text-align: center;
					display: flex;
					justify-content: center;
					align-items: end;
					// padding-bottom: 77px;
					// @include mq(768) {
					// 	padding-bottom: 32px;
					// }
					* {
						width: 100%;
					}
					a {
						width: fit-content;
						margin: 0 auto;
					}
				}
				&::after {
					content: ' ';
					position: absolute;
					top: 0;
					z-index: 1;
					left: 0;
					display: flex;
					width: 100%;
					height: 100%;
					background: linear-gradient(
						180deg,
						rgba(34, 31, 32, 0) 0%,
						rgba(34, 31, 32, 0.9) 100%
					);
				}

				> div {
					position: relative;
					z-index: 1;
					display: flex;
					flex-direction: column;
					align-items: center;
					h5 {
						font-style: normal;
						font-weight: 400;
						font-size: 48px;
						line-height: 56px;
						text-align: center;
						color: #ffffff;
						margin-bottom: 32px;
						@include mq(768) {
							margin-bottom: 16px;
							font-size: 34px;
							line-height: 42px;
						}
					}
					h6 {
						font-style: normal;
						font-weight: 300;
						font-size: 16px;
						line-height: 22px;
						text-align: center;
						color: #ffffff;
						margin-bottom: 32px;
						@include mq(768) {
							margin-bottom: 16px;
						}
					}
					a {
						background-color: #ffffff;
						border: 1px solid #ffffff;
						text-decoration: none;
						width: fit-content;
						border-radius: 1000px;
						padding: 0 16px;
						display: flex;
						align-items: center;
						font-style: normal;
						font-weight: 400;
						color: #000;
						min-width: 80px !important;
						padding: 9px 16px 6px !important;
						font-size: 14px;
						line-height: 17px;
					}
				}
			}

			.subheading {
				font-weight: 400;
				font-size: 48px;
				line-height: 56px;
				color: #000000;
				margin-top: 45px;
				@include mq(768) {
					font-size: 34px;
					line-height: 42px;
					margin-top: 24px;
				}
			}
		}

		.splide__pagination {
			bottom: -44px;
			gap: 4px;
			@include mq(768) {
				bottom: -32px;
			}
			li {
				width: fit-content;
				.splide__pagination__page {
					margin: 0;
					width: 10px;
					height: 10px;
					// pointer-events: none;
					background: rgba(0, 0, 0, 0.25);
					border-radius: 1000px;
					transition: all 0.3s;
					-webkit-transition: all 0.3s;
					-moz-transition: all 0.3s;
					-ms-transition: all 0.3s;
					-o-transition: all 0.3s;
					&.is-active {
						background: #00aaa6;
						transform: scale(1);
					}
				}
			}
		}
		.splide__arrow--prev {
			right: 106px;
			left: unset;
			padding-right: 7px;
		}
		.splide__arrow--next {
			left: unset;
			right: 50px;
			padding-left: 7px;
		}
		.splide__arrow--prev,
		.splide__arrow--next {
			top: unset;
			bottom: -76px;
			padding: 0;
			width: 40px;
			height: 40px;
			z-index: 11;
			opacity: 1;
			background: #00aaa6;
			border-radius: 100%;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			-ms-border-radius: 100%;
			-o-border-radius: 100%;
			@include mqm(768) {
				transform: translateY(-50%);
			}
			@include mq(768) {
				display: none;
			}
			svg {
				width: 18px;
				height: 18px;
				path {
					fill: #ffffff;
				}
			}
			&:hover:not(:disabled) {
				opacity: 1;
			}
			&:disabled {
				background: #00aaa6 !important;
				opacity: 0.3;
			}
		}
		.splide__arrows {
			&.hide {
				display: none;
			}
		}
	}
}
