.news_single_info_box {
	padding: 16px;

	.content {
		margin: 0 auto 62px;
		max-width: 632px;
		border-radius: 25px;
		padding: 32px;
		border: 1px solid #c7c7c9;
		@include mq(768) {
			padding: 32px 16px;
		}
		.media {
			display: flex;
			gap: 8px 32px;
			padding: 0 32px;
			align-items: center;
			margin-bottom: 32px;
			@include mq(768) {
				flex-wrap: wrap;
				padding: 0 16px;
			}
			> span {
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				color: #000000;
				opacity: 0.6;
			}

			ul {
				list-style: none;
				padding: 0;
				display: flex;
				gap: 16px;
				align-items: center;
				margin: 0;

				li {
					margin: 0;
					button {
						background-color: transparent;
						padding: 0;
						border: none;
					}
					a {
						svg {
							path {
								stroke: #00cccc;
								fill: #00cccc;
							}
						}
					}
				}
			}
		}

		.download_box {
			padding: 32px;
			background: #103a42;
			border-radius: 25px;
			display: flex;
			list-style: none;
			gap: 16px;
			margin-bottom: 48px;
			flex-wrap: wrap;
			@include mq(575) {
				padding: 32px 16px;
			}
			li {
				width: 100%;
				a {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 16px;
					text-decoration: none;
					gap: 16px;
					border: 1px solid #ffffff;
					border-radius: 1000px;
					font-style: normal;
					font-weight: 400;
					font-size: 14px !important;
					line-height: 19px;
					color: #ffffff;
					@include mq(575) {
						font-size: 12px !important;
					}
					svg {
						path {
							stroke: #fff;
							fill: #fff;
						}
					}
					&:hover {
						color: #fff;
					}
				}
			}
		}

		.info {
			display: flex;
			padding: 0 24px;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: flex-start;
			gap: 32px;
			@include mq(768) {
				flex-wrap: wrap;
				padding: 0 16px;
			}

			> div {
				width: 50%;
				@include mq(768) {
					width: 100%;
				}

				> h5 {
					margin-bottom: 32px;
					font-weight: 400;
					font-size: 16px;
					line-height: 22px;
					color: #000000;
					@include mq(768) {
						margin-bottom: 16px;
					}
				}

				p {
					strong {
						font-weight: 400;
						font-size: 16px;
						line-height: 22px;
					}
					font-style: normal;
					font-weight: 300;
					font-size: 12px !important;
					line-height: 16px !important					;
					color: #000000;
					margin-bottom: 12px;
					word-break: break-all;
					margin-bottom: 6px;
					&:last-child {
						margin: 0 !important;
					}
				}

				&:first-child > div {
					display: flex;
					gap: 8px;
				}
				> div {
					width: 100%;
					@include mq(575) {
						flex-wrap: wrap;
					}
					> div {
						width: 50%;
						@include mq(575) {
							width: 100% !important;
						}
						&:first-child {
							margin-bottom: 16px;
						}
						h6 {
							font-weight: 400;
							font-size: 20px;
							line-height: 25px;
							color: #000000;
						}
						ul {
							padding: 0;
							list-style: none;
							li {
								font-weight: 300;
								font-size: 16px;
								line-height: 22px;
								color: #000000;
							}
						}
					}
				}
			}
		}
	}
}
