.news_single_slider {
	.slider_item {
		height: 0;
		padding-top: 39.8%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 110px;
		position: relative;
		img {
			object-fit: cover;
		}
		@include mq(768) {
			padding-top: 0;
			height: 430px;
		}
		&::after {
			content: ' ';
			display: flex;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			background: linear-gradient(
				189.34deg,
				rgba(34, 31, 32, 0) 59.24%,
				rgba(34, 31, 32, 0.9) 94.19%
			);
		}

		&.resize {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
		}
		.background {
			position: absolute !important;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.buttons {
			display: flex;
			align-items: center;
			position: absolute;
			right: 75px;
			top: 65px;
			gap: 26px;
			z-index: 22;
			@include mq(768) {
				right: 15px;
				top: 25px;
			}

			a,
			button {
				display: flex;
				align-items: center;
				text-decoration: none;
				padding: 0 16px;
				gap: 16px;
				height: 52px;
				border: 1px solid #ffffff;
				border-radius: 1000px;
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 22px;
				text-align: center;
				letter-spacing: -0.02em;
				color: #ffffff;
				background-color: rgba(0, 0, 0, 0.2) !important;
				@include mq(768) {
					font-size: 12px;
					line-height: 12px;
					padding: 12px !important;
					gap: 8px;
				}
				svg {
					transition: inherit;
					path {
						transition: inherit;
						stroke: #fff;
						fill: #fff;
					}
				}
				&:hover {
					background-color: #fff !important;
					svg {
						path {
							stroke: #000;
							fill: #000;
						}
					}
				}
			}
		}

		h6 {
			position: absolute;
			bottom: 32px;
			left: 0;
			width: 100%;
			text-align: center;
			font-weight: 300;
			font-size: 12px;
			z-index: 1;
			line-height: 16px;
			color: #ffffff;
			margin: 0;
			@include mq(768) {
				bottom: 12px !important;
			}
		}
	}

	.splide__pagination {
		bottom: 70px !important;
		@include mq(768) {
			bottom: 32px !important;
		}
		.splide__pagination__page {
			width: 98px;
			height: 5px;
			@include mq(768) {
				width: 40px;
			}
			pointer-events: none;
			background: #8c8f8f;
			border-radius: 1000px;
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-ms-transition: all 0.3s;
			-o-transition: all 0.3s;
			&.is-active {
				background: #00aaa6;
				transform: scale(1);
				width: 210px;
				@include mq(768) {
					width: 70px;
				}
			}
		}
	}
	.splide__arrow--prev {
		left: calc(200px + 9%);
		padding-right: 7px;
		@include mq(1920) {
			left: calc(130px + 3%);
		}
		@include mq(1440) {
			left: calc(30px + 6%);
		}
		@include mq(768) {
			left: calc(12px + 3%);
			padding-right: 2px;
		}
	}
	.splide__arrow--next {
		right: calc(200px + 9%);
		padding-left: 7px;
		@include mq(1920) {
			right: calc(130px + 3%);
		}
		@include mq(1440) {
			right: calc(30px + 6%);
		}
		@include mq(768) {
			right: calc(12px + 3%);
			padding-left: 2px;
		}
	}
	.splide__arrow--prev,
	.splide__arrow--next {
		// width: 75px;
		// height: 75px;
		// @include mq(768) {
		// 	width: 55px;
		// 	height: 55px;
		// }
		width: 75px;
		z-index: 11;
		height: 75px;
		padding: 0;
		background: #00aaa6;
		border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		-ms-border-radius: 100%;
		-o-border-radius: 100%;
		svg {
			width: 24px;
			height: 24px;
			@include mq(768) {
				width: 16px;
				height: 16px;
			}
			path {
				fill: #ffffff;
			}
		}
		@include mqm(768) {
			transform: translateY(-50%);
		}
		@include mq(768) {
			width: 36px;
			height: 36px;
			top: unset !important;
			bottom: 0px !important;
		}
	}
	.splide__arrows {
		&.hide {
			display: none;
		}
	}
}

.news_single_slider_resize_image {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999999999;
	display: flex;
	justify-content: flex-end;
	padding: 20px;
	width: 100vw;
	height: 100vh;
	background-color: #00000096;
	.react-transform-wrapper {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		img {
			object-fit: contain !important;
			width: 100%;
			height: 100%;
			cursor: e-resize;
		}
	}

	button {
		display: flex;
		align-items: center;
		padding: 0 16px;
		height: 52px;
		width: 52px;
		border: 1px solid #ffffff;
		border-radius: 1000px;
		background-color: transparent;
		z-index: 2;

		svg {
			path {
				stroke: #fff;
				fill: #fff;
			}
		}
	}
}
