.news_room_slider {
	padding-top: 87px;
	padding-bottom: 124px;
	h3 {
		font-style: normal;
		font-weight: 400;
		font-size: 48px;
		text-align: center;
		color: #000000;
		margin-bottom: 62px;
		@include mq(768){
			font-size:34px;
			line-height: 42px;
		}
	}
	.news_room_slider_box {
		.swiper-slide {
			width: 77%;
			max-width: 1112px;
			padding-bottom: 35px;

			.slider_item {
				background-image: url('https://thumbs.dreamstime.com/b/nutural-sunset-grass-green-close-up-meadow-sunset-blurred-background-108156303.jpg');
				height: 625.5px;
				@include mq(768){
					height: 360px;
				}
				background-repeat: no-repeat;
				background-size: cover;
				border-radius: 50px;
				display: flex;
				justify-content: center;
				align-items: end;
				padding-bottom: 77px;
				position: relative;
				overflow: hidden;

				&::after {
					content: ' ';
					position: absolute;
					top: 0;
					left: 0;
					display: flex;
					width: 100%;
					height: 100%;
					background: linear-gradient(
						180deg,
						rgba(34, 31, 32, 0) 0%,
						rgba(34, 31, 32, 0.9) 100%
					);
				}

				> div {
					position: relative;
					z-index: 1;
					display: flex;
					flex-direction: column;
					align-items: center;
					h5 {
						font-style: normal;
						font-weight: 400;
						font-size: 48px;
						line-height: 56px;
						text-align: center;
						color: #ffffff;
						margin-bottom: 32px;
						@include mq(768){
							font-size: 34px;
							line-height: 42px;
						}
					}
					h6 {
						font-style: normal;
						font-weight: 300;
						font-size: 16px;
						line-height: 22px;
						text-align: center;
						color: #ffffff;
						margin-bottom: 32px;
					}
					a {
						border: 1px solid #ffffff;
						text-decoration: none;
						width: fit-content;
						border-radius: 1000px;
						height: 51px;
						padding: 0 16px;
						display: flex;
						align-items: center;
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						color: #ffffff;
					}
				}
			}
		}

		.swiper-pagination {
			bottom: -5px;
			.swiper-pagination-bullet {
				width: 98px;
				height: 5px;
				background: #8c8f8f;
				border-radius: 1000px;
				transition: all 0.3s;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-ms-transition: all 0.3s;
				-o-transition: all 0.3s;
			}
			.swiper-pagination-bullet-active {
				background: #00aaa6;
				width: 210px;
			}
		}
		.swiper-button-prev {
			left: 19%;
			@include mq(768){
				left: 8%;
			}
		}
		.swiper-button-next {
			right: 19%;
			@include mq(768){
				right: 8%;
			}
		}
		.swiper-button-prev,
		.swiper-button-next {
			width: 75px;
			top: 44%;
			height: 75px;
			background: #00aaa6;
			border-radius: 100%;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			-ms-border-radius: 100%;
			-o-border-radius: 100%;
			&::after {
				color: #ffffff;
				font-size: 32px;
				font-weight: 900;
			}
		}
	}
}
