.single_news_latest_news {
	background: #006664;
	> div {
		max-width: 1115px;
		@include mqm(992){
			padding: 0;
		}
		> div {
			padding: 80px 0 60px;

			h5 {
				font-weight: 400 !important;
				text-align: center !important;
				font-size: 48px !important;
				line-height: 56px !important;
				color: #ffffff !important;
				margin-bottom: 50px !important;
				@include mq(768) {
					font-size: 34px !important;
					line-height: 42px !important;
				}
				p {
					font-weight: 400 !important;
					text-align: center !important;
					font-size: 48px !important;
					line-height: 56px !important;
					color: #ffffff !important;
					margin-bottom: 50px !important;
					@include mq(768) {
						font-size: 34px !important;
						line-height: 42px !important;
					}
				}
			}

			.items {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				@include mq(991) {
					flex-wrap: wrap;
				}
				gap: 16px;
				margin-bottom: 64px;
				& > div {
					min-width: 361px;
					height: 361px;
					@include mq(768) {
						min-width: 340px;
					}
					@include mq(450) {
						min-width: 290px;
					}
				}
			}

			> a {
				display: flex;
				width: fit-content;
				margin: auto;
				align-items: center;
				padding: 0 16px;
				height: 51px;
				border: 1px solid #ffffff;
				border-radius: 1000px;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 19px;
				color: #ffffff;
				text-decoration: none;
			}
		}
	}
}
