.news_single_description {
	max-width: 1090px;
	margin-top: 62px;
	margin-bottom: 96px;
	padding: 0 60px;
	@include mq(768) {
		padding: 0 12px;
	}
	h5 {
		max-width: 559px;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 25px;
		color: #000000;
		margin-bottom: 32px;
	}
	p {
		max-width: 838px;
		font-weight: 300;
		font-size: 16px;
		line-height: 22px;
		color: #000000;
	}
}
