.ces_cards {
	padding: 150px 12px 85px;
	gap: 24px;
	background-color: #000;

	.custom_container {
		margin: 0 auto;
		max-width: 1440px;
		.title {
			margin-bottom: 55px;
			* {
				font-weight: 400;
				font-size: 60px;
				line-height: 68px;
				letter-spacing: -0.02em;
				color: #ffffff;

				@include mq(768) {
					font-size: 34px;
				}

				u {
					background: linear-gradient(121.77deg, #585eaa 0%, #f0a8a9 84.38%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
				}
			}
		}

		.boxes {
			display: flex;
			flex-wrap: wrap;
			gap: 16px;
			justify-content: center;

			.box {
				width: calc(50% - 8px);
				position: relative;
				height: 0;
				padding-top: 50%;
				border-radius: 50px;
				overflow: hidden;

				.box-background {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					img {
						object-fit: cover;
						height: 100%;
					}
				}

				.box-content {
					position: absolute;
					top: 0;
					left: 0;
					padding: 40px;
					width: 100%;
					height: 100%;
					text-align: start;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					align-items: flex-start;

					.title {
						font-weight: 400;
						font-size: 34px;

						@include mq(768) {
							font-size: 18px;
						}
					}

					img {
						max-width: 300px;
					}
				}

				.box-background-shade {
					background: rgba(34, 31, 32, 0.3);
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}

				&.full-size {
					width: calc(100% - 72px);
					padding-top: 30%;

					.box-content {
						align-items: center;
					}

					a {
						margin: 0 auto;
					}
				}
			}
		}

		.tv-item {
			box-shadow: none;
			transition: all 0.3s ease-in-out;
			border-radius: 50px;

			&:hover {
				box-shadow: 0px 10px 16px rgba(20, 37, 63, 0.06);
			}

			&.full-size {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				padding-top: 40%;
				width: 100%;
				position: relative;

				.content {
					position: absolute;
					text-align: start;
					left: 6%;
					top: 12%;

					.logo {
						display: block;
						width: 65%;
						max-width: 200px;
						margin-bottom: 16px;
					}

					.image {
						display: block;
						width: 100%;
						max-width: 325px;
						margin-bottom: 30px;
					}

					.title {
						font-weight: 400;
						font-size: 34px;
						line-height: 120%;
						letter-spacing: -0.02em;
						color: #232323;
						margin-bottom: 16px;

						* {
							margin: 0;
						}

						&.text-white * {
							color: #fff !important;
						}
					}
				}
			}

			&.block1 {
				.content {
					text-align: center;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);

					.n-btn {
						margin: 0 auto;
					}
				}
			}
		}
	}
}
