.pdp-bg-muted {
	background-color: #ededed;
}
.pdp-spec-info-section {
	padding-top: 100px;
	padding-bottom: 100px;
	&.margin-top {
		margin-top: 130px;
	}
}
.pdp-middle-banner {
	position: relative;
	top: 200px;
	text-align: center;
	max-width: 950px;
	margin: 0 auto;
}

.swiper-slide-thumb-active {
	opacity: 1 !important;
}

.pdp-top-feature-block {
	display: flex;
	justify-content: start;
	align-items: center;
	background-color: #222222;
	border-radius: 10px;
	border: none;
	color: #fff;
	width: 360px;
	padding: 20px;
	margin: 20px;
	div {
		background-color: rgba(240, 240, 240, 0.1);
		border-radius: 50%;
		padding: 5%;
		max-width: 55px;
		max-height: 55px;
		margin-right: 15px;
	}
}

.pdp-fitted-carousel {
	overflow: hidden;

	.swiper-slide {
		height: 600px;
		display: flex;
		> div {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			> div {
				max-width: 700px;
				max-height: 400px;
			}
		}
	}
}

@media (min-width: 1400px) {
	.pdp-spec-info-section {
		h3 {
			&.fs-5tx {
				font-size: 138px !important;
			}
		}
	}
	.pdp-middle-banner {
		top: 250px;
	}
	.pdp-spec-info-section {
		&.margin-top {
			margin-top: 160px;
		}
	}
	.pdp .suggested-products > img {
		padding-top: 100px;
	}
}
@media (max-width: 1200px) {
	.pdp .suggested-products > img {
		padding-top: 60px;
	}
	.pdp .suggested-products::after {
		height: 35%;
	}
}
@media (max-width: 991px) {
	.pdp .suggested-products > img {
		padding-top: 50px;
	}
	.pdp .suggested-products::after {
		height: 30%;
	}
}
@media (max-width: 767px) {
	.pdp .suggested-products::after {
		height: 50%;
	}
	.pdp .close-up-shot {
		width: 140px;
		height: 140px;
	}
	.pdp .close-up-shot.left {
		left: 0px;
	}
}

@media (max-width: 991px) {
	.product-gallery {
		.gallery-thumbs {
			.swiper-slide {
				width: 35%;
			}
		}
	}
}
@media (max-width: 575px) {
	.product-gallery {
		.gallery-thumbs {
			.swiper-wrapper {
				padding: 0;
				height: 200px;
			}
			.swiper-slide {
				width: 100%;
				height: 40%;
			}
		}
	}

	.pdp .middle-banner {
		top: 100px;
	}
	.pdp .spec-info-section.margin-top {
		margin-top: 60px;
	}
	.pdp .suggested-products > img {
		padding-top: 120px;
	}
	.pdp .suggested-products::after {
		height: 45%;
	}
}
@media (max-width: 768px) {
	.product {
		padding: 48px 12px;
	}

	.product-gallery {
		.gallery-thumbs {
			.swiper-slide {
				width: 25%;
			}
		}
	}
}
@media (max-width: 575px) {
	.product-gallery {
		.gallery-top {
			max-height: none;
			img {
				max-height: 320px;
			}
		}
		.gallery-thumbs {
			.swiper-slide {
				width: 25%;
			}
		}
	}
}
@media (max-width: 390px) {
	.product-gallery {
		.gallery-thumbs {
			.swiper-slide {
				width: 35%;
			}
		}
	}
}
