.blog-header {
	overflow: hidden;

	.sea-floating-img {
		position: relative;
		left: 30%;
		transform: translateX(-10%);
		width: 100%;
		max-width: 475px;
		max-height: 475px;
	}
	.tv-floating-img {
		width: 100%;
		max-width: 155px;
		max-height: 155px;
	}
	.sea-floating-img,
	.tv-floating-img {
		border-radius: 10px;
	}

	> .container-fluid {
		position: relative;
	}
	.header-text {
		* {
			// line-height: 10vw;
			// font-size: 7.15vw;
			font-size: 170px;
			line-height: 180px;
			color: #101010;
			font-weight: 400;
		}
		&.header-gradient-text u {
			font-weight: 300;
			background: #95a128;
			background: -webkit-linear-gradient(to right, #a0993a 0%, #ff9900 20%);
			background: -moz-linear-gradient(to right, #a0993a 0%, #ff9900 20%);
			background: linear-gradient(to right, #a0993a 0%, #ff9900 20%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		&.header-gradient-radial-text u {
			font-weight: 300;
			background: #95a128;
			background: -webkit-radial-gradient(circle farthest-side at left center,
				#FF9900 0%,
				#43898A 31%,
				#FF9900 100%);
			background: -moz-radial-gradient(circle farthest-side at left center,
				#FF9900 0%,
				#43898A 31%,
				#FF9900 100%);
			background: radial-gradient(circle farthest-side at left center, #FF9900 0%, #43898A 31%, #FF9900 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	.floating-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-60%, -40%);
	}
}

@media (max-width: 1200px) {
	.blog-header {
		.header-text *{
			font-size: 120px;
			line-height: 125px;
		}
		.floating-text {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -40%);
		}
	}
}
@media (max-width: 768px) {
	.blog-header {
		.header-text *{
			font-size: 14vw;
			line-height: 15vw;
		}
		.floating-text {
			position: relative;
			top: 0;
			left: 0;
			transform: translate(0, 0);
		}
		.sea-floating-img {
			left: 0;
			transform: translateX(0);
			width: 100%;
			max-width: 475px;
			max-height: 475px;
		}
	}
}
@media (max-width: 575px) {
	.blog-header {
		.tv-floating-img {
			width: 100%;
		}
	}
}
