.photo-gallery {
	max-width: 1300px;
	max-height: 650px;
	height: 50vw;
	margin-bottom: 160px;
	img {
		border-radius: 10px;
	}
	.first,
	.seconde {
		position: relative;
		height: 100%;
	}
}
@media (max-width: 768px) {
	.photo-gallery {
		max-width: 1300px;
		max-height: unset;
		height: auto;
		margin-bottom: 0px;
		.first {
			height: 70vw;
			margin-bottom: 50px;
			.col-6 {
				margin-left: -50px;
			}
		}
		.seconde {
			height: 100vw;
		}
	}
}
