.blog-article-box {
	.image-box {
		overflow: hidden;
		width: 100%;
		border-radius: 10px;
	}
	img {
		transform: rotate(0) scale(1);
		transition: transform 0.5s ease-in-out;
	}

	&:hover {
		img {
			transform: rotate(0.47deg) scale(1.02);
		}
	}

	.blog-article-box .text-primary-dark {
		transition: color 0.3s ease-in-out;
		cursor: pointer;
		text-decoration: none;
	}
}
