#BambooHR {
  #BambooHR-ATS {
    padding: 0 20px 236px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: hisense !important;
    * {
      font-family: hisense !important;
      margin: 0 !important;
      height: fit-content !important;
    }
    @include mq(768) {
      padding: 0 20px;
    }
    .BambooHR-ATS-board {
      h2 {
        height: fit-content;
        color: #000;
        font-size: 60px;
        font-style: normal;
        font-weight: 500;
        line-height: 68.4px; /* 114% */
        letter-spacing: -1.2px;
        border-color: #000;
        margin-top: -80px !important;
        @include mq(768) {
          margin-top: -90px !important;
          font-size: 34px;
          line-height: 45.9px; /* 135% */
          letter-spacing: -0.68px;
        }
      }
      .BambooHR-ATS-Department-List {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
        font-size: unset !important;
        padding: 0 20px !important;
        .BambooHR-ATS-Department-Item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          width: 100%;
          margin-top: -20px !important;
          @include mq(768) {
            margin-top: -20px !important;
          }
          * {
            width: 100%;
          }
          .BambooHR-ATS-Department-Header {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; /* 125% */
            letter-spacing: -0.48px;
          }
          .BambooHR-ATS-Jobs-List {
            border: none !important;
            padding-bottom: 0 !important;
            .BambooHR-ATS-Jobs-Item {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: -20px !important;
              @include mq(768) {
                flex-direction: column;
                justify-content: center;
                align-items: start;
                margin-top: -10px !important;
              }
              a {
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 21.6px; /* 135% */
                text-decoration: none;
              }
              .BambooHR-ATS-Location {
                color: #8c8f8f;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 21.6px; /* 135% */
                text-align: end;
                display: block !important;
                margin-top: -21px !important;
                padding: 0 !important;
                @include mq(768) {
                  text-align: start;
                  margin-top: -30px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
