.custom-checkbox {
	border-radius: 50%;
	padding: 0;
	width: 13px;
	height: 13px;
	border: 1px solid #000;
	background-color: #fff;
	display: flex;
	align-items: center;
	&.checked {
		border: none;
	}
	.custom-border {
		width: 28px;
		height: 28px;
		border: 1px solid #ddd;
		background: transparent;
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		margin-right: 5px;
	}
}

.radio-checkbox {
	font-weight: 400;
	font-size: 12px;
	line-height: 17px;
	color: #000000;
	padding: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	.checkbox {
		border: 1px solid #00a29c;
		width: 15px;
		height: 15px;
		min-width: 15px;
		min-height: 15px;
		border-radius: 50%;
		cursor: pointer;
		position: relative;
		margin-right: 10px;
		&::after {
			content: '';
			display: none;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			position: absolute;
			top: 1px;
			left: 1px;
			background: #00a29c;
		}
		input {
			display: none;
		}
		&.checked {
			&::after {
				display: block;
			}
		}
	}
	button {
		border: none;
		background: transparent;
		text-decoration: underline;
	}
}
