.home-appliances-text-box-with-image {
	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		max-width: 740px;
		margin: 0 auto;
		color: #fff;
		.title {
			font-weight: 400;
			line-height: 48px;
			margin-bottom: 25px;
		}
		.paragraph {
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
		}
	}

	&.dark {
		background: #000000;
	}
}

.cool-features {
	padding: 100px 0;
	text-align: center;
	.title {
		font-weight: 400;
		line-height: 48px;
		color: #292929;
		margin-bottom: 35px;
	}
	.link {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		text-decoration-line: underline;
		color: #000000;
		margin-bottom: 75px;
		text-transform: uppercase;
		display: block;
	}
	.cool-features-container {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		.cool-features-item {
			padding: 48px;
			text-align: start;
			max-width: 100%;
			width: 100%;
			.image {
				width: 100%;
				margin-bottom: 66px;
			}
			.title {
				font-weight: 400;
				font-size: 33px;
				line-height: 36px;
				color: #8b8b8b;
				margin-bottom: 24px;
			}
			.colored-title {
				font-weight: 400;
				font-size: 18px;
				line-height: 30px;
				color: #00cccc;
				margin-bottom: 24px;
			}
			.paragraph {
				font-weight: 400;
				font-size: 18px;
				line-height: 30px;
				color: #292929;
				opacity: 0.54;
				margin-bottom: 24px;
			}
			.note {
				font-weight: 400;
				font-size: 14px;
				line-height: 24px;
				color: #292929;
				opacity: 0.54;
			}
			&:first-child .divider-border::before {
				display: none;
			}
			.divider-border::before {
				left: -48px;
			}
		}
	}
}

.home-appliance-image {
	img {
		max-height: 600px;
	}
	.heading-text {
		h3 {
			margin-bottom: 55px;
		}
		h4 {
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			color: #fff;
		}
	}
}

.home-appliance-text-box {
	h2 {
		color: #fff;
		font-weight: 400;
		line-height: 48px;
		color: #ffffff;
	}
	h4 {
		font-weight: 400;
		line-height: 43px;
	}
	h6 {
		color: #fff;
		font-weight: 400;
		line-height: 30px;
	}
	p {
		font-weight: 300;
		color: #fff;
		line-height: 30px;
	}
}

@media (max-width: 768px) {
	.tv-and-audio-find-hisense {
		h2.fs-2 {
			font-size: 24px !important;
		}
	}
	.home-appliances-text-box-with-image {
		.content {
			align-items: center;
			text-align: center;
		}
	}
	.cool-features {
		margin: 0 !important;
		max-width: unset !important;
		.cool-features-container {
			display: block;
			.cool-features-item {
				padding: 12px;
				margin-bottom: 50px;
				.image {
					margin-bottom: 40px;
				}
				.title {
					font-size: 24px;
				}
				.paragraph {
					font-size: 14px;
				}
				.note {
					font-size: 12px;
				}
			}
		}
	}
}
