.ql-align-center {
	text-align: center !important;
}
.article {
	p {
		margin-bottom: 24px;
		font-size: 18px;
		line-height: 30px;
	}
	a {
		word-wrap: break-word;
	}
	h1,
	h2,
	h3 {
		font-size: 42px;
		margin: 32px 0;
		line-height: 48px;
	}
	&.all-m-0 {
		p {
			margin: 0;
		}
	}
}
.space-125 {
	letter-spacing: 0.125em;
}

@media (max-width: 768px) {
	.article {
		h1,
		h2,
		h3 {
			font-size: 32px;
		}
		&.all-m-0 {
			p {
				margin-bottom: 8px;
			}
		}
	}
}

@media (min-width: 1400px) {
	.article {
		// h1,
		// h2,
		// h3 {
		// 	font-size: 52.5px;
		// }

		&.all-m-0 {
			p {
				margin-bottom: 8px;
			}
		}
	}
}
