footer.footer {
	background-color: #000;
	.footer-nav {
		> a {
			color: #999999;
			font-style: normal;
			font-weight: 700;
			font-size: 13px;
			text-transform: uppercase;
			text-decoration: none;

			&:hover {
				color: #ffffff;
				transition: 0.2s 300ms ease;
				.underline-on-hover::after {
					width: 100%;
				}
			}
		}
		ul {
			list-style: none;
			line-height: 13px;
			padding: 0;

			a {
				color: #999999;
				font-style: normal;
				font-weight: 700;
				font-size: 13px;
				text-transform: uppercase;
				text-decoration: none;

				&:hover {
					color: #ffffff;
					transition: 0.2s 300ms ease;
					.underline-on-hover::after {
						width: 100%;
					}
				}
			}
		}
	}

	.social-media {
		label {
			font-weight: 700;
			font-size: 13px;
			color: rgb(255, 255, 255, 0.25);
		}
		div {
			a {
				&:hover {
					svg {
						path {
							fill: var(--primary-color);
						}
						path[stroke='white'] {
							fill: var(--primary-color);
							stroke: var(--primary-color);
						}
					}
				}
			}
		}
	}

	.website-info {
		span,
		a {
			color: rgb(255, 255, 255, 0.25);
			font-style: normal;
			font-weight: 700;
			text-decoration: none;
			font-size: 13px;
			transition: 0.2s 300ms ease;
		}
		a {
			&:hover {
				span {
					color: #ffffff;
				}
				.underline-on-hover::after {
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.footer {
		.footer-nav {
			max-width: 100%;
			width: 100%;
			border-bottom: 1px solid #ffffff1a;
			margin-bottom: 25px;

			&:last-child {
				border-bottom: none;
			}

			ul {
				margin: 0;
			}
		}
		.full-width-border-sm {
			position: relative;

			&::after {
				content: '';
				display: inline-block;
				position: absolute;
				left: -24px;
				bottom: 0;
				border: 1px solid #ffffff33;
				width: calc(100% + 48px);
			}
		}
		.website-info {
			flex-direction: column;
			a {
				margin-bottom: 16px;
				padding: 5px 0;
			}
			> span {
				text-align: center;
				margin-top: 16px;
			}
		}
	}
}
