header,
header.blog {
  h1 {
    display: none;
  }

  .theme-light {
    &:hover {
      .stories-row {
        * {
          color: #fff;
        }
      }
      input {
        &::placeholder {
          color: #fff;
        }
      }
      .dropdown-menu {
        background: #000;
      }
    }
  }

  &.full_transparent {
    * {
      background: transparent !important;
      color: transparent !important;
      border-color: transparent !important;
      fill: transparent !important;
      stroke: transparent !important;
    }
  }
}
.search-articles {
  background: transparent;
  border: none;
  font-weight: 400;
  font-size: 18px;
  color: #101010;
  width: 150px;

  &:focus,
  &:focus-visible {
    background: transparent !important;
    outline: none;
    box-shadow: none !important;

    &::placeholder {
      color: #10101071;
    }
  }

  &::placeholder {
    font-weight: 400;
    font-size: 18px;
    color: #101010;
  }
}

.search-articles-btn {
  background: transparent;
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
}

/* header secondary */
.header-secondary {
  position: relative;
}
.header-secondary img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .header-secondary {
    padding-top: 75%;
  }
  .header-secondary img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* header secondary 2 */
.header-secondary2 {
  position: relative;
  width: 100%;
  height: 0;
  z-index: 1;
  padding-top: 40.909%;
  overflow: hidden;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.header-secondary-product-image {
  img {
    position: unset !important;
    top: unset !important;
    left: unset !important;
    transform: unset !important;
    -webkit-transform: unset !important;
    -moz-transform: unset !important;
    -ms-transform: unset !important;
    -o-transform: unset !important;
  }
}

ul.header_dropdown_sublist.sublist {
  position: relative;
  left: 16px;
  list-style: none !important;
  padding: 16px 0 0 !important;
  li.item {
    padding: 4px !important;
    a {
      span {
        font-size: 12px !important;
        font-weight: 400;
        line-height: 25px;
        transition: all 300ms ease-in;
        color: #ababb0;
      }
    }
    &:hover {
      span {
        color: #fff !important;
      }
    }
  }
  &.hamburger {
    padding: 0 !important;
    li.item {
      padding: 0 !important;
      a.dropdown-item {
        padding: 4px 0 4px 16px !important;
        span {
          color: #c7c7c9;
        }
      }
      &:hover {
        span {
          color: #fff !important;
        }
      }
    }
  }
}
.top-nav {
  .navbar-brand {
    position: relative;
    z-index: 3;
  }
  svg {
    path {
      transition: fill stroke 0.4s ease-in-out;
    }
  }
  &:hover {
    .navbar-brand {
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
  @include mq(768) {
    .navbar-brand {
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }

  &.nav-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  &.hidden.nav-absolute {
    position: fixed;
  }
  .nav-item {
    .nav-link {
      position: relative;
      color: inherit;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 13px;
      text-transform: uppercase;
      padding: 0.5em 0 !important;
      transition: all 0.4s ease-in-out;

      > span {
        white-space: nowrap !important;
      }
    }
  }
  &:hover {
    .nav-item {
      .nav-link {
        color: #fff;
      }
    }
  }
  .nav-link {
    letter-spacing: 1.3px;
    white-space: nowrap;
  }
  &:hover {
    li {
      &.nav-item-button {
        &[data-button="menu"] {
          svg {
            path {
              fill: #fff;
            }
          }
        }
        &.nav-item-button[data-button="search"] svg path {
          stroke: #fff;
        }
      }
    }
  }
  @include mq(768) {
    li {
      &.nav-item-button {
        &[data-button="menu"] {
          svg {
            path {
              fill: #fff;
            }
          }
        }

        &.nav-item-button[data-button="search"] svg path {
          stroke: #fff;
        }
      }
    }
  }

  .nav-item-button {
    .btn,
    .btn:hover {
      border: none;
    }
  }
  &.hidden,
  &.search-mode {
    background: #000;
    color: #fff;

    .navbar-brand {
      svg {
        path {
          fill: #fff;
        }
      }
    }
    li {
      &.nav-item-button {
        &[data-button="menu"] {
          svg {
            path {
              fill: #fff;
            }
          }
        }

        &.nav-item-button[data-button="search"] svg path {
          stroke: #fff;
        }
      }
    }
    li {
      display: none;
      &.nav-item-button[data-button="menu"] {
        display: block;
        position: relative;
        z-index: 3;
      }
    }

    .dropdown-list-toggle {
      &:hover {
        .nav-dropdown-list {
          height: 0;
          padding: 0;
        }
      }
    }
  }
  .nav-item .nav-link,
  .dropdown-item {
    &.hover,
    &:hover {
      .underline-on-hover::after {
        width: 100%;
      }
    }
  }

  &.search-mode {
    ul {
      &.navbar-nav {
        &.d-none {
          display: none !important;
        }

        &:last-child {
          li[data-button="search"] {
            display: none !important;
          }
        }
      }
    }
  }

  .search-form {
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(100% - 370px);
    top: 8px;
    right: 150px;
    height: 35px;
    z-index: 3;
    margin-top: 15px;
    clip-path: inset(0 0 0 100%);
    transition: all 0.3s ease-in-out;
    .search_button {
      &:focus-within,
      &:focus-visible,
      &:hover {
        border: none;
        outline: none;
      }
    }
    &.visible {
      clip-path: inset(0 0 0 0);
      .search_button {
        display: none;
        opacity: 0;
        cursor: default;
      }
    }
  }
  .search-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffffcc;
    .search_close {
      background: transparent;
      padding: 3px;
      border: none;
    }
    .search_field {
      border: none;
      width: 100%;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      background: transparent;
      &::placeholder {
        font-size: 14px;
        font-weight: 700;
        color: #ffffff4d;
        position: relative;
        bottom: 2px;
      }
      &:focus {
        outline: 0;
        background-color: transparent !important;
      }
    }
  }
  .unhovered-list {
    position: absolute;
    z-index: 2;
    top: 45px;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #000;
    opacity: 0;
    overflow: hidden;
  }
  .nav-dropdown-list {
    position: absolute;
    z-index: 2;
    top: 45px;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #000;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    overflow: hidden;
    h3,
    h4,
    ul,
    img {
      animation-name: HeaderAnimation;
      animation-duration: 0.3s;
      animation-delay: 0.1s;
      opacity: 0;
      animation-fill-mode: forwards;
    }
    img {
      max-height: 330px;
      object-fit: contain;
    }
    h3 {
      font-weight: 400 !important;
      font-size: 28px !important;
      color: #fff;
      padding-bottom: 22px;
      width: fit-content;
      border-bottom: 1px solid var(--primary-color);
      margin-bottom: 16px;
    }
    h4 {
      margin: 0;

      a {
        font-weight: 700;
        font-size: 14px;
        color: var(--primary-color) !important;
        text-decoration: none;
      }
    }

    ul {
      padding: 0;
      list-style: none;
      li {
        padding: 8px 0 !important;

        a {
          position: relative;
          color: #fff;
          font-style: normal;
          font-weight: 400 !important;
          font-size: 12px !important;
          line-height: 20px !important;
          text-decoration: none;

          &:hover {
            .underline-on-hover {
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  @keyframes HeaderAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .dropdown-list-toggle {
    &:hover {
      .nav-dropdown-list {
        opacity: 1;
        min-height: 500px !important;
        height: auto !important;
        padding: 70px 40px 40px 40px !important;

        > * {
          display: block;
        }
      }
      .dropdown-mouse-exit-top,
      .dropdown-mouse-exit-bottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1rem;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        background-color: red;
        opacity: 0%;
      }
      .dropdown-mouse-exit-top {
        z-index: 1000;
        height: 1rem;
        top: 0;
      }
      .dropdown-mouse-exit-bottom {
        bottom: 0;
        height: 1rem;
      }
    }
  }
}

.top-nav.hidden .dropdown-list-toggle:hover .nav-dropdown-list > *,
.top-nav.search-mode .dropdown-list-toggle:hover .nav-dropdown-list > *,
.top-nav .nav-dropdown-list > * {
  display: none;
}
.header_background_layout {
  height: 0px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 45px;
  z-index: 5;
  width: 100%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;

  &.active {
    height: 500px;
  }
}

@media (max-width: 1200px) {
  .top-nav .search-form {
    width: 69%;
    left: 21%;
  }
}
@media (max-width: 991px) {
  .top-nav .search-form {
    width: 65%;
    left: 22%;
  }
}
@media (max-width: 767px) {
  .top-nav .search-form {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
  }
  /* home top ads */
  .top-nav.search-mode + .home-top-advertisement {
    top: 130px;
  }
  .top-nav .search-form,
  .search_result_box {
    width: 100% !important;
    right: 0 !important;
  }
  .top-nav {
    .search-form {
      height: 0px;
      margin-top: 0px;
      transition: clip-path 0.3s 600ms ease-in-out;
      &.visible {
        height: 35px;
        margin-top: 15px;
      }
    }
  }
}

@media (max-width: 315px) {
  .top-nav ul,
  .top-nav .navbar-brand {
    padding-right: 0;
  }
}

/* side-nav */
.side-nav {
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  top: 72px;
  z-index: 999999999999998;
  height: calc(100% - 72px);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: 0.2s ease;
  background-color: #000;
  .nav-item {
    .nav-link {
      position: relative;
      color: #fff;
      font-style: normal;
      font-weight: 400 !important;
      font-size: 12px !important;
      line-height: 22px !important;
      text-transform: uppercase;
      margin-right: 24px;
      background-color: transparent;
      border: none;
    }

    &:last-child {
      border-bottom: none;
    }
    &.show {
      .nav-link {
        color: #fff;
      }
    }
  }

  .navbar-nav {
    &:last-child {
      animation-name: SideNavAnimation;
      animation-duration: 0.5s;
      animation-delay: 0.2s;
      opacity: 0;
      animation-fill-mode: forwards;
      .nav-link {
        color: #ffffffb3;
        &:hover {
          color: #ffffff;
          .underline-on-hover {
            &::after {
              width: 100%;
            }
          }
        }
        .underline-on-hover {
          &::after {
            bottom: 12px;
          }
        }
      }
      li {
        a {
          font-size: 48px;
          text-transform: capitalize;
        }
      }
    }
  }
  &.hidden {
    display: none;
    * {
      z-index: -1;
      display: none;
    }
  }
  .dropdown-menu {
    background-color: #000;
  }
  .dropdown-item {
    color: #ababb0 !important;
    font-weight: 400 !important;
    font-size: 12px;
    padding: 8px 0 8px 20px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;

    &.hover,
    &:hover {
      background: #000;
      color: rgb(255, 255, 255, 1) !important;
      .underline-on-hover {
        &::after {
          width: 100%;
        }
      }
    }
    &:focus,
    &:active {
      background: transparent !important;
    }
  }
  span {
    &.dropdown-item {
      color: var(--primary-color);
      font-size: 10px;
      padding-left: 0;
    }
  }
  .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      display: none;
    }
  }
  .dropdown {
    i {
      transition: 0.2s ease;
    }
    &.show i {
      transform: rotate(180deg);
    }
  }
}

.side-nav::-webkit-scrollbar {
  display: none;
}

/* hamburger-menu */

.hamburger-menu {
  .bar {
    transform-origin: 50% 50%;
    transition: all 0.2s ease;
  }
  .bar-top {
    transform: translate(0, -25%);
  }

  .bar-bottom {
    transform: translate(0, 25%);
  }
}

.hamburger-icon {
  &.close {
    .hamburger-menu {
      .bar-top {
        transform: rotate(135deg);
      }
      .bar-bottom {
        transform: rotate(-135deg);
      }
      .bar-middle {
        opacity: 0;
      }
    }
  }
}

@media (max-width: 991px) {
  .nav-item {
    display: none;
  }
  .side-nav {
    display: flex;
    .nav-item {
      display: list-item;
      .dropdown-toggle:hover {
        .underline-on-hover {
          &::after {
            width: 100%;
            bottom: 0;
          }
        }
      }
    }
    .side-nav {
      ul {
        width: 100%;
      }
    }
    .navbar-nav {
      &:last-child {
        li {
          a,
          button {
            text-transform: uppercase;
            font-size: 26px;
            margin: 6px 0;
            padding: 0 12px 12px;
          }
        }
      }
    }
    &.hidden {
      display: none;
      width: 100%;
    }
  }
}

.header_search_box {
  .search-form{
    .search-box{
      button{
        svg{
          max-width: 20px;
          max-height:20px;
        }
      }
    }
  }
  .search_result_box {
    position: absolute;
    padding: 28px 36px 48px;
    overflow: auto;
    max-height: 550px;
    top: 100%;
    width: 70%;
    right: 8%;
    border-radius: 0px 0px 10px 10px;

    > div {
      margin-bottom: 47px;
      &:last-child {
        margin-bottom: 0;
      }
      h6 {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #a6a8ac !important;
        margin-bottom: 22px;
      }

      ul {
        display: grid;
        gap: 22px;
        li {
          display: block !important;
          color: #fff;

          a {
            text-decoration: unset;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #fff;

            svg {
              margin-right: 13px;
              max-width:20px;
              max-height:20px;
            }
          }
        }
      }
    }
  }

  .search_result_box.theme-light {
  }
}

@keyframes SideNavAnimation {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
