.blog .video-container video:hover {
	transform: rotate(1.12deg) scale(1.035);
}
.video-container {
	width: 100%;
	padding-top: 0;
	padding-bottom: 56.25%;
	height: auto;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	.play-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		background-color: #fff;
		border: 1px solid #f3f3f3;
		box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.02);
		border-radius: 50%;
		padding: 50px 53px;
		opacity: 1;
		transition: all 0.3s ease-in;
		&:hover {
			padding: 60px 63px;
			opacity: 1;
			z-index: 1;
		}
	}
	.playing {
		+ .play-btn {
			opacity: 0;
			z-index: 0;
			&:hover {
				padding: 60px 63px;
				opacity: 1;
				z-index: 1;
			}
		}
		&:hover {
			.play-btn {
				opacity: 1;
				z-index: 1;
			}
		}
	}
	video {
		width: 100%;
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		max-width: 100%;
		height: auto;
		min-width: 100%;
		min-height: 100%;
		transition: all 0.3s ease-in;
	}
}

@media (max-width: 768px) {
	.blog .video-container .play-btn {
		padding: 25px 28px;
	}

	.blog .video-container .playing:hover + .play-btn:hover,
	.blog .video-container .play-btn:hover {
		padding: 35px 38px;
	}
}
